/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Features - Layout Showcase - Core */
.layout-showcase {position: relative;}
.layout-showcase:after {display: table;content: "";*zoom: 1;clear: both;}
.layout-showcase ul {list-style: none !important;margin: 0;padding: 0;}
.layout-showcase .sprocket-features-inner {position: relative;}

/* Features - Layout Showcase - Content */
.pagination-active {margin-bottom: 35px;}
.layout-showcase .sprocket-features-list {position: relative;overflow: hidden;padding: 0 !important;}
.layout-showcase .sprocket-features-list li {position: absolute;top: 0;left: 0;opacity: 0;width: 100%;height: 100%;display: none;}
.layout-showcase .sprocket-features-list li.active {position: static;height: auto;opacity: 1;display: block;}
.arrows-active .sprocket-features-list {margin-left: 50px;margin-right: 50px;}
.layout-showcase .sprocket-features-img-container img {float: right;margin-left: 25px;}
.layout-showcase .sprocket-features-desc .readon {margin-top: 25px;}
.layout-showcase .sprocket-features-title {font-size: 45px;display: inline-block;}
.layout-showcase .sprocket-features-title span {display: block;font-size: 68px;line-height: 68px;margin-bottom: -20px;padding-top: 30px;}
.layout-showcase .sprocket-features-desc .desc-text {font-size: 1.5em;line-height: 1.6em;}
.layout-showcase .sprocket-features-content {max-width: 440px;}

/* Features - Layout Showcase - Navigation */
.sprocket-features-arrows .arrow {position: absolute;display: block;width: 94px;height: 99px;top: 50%;margin-top: -49px;opacity: 0.7;cursor: pointer;z-index: 10;text-align: center;font-size: 2.2em;}
.sprocket-features-arrows .prev {left: -60px;border-radius: 0 14px 14px 0;}
.sprocket-features-arrows .next {right: -60px;border-radius: 14px 0 0 14px;}
.layout-showcase .sprocket-features-arrows .arrow:hover {opacity: 1;}
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.sprocket-features-arrows .prev span, .sprocket-features-arrows .next span {width:94px;height:99px;display:block;background-repeat: no-repeat;}
.sprocket-features-arrows .prev span {background-position: 27px 50%;}
.sprocket-features-arrows .next span {background-position: -47px 50%;}
.layout-showcase .sprocket-features-pagination {position: absolute;left: 50px;bottom: -50px;z-index: 10;padding: 0 !important;margin-top: 15px;}
.layout-showcase .sprocket-features-list .readon {margin-bottom: 50px;}
.layout-showcase .sprocket-features-pagination-hidden {display: none;}
.layout-showcase .sprocket-features-pagination li {display: inline-block;width: 13px;height: 13px;border-radius: 2em;cursor: pointer;}
.layout-showcase .sprocket-features-pagination li.active {opacity: 1;}
.layout-showcase .sprocket-features-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.pagination-active .sprocket-features-pagination {bottom: -50px;}

/* Features - Layout Showcase - Transitions */
.layout-showcase .sprocket-features-pagination li, .layout-showcase .sprocket-features-arrows .arrow {-webkit-transition: opacity 0.2s ease-in;-moz-transition: opacity 0.2s ease-in;-o-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;}

/* Diametric Header Overrides */
#rt-header .sprocket-features.layout-showcase {position: static;margin-bottom: -25px;margin-top: 10px;}
#rt-header .sprocket-features-arrows .prev {left: 0;}
#rt-header .sprocket-features-arrows .next {right: 0;}
#rt-header .arrows-active .sprocket-features-list {margin-left: 0;margin-right: 0;}
#rt-header .layout-showcase .sprocket-features-pagination {left: 0;bottom: 10px;}
#rt-header .pagination-active {margin-bottom: 0;}

/* Diametric Showcase Overrides */
#rt-showcase .sprocket-features.layout-showcase {position: static;margin-bottom: -25px;margin-top: 10px;}
#rt-showcase .sprocket-features-arrows .prev {left: 0;}
#rt-showcase .sprocket-features-arrows .next {right: 0;}
#rt-showcase .arrows-active .sprocket-features-list {margin-left: 0;margin-right: 0;}
#rt-showcase .layout-showcase .sprocket-features-pagination {left: 0;bottom: 10px;}
#rt-showcase .pagination-active {margin-bottom: 0;}