/* Custom CSS */


mark {
background-color: white;}

/*ul.products li {
width:25%;
}*/

#navbar-1 {
/*margin-top: -40px;*/
}

ul.cart_list li img, ul.product_list_widget li img {
width: 90px;}

#navbar-1-right.navbar-right-text {
padding-top: 10px;
padding-right: 25px;
}

#navbar-1-right.navbar-right-text img {
padding-right: 10px;}

div.product .woocommerce_tabs ul.tabs li a, #content div.product .woocommerce_tabs ul.tabs li a {
color: black !important;
}#shopping_cart-2 {
color: black;}

#featured-products-3 li{
color: black;
list-style-type: none;}

#featured-products-3 li {
color: white;}

#shopping_cart-2 {
color: white;}

.widget_shopping_cart .total {
border: none;}

.widget_shopping_cart .buttons::after {
padding-bottom: 10px;
}

a.button, button.button, input.button, #respond input#submit, #content input.button {
margin-left: 5px;}

#php-text-14 img{
padding-right:10px;
}

#php-text-15 {

/*background: #ff6 !important;
color: black;*/
}

/*input, input[type="password"], input[type="search"], isindex{
background-color: #ababab;
border-color: gray;}

textarea {
background-color: #ababab;
border-color: gray;}*/



#black-studio-tinymce-2 h2 {
font-size: 200%}

#payment {
background: transparent !important;}

.entry-content p, .entry-content ul li, .entry-content ol li {
color: #fff;}

#payment div.payment_box {
background: red;}


#payment div.form-row {
border: 0 !important;}

.related ul.products li.product, .upsells.products ul.products li.product, .related ul li.product, .upsells.products ul li.product {
width: 30%;
}

#mc_embed_signup {
background-color: #f8da76;
color: #000000;
padding: 10px;}

ul.products li.product a img {
width: auto;
}

/* Custom Responsive CSS */

@media only screen and (max-width: 1000px) {
.header_right {
padding: 10px 0;
margin-top: -25px;
}

.nav-1-chosen-select, .nav-2-chosen-select {
background: #000;
color: #fff;
font-size: 16px;
border: 1px solid #c0c0c0;
}

#ez-feature-top-container-wrap {
padding-left: 20px;
padding-right: 20px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

}

@media only screen and (min-width: 480px) and (max-width: 1000px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 479px) {
#title {
font-size: 32px;
}


}