/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

#rt-navigation .rt-container {height: 55px;}
#rt-main-container {padding: 15px 200px;}
#rt-body-surround {padding: 15px;}
.component-content .title span {font-size: 6em;}
.component-content .title {margin: 50px 0 15px;text-align: center;}
h2 {font-weight: normal;font-size: 2.8em;}
.rt-error-box {width: 500px;margin: 0 auto;}
.readon span {color: #fff;text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);}

.error404 .logo-module {width: 145px;height: 153px;margin: -37px 5px -60px 8px;display: block;}

.logo-diametric-logostyle-style1.error404 .logo-module {background-image: url(../images/logo/preset1/logo.png);}
.logo-diametric-logostyle-style2.error404 .logo-module {background-image: url(../images/logo/preset2/logo.png);}
.logo-diametric-logostyle-style3.error404 .logo-module {background-image: url(../images/logo/preset3/logo.png);}
.logo-diametric-logostyle-style4.error404 .logo-module {background-image: url(../images/logo/preset4/logo.png);}
.logo-diametric-logostyle-style5.error404 .logo-module {background-image: url(../images/logo/preset5/logo.png);}
.logo-diametric-logostyle-style6.error404 .logo-module {background-image: url(../images/logo/preset6/logo.png);}
.logo-diametric-logostyle-style7.error404 .logo-module {background-image: url(../images/logo/preset7/logo.png);}
.logo-diametric-logostyle-style8.error404 .logo-module {background-image: url(../images/logo/preset8/logo.png);}
.logo-diametric-logostyle-style9.error404 .logo-module {background-image: url(../images/logo/preset9/logo.png);}
.logo-diametric-logostyle-style10.error404 .logo-module {background-image: url(../images/logo/preset10/logo.png);}
.logo-diametric-logostyle-style11.error404 .logo-module {background-image: url(../images/logo/preset11/logo.png);}
.logo-diametric-logostyle-style12.error404 .logo-module {background-image: url(../images/logo/preset12/logo.png);}