/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* RokAjaxSearch */
body.rtl .rokajaxsearch {direction: ltr;text-align: right;}
body.rtl .roksearch_option {float: right !important;}
body.rtl .search_options {float: right;}
body.rtl .search_options label {margin-right: 0 !important;margin-left: 15px !important;}
body.rtl #rokajaxsearch #roksearch_search_str.loading {background-position: 0 50% !important;}
body.rtl #roksearch_results {direction: ltr;text-align: right;}
body.rtl #roksearch_results .viewall {float: right;}
body.rtl #roksearch_results .estimated_res, body.rtl #roksearch_results .pagination_res {float: right;}
body.rtl #roksearch_results a#roksearch_link {float: left;padding-right: 0;margin-left: 5px;}
body.rtl #roksearch_results .container-arrows {float: right;margin-right: 0;margin-left: 5px;}
body.rtl #roksearch_results span.small {direction: rtl;}

/* RokTwittie */
body.rtl #roktwittie .info {margin-left: 0;margin-right: 58px;}
body.rtl #roktwittie .status .header .avatar {float: right;}
body.rtl #roktwittie .status ul li .title {float: right;text-align: left;}
body.rtl #roktwittie .status ul li .content {margin-left: 0;margin-right: 60px;}
body.rtl #roktwittie .user .feed a {float: right;padding-right: 0;padding-left: 20px;}
body.rtl #roktwittie .roktwittie-avatar {margin-right: 0;margin-left: .5em;float: right;}
body.rtl #roktwittie div.roktwittie-infos .roktwittie-date {float: left;}
body.rtl #roktwittie .roktwittie-surround {padding-left: 0;padding-right: 5px;}
body.rtl #roktwittie .roktwittie-t1 {border: 0 none;}
body.rtl #roktwittie .roktwittie-t1 {border: 0 none;background-position: -19px 0 !important;margin-right: -6px;width: 12px !important;}

/* RokSocialButtons */
body.rtl .roksocialbuttons {float: left;margin: 0 20px 0 -15px;}