/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Global */
.menutop {z-index:1;text-transform: uppercase;}
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}
.menutop li .fusion-submenu-wrapper {float: none;left: -999em;position: absolute;z-index: 500;}
.menutop li:hover li ul, .menutop li.sfHover li ul {top: -999em;}
.menutop li:hover ul, .menutop li.sfHover ul {top: 0;}

/* Root Items */
.rt-menubar {display: block;position: relative;margin: 0;padding: 0 25px;}
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;z-index: 1;}
.menutop li.root {float: left;margin: 0;padding: 0;transition: background-color 0.2s linear;}
.menutop li.root > .item {white-space: nowrap;display: block;font-size: 0.9em;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0;outline: none;font-weight: normal;line-height: 60px;overflow: visible;background-repeat: no-repeat;background-position: 0 50%;}
.menutop li.root:first-child > .item {background: none !important;}
.menutop li.root > span.item {cursor: default;}
.menutop li.root .subtext {line-height: 64px;}
.menutop li.root > .item span span {display: block;outline: none;width: auto;padding: 15px 20px;line-height: 30px;}
.menutop li.root > .item.subtext span span {line-height: 20px;}
.menutop li.root:hover > .item span span, .menutop li.root.active > .item span span, .rt-splitmenu .menutop li:hover > .item span span, .rt-splitmenu .menutop li.active > .item span span, .menutop li.root.f-mainparent-itemfocus > .item span span {background-repeat: no-repeat;background-position: right -62px;}
.menutop li.parent.root .item span span .daddyicon, .menutop li.root .daddy.item .daddyicon {width: 8px;height: 7px;position: absolute;right: 7px;top: 27px;padding: 0;background-position: 0 0;background-repeat: no-repeat;}
.menutop li.parent.root.active .item span span .daddyicon, .menutop li.root.active .daddy.item .daddyicon {background-position: 0 -174px;}
.menutop li.f-main-parent.root .item span span {padding-right: 28px;}
.menutop li.root > .item em {font-size: 10px;display: block;font-style: normal;line-height: 100%;text-align: left;text-transform: none;letter-spacing: normal;margin-top: 0;}
.menutop li.root > .item img {margin: 5px 7px 0 -9px;}
.menutop li.root > .f-submenu-pad {padding: 0;}
.menutop > li.active.root .item.subtext, .menutop li.root.f-mainparent-itemfocus .item.subtext, .menutop li.f-mainparent-itemfocus .item.subtext, .rt-menubar .menutop > li:hover .item.subtext, .rt-menubar .menutop > li.active .item.subtext {line-height: 57px;}
.rt-menubar ul.menutop li:hover > .item, .rt-menubar ul.menutop li.f-mainparent-itemfocus > .item, .rt-menubar ul.menutop li.active > .item {background-image: none;}
.rt-menubar ul.menutop li.active {background-repeat: repeat-x;margin: 0 -3px 0 0;padding: 0 3px 0 0;z-index: 101;}
.rt-menubar ul.menutop li:hover, .rt-menubar ul.menutop li.f-mainparent-itemfocus {background-repeat: repeat-x;margin: 0 -3px 0 0;padding: 0 3px 0 0;z-index: 101;}
.rt-menubar ul.menutop li.active .item > span, .rt-menubar ul.menutop li:hover .item > span, .rt-menubar ul.menutop li.f-mainparent-itemfocus .item > span {background-repeat: no-repeat;background-position: left 0;}
.rt-menubar ul.menutop li.active .rt-arrow-pointer, .rt-menubar ul.menutop li:hover .rt-arrow-pointer, .rt-menubar ul.menutop li.f-mainparent-itemfocus .rt-arrow-pointer {border-left: 7px solid transparent;border-right: 7px solid transparent;border-top-width: 7px;border-top-style: solid;content: "";height: 0;width: 0;position: absolute;bottom: -8px;left: 50%;margin-left: -7px;}
.rt-menubar ul.menutop li > .item > span {background-repeat: no-repeat;background-position: 0 50%;display: block;padding: 0 6px 0 0;margin: 0 -9px 0 0;}

/* Dropdown Surrounds */
.menutop .f-submenu-pad {padding: 0 6px;}
.menutop ul {padding: 0;margin: 0;float: left;}
.menutop .drop-bot {height: 1px;overflow: hidden;clear: both;}
.menutop .fusion-submenu-wrapper {height: auto !important;padding: 10px 0;border-radius: 3px;position: relative;}
.menutop .fusion-submenu-wrapper.level2 {border-radius: 0 0 5px 5px;border-top: none;}

/* Dropdown Items */
.menutop ul li {display: block;background-position: 6px 17px;background-repeat: no-repeat;}
.menutop ul li > .item {padding: 0;margin: 0 10px;height: auto;display: block;font-size: 1em;line-height: 10px;font-weight: normal;letter-spacing: normal;position: relative;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item {margin: -2px 8px;padding: 1px 0;}
.menutop ul li.active > .item {margin: 0 8px;padding: 2px 0;}
.menutop ul li > .item:hover, .menutop ul li.active > .item, .menutop ul li.f-menuparent-itemfocus > .item {border-radius: 6px;}
.menutop ul li > .item:hover span, .menutop ul li.active > .item span, .menutop ul li.f-menuparent-itemfocus > .item span {margin: -1px 0;border-radius: 6px;}
.menutop li > .bullet {padding-left: 10px;}
.menutop li .item img {float: left;margin: 0px 6px 0px 0;vertical-align: top;}
.menutop .fusion-js-subs li > .item span {padding: 12px 7px;display: block;width: auto;transition: background 0.2s linear;}
.menutop ul li .nolink span {display: block;}
.menutop ul li .item {cursor: pointer;font-size: 0.9em;}
.menutop li span.item {cursor: default;outline: none;}
.menutop ul li .subtext em {line-height: 14px;}
.menutop ul li > .fusion-modules.item:hover {background: none;border: none !important;box-shadow: none;margin: -1px 10px -1px 10px;}
.menutop ul li > .fusion-modules.item .readon span, .menutop ul li > .fusion-modules.item:hover .readon span {display: block;margin: 0;padding: 4px 15px;line-height: 22px;cursor: pointer;overflow: visible;font-weight: normal;position: relative;white-space: normal;background-color: transparent;background-position: 0 -4px;background-repeat: repeat-x;border-radius: 4px;border-left: none;border-right: none;border-bottom: none;font-size: 1em;}
.menutop ul .readon span {width: auto;}
.menutop ul li > .daddy span {background-position: 95% -317px;background-repeat: no-repeat;}

/* No JS */
.menutop li.root:hover > .fusion-submenu-wrapper {top: 65px;left: 0;}
.menutop ul li:hover > .fusion-submenu-wrapper {left: 180px;top: -8px;}

/* Fusion JS */
.fusion-js-container {display: block;height: 0;left: 0;overflow: visible;position: absolute;top: 0;z-index: 600000!important;background: transparent !important;}
.fusion-js-subs {display: none;margin: 0;overflow: hidden;padding: 0;position: absolute;}

/* Grouped & Modules */
.fusion-grouped {padding: 4px 0 10px 5px;}
.fusion-grouped ol {padding: 0;}
.fusion-grouped ol li span {font-size: 11px;padding-left: 10px;}
.menutop .fusion-grouped ol li {margin-left: 0;padding: 0;background-image: none;}
.menutop .type-module ol {padding: 0;background-image: none;}
.menutop .type-module ol li {padding: 0;}
.menutop .type-module ol li .fusion-modules {background: none;}
.menutop .type-module ol li .fusion-module {padding: 0;background: none;overflow: hidden;}
.menutop .fusion-module, .menutop .fusion-modules, .menutop .fusion-grouped {display: block;}
.menutop .fusion-module em {display: inline;font-size: inherit;font-style: italic;}
.menutop .fusion-module a {font-size: inherit;line-height: 130%;}
.menutop .fusion-module p {line-height: 160%;}
.menutop ul li.grouped-parent > .daddy span {background-image: none;}
.fusion-module.module-padding {padding: 10px;}