/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

body h1 {border: none;}
body .rt-article-icons {margin-top: 3px;}

/* Menu */
body #rt-menu .rt-container {background: transparent;height:auto;overflow:hidden;}
.rt-menu-container {overflow:hidden;}
#rt-menu-root {z-index:50;position:relative;}
#rt-menu ul.menu ul {display: none;position:absolute;z-index:5;top: 0; left: 0;background:white;}
#rt-menu , #rt-menu .rt-container {position:relative;z-index:10000;}
body.rt-normal #rt-menu .rt-container, body.rt-flipped #rt-menu .rt-container {width: 320px;}
body.rt-right #rt-menu .rt-container, body.rt-left #rt-menu .rt-container {width: 480px;}
#rt-menu ul.menu {height:100%;}
#rt-menu ul.menu li a:hover, #rt-menu ul.menu li.active a:hover {background: transparent !important;}
body #rt-menu {background: transparent !important;height: auto;}
body #rt-menu ul.menu li a {font-size: 0.9em;line-height:2.2em !important;padding: 0 10px;}
#rt-left-menu, #rt-right-menu {background-image: none;background-repeat: no-repeat; width: 26px; height: 27px;position: absolute;z-index:2;}
#rt-left-menu {background-position: bottom left;left: 0;}
#rt-right-menu {background-position: top left;right:0;}
#rt-menu ul.menu li {list-style: none;float: left;padding: 0;background: none;}
body.headerblock-overlay-light #rt-menu ul.menu li a {text-shadow: 1px 1px 1px #fff;}
body.headerblock-overlay-dark #rt-menu ul.menu li a {text-shadow: 1px 1px 1px #000;}
body.headerblock-overlay-light #rt-menu ul.menu li a:hover, body.headerblock-overlay-light #rt-menu ul.menu li a:active {color: #333;}
body.headerblock-overlay-dark #rt-menu ul.menu li a:hover, body.headerblock-overlay-dark #rt-menu ul.menu li a:active {color: #fff;}

/* Reminder:  320 / 480 */
body {word-wrap: break-word;}
body .rt-container {background: transparent;}
body h1 {border-bottom: 0;}
a {-webkit-transition: color 0 ease-out;}
body.rt-normal #form-login .inputbox, body.rt-flipped #form-login .inputbox {width: 100px !important;}
body.rt-normal #rt-header #form-login-remember, body.rt-flipped #rt-header #form-login-remember {position:relative;margin-top:10px;top:0;}
body.rt-normal #rt-bg-image, body.rt-flipped #rt-bg-image {-webkit-background-size: 360px auto;}
body.rt-right #rt-bg-image, body.rt-left #rt-bg-image {-webkit-background-size: 480px auto;}
body .cols4 .rg-gm-slice-list li {width: 50%;}
body #rt-utility .rt-block {margin: 5px 0;padding: 0;}
body #developed-by a, body #powered-by a {margin: 0 auto;height: 26px;vertical-align: middle;}
body #rt-header #form-login ul {position:relative;top:0;margin-top:10px;}
#form-login fieldset p {margin:0;}
#rt-top-surround {padding-top: 34px;padding-bottom: 50px;}
#rt-logo {width: 145px;height: 153px;background-repeat: no-repeat;top: -45px;position: absolute;left: 84px;}
body #developed-by a {height: 16px;}
#rocket {float: none;}
#rt-main-container {margin: 15px 0 !important;}
.rt-block.component-block, #rt-content-bottom, #rt-content-top {margin: 0 !important;}

/* Joomla */
body .weblinks .rt-wordpress-table img {width: 16px;height: 16px;}
.component-content .edit img {display: none;}

/* Demo */
img.floatleft {width:100px !important;height:100px !important;margin-left: 16px;margin-top: 13px;}
.fp-main-img {float: none !important;box-shadow: none !important;margin: -10px -10px 0 -10px !important;}
.fp-main-img img {width: 306px !important;}
body .medmargintop {margin-top: 0 !important;}
body .rt-center {margin-top: 10px !important;margin-right: 5px !important;margin-left: 5px !important;}
.roksocialbuttons {display: none !important;}

#rt-showcase .rt-container .rt-block {margin: 10px; background: none !important;text-shadow: none !important;-webkit-border-radius: none !important;-webkit-box-shadow: none;border: none;}
.panelsubtitle {font-size: 1em !important;}
.rt-container {background: none !important;}
