/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

#rt-navigation {box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset;background-image: url(../images/overlays/light/nav-overlay.png);}
#rt-navigation2 {background-color: #FBFBFB;background-image: url(../images/overlays/light/mod-gradient.png);}
#rt-navigation3 {background-image: url(../images/overlays/light/nav-lines.png);}
.rt-menubar .item {color: #000;}
.rt-menubar ul.menutop li.active, .rt-menubar ul.menutop li.active:hover, .rt-menubar ul.menutop li.active.f-mainparent-itemfocus {background-image: url(../images/overlays/light/nav-overlay.png);}
.rt-menubar ul.menutop li:hover, .rt-menubar ul.menutop li.f-mainparent-itemfocus {background-color: #FBFBFB;background-image: url(../images/overlays/light/nav3-overlay.png);}
.rt-menubar ul.menutop li.active .item span, .rt-menubar ul.menutop li:hover .item span, .rt-menubar ul.menutop li.f-mainparent-itemfocus .item span {background-image: url(../images/overlays/light/menu-shadow.png);}
.rt-menubar ul.menutop li.active .item > span {color: #fff;text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);background-image: url(../images/overlays/light/menu-shadow.png);}
.rt-menubar ul.menutop li > .item {background-image: url(../images/overlays/light/menu-separator.png);}

.fusion-submenu-wrapper {background-color: #FBFBFB;background-image: url(../images/overlays/light/nav-lines.png);box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);}
.fusion-submenu-wrapper .item {color: #4A4A48;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {border: 1px solid #D7D7D7;background-image: url(../images/overlays/light/nav2-overlay.png);background-color: #FBFBFB;}
.menutop.fusion-js-container ul li > .item:hover, .menutop.fusion-js-container li.f-menuparent-itemfocus > .item, .menutop.fusion-js-container ul li.active > .item, .menutop.fusion-js-container li.active.f-menuparent-itemfocus > .item {border: 1px solid #D7D7D7;background-image: url(../images/overlays/light/mod-gradient.png);background-color: #FBFBFB;}
.menutop ul li > .item:hover span, .menutop li.f-menuparent-itemfocus > .item span, .menutop ul li.active > .item span, .menutop li.active.f-menuparent-itemfocus > .item span {border: 1px solid #fff;}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon, .menutop ul li > .daddy span {background-image: url(../images/overlays/light/arrows.png);}