/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Patterns */
.headerpanel-pattern-leather, .showcasepanel-pattern-leather, .featurepanel-pattern-leather, .footerpanel-pattern-leather {background-image: url(../images/overlays/patterns/leather.png);}
.headerpanel-pattern-denim, .showcasepanel-pattern-denim, .featurepanel-pattern-denim, .footerpanel-pattern-denim {background-image: url(../images/overlays/patterns/denim.png);}
.headerpanel-pattern-diagonal, .showcasepanel-pattern-diagonal, .featurepanel-pattern-diagonal, .footerpanel-pattern-diagonal {background-image: url(../images/overlays/patterns/diagonal.png);}
.headerpanel-pattern-grip, .showcasepanel-pattern-grip, .featurepanel-pattern-grip, .footerpanel-pattern-grip {background-image: url(../images/overlays/patterns/grip.png);}
.headerpanel-pattern-metal, .showcasepanel-pattern-metal, .featurepanel-pattern-metal, .footerpanel-pattern-metal {background-image: url(../images/overlays/patterns/metal.png);}
.headerpanel-pattern-plaid-fabric, .showcasepanel-pattern-plaid-fabric, .featurepanel-pattern-plaid-fabric, .footerpanel-pattern-plaid-fabric {background-image: url(../images/overlays/patterns/plaid-fabric.png);}
.headerpanel-pattern-planks, .showcasepanel-pattern-planks, .featurepanel-pattern-planks, .footerpanel-pattern-planks {background-image: url(../images/overlays/patterns/planks.png);}
.headerpanel-pattern-ravenna, .showcasepanel-pattern-ravenna, .featurepanel-pattern-ravenna, .footerpanel-pattern-ravenna {background-image: url(../images/overlays/patterns/ravenna.png);}
.headerpanel-pattern-rough-fabric, .showcasepanel-pattern-rough-fabric, .featurepanel-pattern-rough-fabric, .footerpanel-pattern-rough-fabric {background-image: url(../images/overlays/patterns/rough-fabric.png);}
.headerpanel-pattern-rubber, .showcasepanel-pattern-rubber, .featurepanel-pattern-rubber, .footerpanel-pattern-rubber {background-image: url(../images/overlays/patterns/rubber.png);}
.headerpanel-pattern-vertical-linen, .showcasepanel-pattern-vertical-linen, .featurepanel-pattern-vertical-linen, .footerpanel-pattern-vertical-linen {background-image: url(../images/overlays/patterns/vertical-linen.png);}
.headerpanel-pattern-wood, .showcasepanel-pattern-wood, .featurepanel-pattern-wood, .footerpanel-pattern-wood {background-image: url(../images/overlays/patterns/wood.png);}
.headerpanel-pattern-woven-fabric, .showcasepanel-pattern-woven-fabric, .featurepanel-pattern-woven-fabric, .footerpanel-pattern-woven-fabric {background-image: url(../images/overlays/patterns/woven-fabric.png);}
.headerpanel-pattern-carbon, .showcasepanel-pattern-carbon, .featurepanel-pattern-carbon, .footerpanel-pattern-carbon {background-image: url(../images/overlays/patterns/carbon.png);}
.headerpanel-pattern-dustnscratches, .showcasepanel-pattern-dustnscratches, .featurepanel-pattern-dustnscratches, .footerpanel-pattern-dustnscratches {background-image: url(../images/overlays/patterns/dustnscratches.png);}
.headerpanel-pattern-elegant, .showcasepanel-pattern-elegant, .featurepanel-pattern-elegant, .footerpanel-pattern-elegant {background-image: url(../images/overlays/patterns/elegant.png);}
.headerpanel-pattern-grunge, .showcasepanel-pattern-grunge, .featurepanel-pattern-grunge, .footerpanel-pattern-grunge {background-image: url(../images/overlays/patterns/grunge.png);}
.headerpanel-pattern-noise, .showcasepanel-pattern-noise, .featurepanel-pattern-noise, .footerpanel-pattern-noise {background-image: url(../images/overlays/patterns/noise.png);}
.headerpanel-pattern-plaid, .showcasepanel-pattern-plaid, .featurepanel-pattern-plaid, .footerpanel-pattern-plaid {background-image: url(../images/overlays/patterns/plaid.png);}
.headerpanel-pattern-textile, .showcasepanel-pattern-textile, .featurepanel-pattern-textile, .footerpanel-pattern-textile {background-image: url(../images/overlays/patterns/textile.png);}
.headerpanel-pattern-paint-splatter #rt-header, .showcasepanel-pattern-paint-splatter #rt-header, .featurepanel-pattern-paint-splatter #rt-header, .footerpanel-pattern-paint-splatter #rt-header {background-image: url(../images/overlays/patterns/paint-splatter.png);}
.headerpanel-pattern-squares, .showcasepanel-pattern-squares, .featurepanel-pattern-squares, .footerpanel-pattern-squares {background-image: url(../images/overlays/patterns/squares.png);}

/* Text Colors - DARK */
.headerpanel-overlay-dark, .body-overlay-dark#rt-main-container, #rt-headerblock.headerpanel-overlay-dark #rt-header .sprocket-features-title, #rt-headerblock.headerpanel-overlay-dark #rt-header .sprocket-features-title a, #rt-headerblock.headerpanel-overlay-dark #rt-header .sprocket-features-title a:hover {color: #C7C7C7;}
.headerpanel-accentoverlay-dark .readon span, .headerpanel-accentoverlay-dark .readon .button, .showcasepanel-accentoverlay-dark .readon span, .showcasepanel-accentoverlay-dark .readon .button, .featurepanel-accentoverlay-dark .readon span, .featurepanel-accentoverlay-dark .readon .button, .body-accentoverlay-dark .readon span, .body-accentoverlay-dark .readon .button, .footerpanel-accentoverlay-dark .readon span, .footerpanel-accentoverlay-dark .readon .button, .body-accentoverlay-dark .component-content .formelm-buttons button {color: #fff;text-shadow: -1px -1px 1px rgba(0,0,0,0.3);}

/* Text Colors - LIGHT */
.headerpanel-overlay-light, .body-overlay-light#rt-main-container, #rt-headerblock.headerpanel-overlay-light #rt-header .sprocket-features-title, #rt-headerblock.headerpanel-overlay-light #rt-header .sprocket-features-title a, #rt-headerblock.headerpanel-overlay-light #rt-header .sprocket-features-title a:hover {color: #4C4A47;}
.headerpanel-accentoverlay-light .readon span, .headerpanel-accentoverlay-light .readon .button, .showcasepanel-accentoverlay-light .readon span, .showcasepanel-accentoverlay-light .readon .button, .featurepanel-accentoverlay-light .readon span, .featurepanel-accentoverlay-light .readon .button, .body-accentoverlay-light .readon span, .body-accentoverlay-light .readon .button, .footerpanel-accentoverlay-light .readon span, .footerpanel-accentoverlay-light .readon .button,.body-accentoverlay-light .component-content .formelm-buttons button {color: #333;text-shadow: 1px 1px 1px rgba(225,225,225,0.3);}

/* Buttons and Inputs - LIGHT */
.readon {border: 1px solid rgba(0,0,0,0.4);}
.readon span, .readon .button {background-image: url(../images/overlays/light/readon.png);border-top: 1px solid rgba(225,225,225,0.4);}
.readon:hover span, .readon:hover .button {border-top: 1px solid rgba(225, 225, 225, 0.3)}
.body-overlay-light#rt-main-container #form-login ul li a, .body-overlay-light#rt-main-container #com-form-login ul li a, .body-overlay-light#rt-main-container ul.rt-more-articles li a, .body-overlay-light#rt-main-container .rt-section-list ul li a, .body-overlay-light#rt-main-container ul.mostread li a, .body-overlay-light#rt-main-container ul.latestnews li a, .body-overlay-light#rt-main-container .weblinks ul li a, .body-overlay-light#rt-main-container #rt-popuplogin ul li a, .body-overlay-light#rt-main-container ul.newsfeed li a, .body-overlay-light#rt-main-container .component-content .user ul li a, .headerpanel-overlay-light #form-login ul li a, .headerpanel-overlay-light #com-form-login ul li a, .headerpanel-overlay-light ul.rt-more-articles li a, .headerpanel-overlay-light .rt-section-list ul li a, .headerpanel-overlay-light ul.mostread li a, .headerpanel-overlay-light ul.latestnews li a, .headerpanel-overlay-light .weblinks ul li a, .headerpanel-overlay-light #rt-popuplogin ul li a, .headerpanel-overlay-light ul.newsfeed li a, .headerpanel-overlay-light .component-content .user ul li a, .showcasepanel-overlay-light #form-login ul li a, .showcasepanel-overlay-light #com-form-login ul li a, .showcasepanel-overlay-light ul.rt-more-articles li a, .showcasepanel-overlay-light .rt-section-list ul li a, .showcasepanel-overlay-light ul.mostread li a, .showcasepanel-overlay-light ul.latestnews li a, .showcasepanel-overlay-light .weblinks ul li a, .showcasepanel-overlay-light #rt-popuplogin ul li a, .showcasepanel-overlay-light ul.newsfeed li a, .showcasepanel-overlay-light .component-content .user ul li a, .featurepanel-overlay-light #form-login ul li a, .featurepanel-overlay-light #com-form-login ul li a, .featurepanel-overlay-light ul.rt-more-articles li a, .featurepanel-overlay-light .rt-section-list ul li a, .featurepanel-overlay-light ul.mostread li a, .featurepanel-overlay-light ul.latestnews li a, .featurepanel-overlay-light .weblinks ul li a, .featurepanel-overlay-light #rt-popuplogin ul li a, .featurepanel-overlay-light ul.newsfeed li a, .featurepanel-overlay-light .component-content .user ul li a, .footerpanel-overlay-light #form-login ul li a, .footerpanel-overlay-light #com-form-login ul li a, .footerpanel-overlay-light ul.rt-more-articles li a, .footerpanel-overlay-light .rt-section-list ul li a, .footerpanel-overlay-light ul.mostread li a, .footerpanel-overlay-light ul.latestnews li a, .footerpanel-overlay-light .weblinks ul li a, .footerpanel-overlay-light #rt-popuplogin ul li a, .footerpanel-overlay-light ul.newsfeed li a, .footerpanel-overlay-light .component-content .user ul li a {background-image: url(../images/overlays/light/arrows.png);}
.body-overlay-light#rt-main-container .rokradios, .body-overlay-light#rt-main-container .rokchecks, .body-overlay-light#rt-main-container .rokradios-active, .body-overlay-light#rt-main-container .rokchecks-active, .headerpanel-overlay-light .rokradios, .headerpanel-overlay-light .rokchecks, .headerpanel-overlay-light .rokradios-active, .headerpanel-overlay-light .rokchecks-active, .showcasepanel-overlay-light .rokradios, .showcasepanel-overlay-light .rokchecks, .showcasepanel-overlay-light .rokradios-active, .showcasepanel-overlay-light .rokchecks-active, .featurepanel-overlay-light .rokradios, .featurepanel-overlay-light .rokchecks, .featurepanel-overlay-light .rokradios-active, .featurepanel-overlay-light .rokchecks-active, .footerpanel-overlay-light .rokradios, .footerpanel-overlay-light .rokchecks, .footerpanel-overlay-light .rokradios-active, .footerpanel-overlay-light .rokchecks-active {background-image: url(../images/overlays/light/rokinputs.png);}
.body-overlay-light#rt-main-container .inputbox, .body-overlay-light#rt-main-container #form-login .inputbox, .body-overlay-light#rt-main-container #com-form-login .inputbox, .body-overlay-light#rt-main-container #josForm .inputbox, .body-overlay-light#rt-main-container .component-content .search_result .inputbox, .body-overlay-light#rt-main-container .component-content .contact .inputbox, .body-overlay-light#rt-main-container .component-content .user input#email, .body-overlay-light#rt-main-container .component-content .user input#name, .body-overlay-light#rt-main-container .component-content .user input#username, .body-overlay-light#rt-main-container .component-content .user input#password, .body-overlay-light#rt-main-container .component-content .user input#passwd, .body-overlay-light#rt-main-container .component-content .user input#password2, .body-overlay-light#rt-main-container .rt-wordpress .contact input.required, .body-overlay-light#rt-main-container .rt-wordpress .contact textarea.required, .body-overlay-light#rt-main-container .rt-wordpress .user .inputbox, .headerpanel-overlay-light .inputbox, .headerpanel-overlay-light #form-login .inputbox, .headerpanel-overlay-light #com-form-login .inputbox, .headerpanel-overlay-light #josForm .inputbox, .headerpanel-overlay-light .component-content .search_result .inputbox, .headerpanel-overlay-light .component-content .contact .inputbox, .headerpanel-overlay-light .component-content .user input#email, .headerpanel-overlay-light .component-content .user input#name, .headerpanel-overlay-light .component-content .user input#username, .headerpanel-overlay-light .component-content .user input#password, .headerpanel-overlay-light .component-content .user input#passwd, .headerpanel-overlay-light .component-content .user input#password2, .headerpanel-overlay-light .rt-wordpress .contact input.required, .headerpanel-overlay-light .rt-wordpress .contact textarea.required, .headerpanel-overlay-light .rt-wordpress .user .inputbox, .showcasepanel-overlay-light .inputbox, .showcasepanel-overlay-light #form-login .inputbox, .showcasepanel-overlay-light #com-form-login .inputbox, .showcasepanel-overlay-light #josForm .inputbox, .showcasepanel-overlay-light .component-content .search_result .inputbox, .showcasepanel-overlay-light .component-content .contact .inputbox, .showcasepanel-overlay-light .component-content .user input#email, .showcasepanel-overlay-light .component-content .user input#name, .showcasepanel-overlay-light .component-content .user input#username, .showcasepanel-overlay-light .component-content .user input#password, .showcasepanel-overlay-light .component-content .user input#passwd, .showcasepanel-overlay-light .component-content .user input#password2, .showcasepanel-overlay-light .rt-wordpress .contact input.required, .showcasepanel-overlay-light .rt-wordpress .contact textarea.required, .showcasepanel-overlay-light .rt-wordpress .user .inputbox, .featurepanel-overlay-light .inputbox, .featurepanel-overlay-light #form-login .inputbox, .featurepanel-overlay-light #com-form-login .inputbox, .featurepanel-overlay-light #josForm .inputbox, .featurepanel-overlay-light .component-content .search_result .inputbox, .featurepanel-overlay-light .component-content .contact .inputbox, .featurepanel-overlay-light .component-content .user input#email, .featurepanel-overlay-light .component-content .user input#name, .featurepanel-overlay-light .component-content .user input#username, .featurepanel-overlay-light .component-content .user input#password, .featurepanel-overlay-light .component-content .user input#passwd, .featurepanel-overlay-light .component-content .user input#password2, .featurepanel-overlay-light .rt-wordpress .contact input.required, .featurepanel-overlay-light .rt-wordpress .contact textarea.required, .featurepanel-overlay-light .rt-wordpress .user .inputbox, .footerpanel-overlay-light .inputbox, .footerpanel-overlay-light #form-login .inputbox, .footerpanel-overlay-light #com-form-login .inputbox, .footerpanel-overlay-light #josForm .inputbox, .footerpanel-overlay-light .component-content .search_result .inputbox, .footerpanel-overlay-light .component-content .contact .inputbox, .footerpanel-overlay-light .component-content .user input#email, .footerpanel-overlay-light .component-content .user input#name, .footerpanel-overlay-light .component-content .user input#username, .footerpanel-overlay-light .component-content .user input#password, .footerpanel-overlay-light .component-content .user input#passwd, .footerpanel-overlay-light .component-content .user input#password2, .footerpanel-overlay-light .rt-wordpress .contact input.required, .footerpanel-overlay-light .rt-wordpress .contact textarea.required, .footerpanel-overlay-light .rt-wordpress .user .inputbox {border: 1px solid #999;background-color: #fff;}
.body-overlay-light#rt-main-container .inputbox:focus, .body-overlay-light#rt-main-container #form-login .inputbox:focus, .body-overlay-light#rt-main-container #com-form-login .inputbox:focus, .body-overlay-light#rt-main-container #josForm .inputbox:focus, .body-overlay-light#rt-main-container .component-content .search_result .inputbox:focus, .body-overlay-light#rt-main-container .component-content .contact .inputbox:focus, .body-overlay-light#rt-main-container .component-content .user input#email:focus, .body-overlay-light#rt-main-container .component-content .user input#name:focus, .body-overlay-light#rt-main-container .component-content .user input#username:focus, .body-overlay-light#rt-main-container .component-content .user input#password:focus, .body-overlay-light#rt-main-container .component-content .user input#passwd:focus, .body-overlay-light#rt-main-container .component-content .user input#password2:focus, .body-overlay-light#rt-main-container .rt-wordpress .contact input.required:focus, .body-overlay-light#rt-main-container .rt-wordpress .contact textarea.required:focus, .body-overlay-light#rt-main-container .rt-wordpress .user .inputbox:focus, .headerpanel-overlay-light .inputbox:focus, .headerpanel-overlay-light #form-login .inputbox:focus, .headerpanel-overlay-light #com-form-login .inputbox:focus, .headerpanel-overlay-light #josForm .inputbox:focus, .headerpanel-overlay-light .component-content .search_result .inputbox:focus, .headerpanel-overlay-light .component-content .contact .inputbox:focus, .headerpanel-overlay-light .component-content .user input#email:focus, .headerpanel-overlay-light .component-content .user input#name:focus, .headerpanel-overlay-light .component-content .user input#username:focus, .headerpanel-overlay-light .component-content .user input#password:focus, .headerpanel-overlay-light .component-content .user input#passwd:focus, .headerpanel-overlay-light .component-content .user input#password2:focus, .headerpanel-overlay-light .rt-wordpress .contact input.required:focus, .headerpanel-overlay-light .rt-wordpress .contact textarea.required:focus, .headerpanel-overlay-light .rt-wordpress .user .inputbox:focus, .showcasepanel-overlay-light .inputbox:focus, .showcasepanel-overlay-light #form-login .inputbox:focus, .showcasepanel-overlay-light #com-form-login .inputbox:focus, .showcasepanel-overlay-light #josForm .inputbox:focus, .showcasepanel-overlay-light .component-content .search_result .inputbox:focus, .showcasepanel-overlay-light .component-content .contact .inputbox:focus, .showcasepanel-overlay-light .component-content .user input#email:focus, .showcasepanel-overlay-light .component-content .user input#name:focus, .showcasepanel-overlay-light .component-content .user input#username:focus, .showcasepanel-overlay-light .component-content .user input#password:focus, .showcasepanel-overlay-light .component-content .user input#passwd:focus, .showcasepanel-overlay-light .component-content .user input#password2:focus, .showcasepanel-overlay-light .rt-wordpress .contact input.required:focus, .showcasepanel-overlay-light .rt-wordpress .contact textarea.required:focus, .showcasepanel-overlay-light .rt-wordpress .user .inputbox:focus, .featurepanel-overlay-light .inputbox:focus, .featurepanel-overlay-light #form-login .inputbox:focus, .featurepanel-overlay-light #com-form-login .inputbox:focus, .featurepanel-overlay-light #josForm .inputbox:focus, .featurepanel-overlay-light .component-content .search_result .inputbox:focus, .featurepanel-overlay-light .component-content .contact .inputbox:focus, .featurepanel-overlay-light .component-content .user input#email:focus, .featurepanel-overlay-light .component-content .user input#name:focus, .featurepanel-overlay-light .component-content .user input#username:focus, .featurepanel-overlay-light .component-content .user input#password:focus, .featurepanel-overlay-light .component-content .user input#passwd:focus, .featurepanel-overlay-light .component-content .user input#password2:focus, .featurepanel-overlay-light .rt-wordpress .contact input.required:focus, .featurepanel-overlay-light .rt-wordpress .contact textarea.required:focus, .featurepanel-overlay-light .rt-wordpress .user .inputbox:focus, .footerpanel-overlay-light .inputbox:focus, .footerpanel-overlay-light #form-login .inputbox:focus, .footerpanel-overlay-light #com-form-login .inputbox:focus, .footerpanel-overlay-light #josForm .inputbox:focus, .footerpanel-overlay-light .component-content .search_result .inputbox:focus, .footerpanel-overlay-light .component-content .contact .inputbox:focus, .footerpanel-overlay-light .component-content .user input#email:focus, .footerpanel-overlay-light .component-content .user input#name:focus, .footerpanel-overlay-light .component-content .user input#username:focus, .footerpanel-overlay-light .component-content .user input#password:focus, .footerpanel-overlay-light .component-content .user input#passwd:focus, .footerpanel-overlay-light .component-content .user input#password2:focus, .footerpanel-overlay-light .rt-wordpress .contact input.required:focus, .footerpanel-overlay-light .rt-wordpress .contact textarea.required:focus, .footerpanel-overlay-light .rt-wordpress .user .inputbox:focus {border: 1px solid #555;box-shadow: inset 0 1px 3px rgba(0,0,0,0.6), 0 0 8px rgba(0,0,0,0.6);}

/* Buttons and Inputs - DARK */
.readon {border: 1px solid rgba(0,0,0,0.4);}
.readon span, .readon .button, .component-content .formelm-buttons button {background-image: url(../images/overlays/dark/readon.png);border-top: 1px solid rgba(225,225,225,0.4);}
.readon:hover span, .readon:hover .button {border-top: 1px solid rgba(225, 225, 225, 0.3);}
.body-overlay-dark#rt-main-container #form-login ul li a, .body-overlay-dark#rt-main-container #com-form-login ul li a, .body-overlay-dark#rt-main-container ul.rt-more-articles li a, .body-overlay-dark#rt-main-container .rt-section-list ul li a, .body-overlay-dark#rt-main-container ul.mostread li a, .body-overlay-dark#rt-main-container ul.latestnews li a, .body-overlay-dark#rt-main-container .weblinks ul li a, .body-overlay-dark#rt-main-container #rt-popuplogin ul li a, .body-overlay-dark#rt-main-container ul.newsfeed li a, .body-overlay-dark#rt-main-container .component-content .user ul li a, .headerpanel-overlay-dark #form-login ul li a, .headerpanel-overlay-dark #com-form-login ul li a, .headerpanel-overlay-dark ul.rt-more-articles li a, .headerpanel-overlay-dark .rt-section-list ul li a, .headerpanel-overlay-dark ul.mostread li a, .headerpanel-overlay-dark ul.latestnews li a, .headerpanel-overlay-dark .weblinks ul li a, .headerpanel-overlay-dark #rt-popuplogin ul li a, .headerpanel-overlay-dark ul.newsfeed li a, .headerpanel-overlay-dark .component-content .user ul li a, .showcasepanel-overlay-dark #form-login ul li a, .showcasepanel-overlay-dark #com-form-login ul li a, .showcasepanel-overlay-dark ul.rt-more-articles li a, .showcasepanel-overlay-dark .rt-section-list ul li a, .showcasepanel-overlay-dark ul.mostread li a, .showcasepanel-overlay-dark ul.latestnews li a, .showcasepanel-overlay-dark .weblinks ul li a, .showcasepanel-overlay-dark #rt-popuplogin ul li a, .showcasepanel-overlay-dark ul.newsfeed li a, .showcasepanel-overlay-dark .component-content .user ul li a, .featurepanel-overlay-dark #form-login ul li a, .featurepanel-overlay-dark #com-form-login ul li a, .featurepanel-overlay-dark ul.rt-more-articles li a, .featurepanel-overlay-dark .rt-section-list ul li a, .featurepanel-overlay-dark ul.mostread li a, .featurepanel-overlay-dark ul.latestnews li a, .featurepanel-overlay-dark .weblinks ul li a, .featurepanel-overlay-dark #rt-popuplogin ul li a, .featurepanel-overlay-dark ul.newsfeed li a, .featurepanel-overlay-dark .component-content .user ul li a, .footerpanel-overlay-dark #form-login ul li a, .footerpanel-overlay-dark #com-form-login ul li a, .footerpanel-overlay-dark ul.rt-more-articles li a, .footerpanel-overlay-dark .rt-section-list ul li a, .footerpanel-overlay-dark ul.mostread li a, .footerpanel-overlay-dark ul.latestnews li a, .footerpanel-overlay-dark .weblinks ul li a, .footerpanel-overlay-dark #rt-popuplogin ul li a, .footerpanel-overlay-dark ul.newsfeed li a, .footerpanel-overlay-dark .component-content .user ul li a {background-image: url(../images/overlays/dark/arrows.png);}
.body-overlay-dark#rt-main-container .rokradios, .body-overlay-dark#rt-main-container .rokchecks, .body-overlay-dark#rt-main-container .rokradios-active, .body-overlay-dark#rt-main-container .rokchecks-active, .headerpanel-overlay-dark .rokradios, .headerpanel-overlay-dark .rokchecks, .headerpanel-overlay-dark .rokradios-active, .headerpanel-overlay-dark .rokchecks-active, .showcasepanel-overlay-dark .rokradios, .showcasepanel-overlay-dark .rokchecks, .showcasepanel-overlay-dark .rokradios-active, .showcasepanel-overlay-dark .rokchecks-active, .featurepanel-overlay-dark .rokradios, .featurepanel-overlay-dark .rokchecks, .featurepanel-overlay-dark .rokradios-active, .featurepanel-overlay-dark .rokchecks-active, .footerpanel-overlay-dark .rokradios, .footerpanel-overlay-dark .rokchecks, .footerpanel-overlay-dark .rokradios-active, .footerpanel-overlay-dark .rokchecks-active {background-image: url(../images/overlays/dark/rokinputs.png);}
.body-overlay-dark#rt-main-container .inputbox, .body-overlay-dark#rt-main-container #form-login .inputbox, .body-overlay-dark#rt-main-container #com-form-login .inputbox, .body-overlay-dark#rt-main-container #josForm .inputbox, .body-overlay-dark#rt-main-container .component-content .search_result .inputbox, .body-overlay-dark#rt-main-container .component-content .contact .inputbox, .body-overlay-dark#rt-main-container .component-content .user input#email, .body-overlay-dark#rt-main-container .component-content .user input#name, .body-overlay-dark#rt-main-container .component-content .user input#username, .body-overlay-dark#rt-main-container .component-content .user input#password, .body-overlay-dark#rt-main-container .component-content .user input#passwd, .body-overlay-dark#rt-main-container .component-content .user input#password2, .body-overlay-dark#rt-main-container .rt-wordpress .contact input.required, .body-overlay-dark#rt-main-container .rt-wordpress .contact textarea.required, .body-overlay-dark#rt-main-container .rt-wordpress .user .inputbox, .headerpanel-overlay-dark .inputbox, .headerpanel-overlay-dark #form-login .inputbox, .headerpanel-overlay-dark #com-form-login .inputbox, .headerpanel-overlay-dark #josForm .inputbox, .headerpanel-overlay-dark .component-content .search_result .inputbox, .headerpanel-overlay-dark .component-content .contact .inputbox, .headerpanel-overlay-dark .component-content .user input#email, .headerpanel-overlay-dark .component-content .user input#name, .headerpanel-overlay-dark .component-content .user input#username, .headerpanel-overlay-dark .component-content .user input#password, .headerpanel-overlay-dark .component-content .user input#passwd, .headerpanel-overlay-dark .component-content .user input#password2, .headerpanel-overlay-dark .rt-wordpress .contact input.required, .headerpanel-overlay-dark .rt-wordpress .contact textarea.required, .headerpanel-overlay-dark .rt-wordpress .user .inputbox, .showcasepanel-overlay-dark .inputbox, .showcasepanel-overlay-dark #form-login .inputbox, .showcasepanel-overlay-dark #com-form-login .inputbox, .showcasepanel-overlay-dark #josForm .inputbox, .showcasepanel-overlay-dark .component-content .search_result .inputbox, .showcasepanel-overlay-dark .component-content .contact .inputbox, .showcasepanel-overlay-dark .component-content .user input#email, .showcasepanel-overlay-dark .component-content .user input#name, .showcasepanel-overlay-dark .component-content .user input#username, .showcasepanel-overlay-dark .component-content .user input#password, .showcasepanel-overlay-dark .component-content .user input#passwd, .showcasepanel-overlay-dark .component-content .user input#password2, .showcasepanel-overlay-dark .rt-wordpress .contact input.required, .showcasepanel-overlay-dark .rt-wordpress .contact textarea.required, .showcasepanel-overlay-dark .rt-wordpress .user .inputbox, .featurepanel-overlay-dark .inputbox, .featurepanel-overlay-dark #form-login .inputbox, .featurepanel-overlay-dark #com-form-login .inputbox, .featurepanel-overlay-dark #josForm .inputbox, .featurepanel-overlay-dark .component-content .search_result .inputbox, .featurepanel-overlay-dark .component-content .contact .inputbox, .featurepanel-overlay-dark .component-content .user input#email, .featurepanel-overlay-dark .component-content .user input#name, .featurepanel-overlay-dark .component-content .user input#username, .featurepanel-overlay-dark .component-content .user input#password, .featurepanel-overlay-dark .component-content .user input#passwd, .featurepanel-overlay-dark .component-content .user input#password2, .featurepanel-overlay-dark .rt-wordpress .contact input.required, .featurepanel-overlay-dark .rt-wordpress .contact textarea.required, .featurepanel-overlay-dark .rt-wordpress .user .inputbox, .footerpanel-overlay-dark .inputbox, .footerpanel-overlay-dark #form-login .inputbox, .footerpanel-overlay-dark #com-form-login .inputbox, .footerpanel-overlay-dark #josForm .inputbox, .footerpanel-overlay-dark .component-content .search_result .inputbox, .footerpanel-overlay-dark .component-content .contact .inputbox, .footerpanel-overlay-dark .component-content .user input#email, .footerpanel-overlay-dark .component-content .user input#name, .footerpanel-overlay-dark .component-content .user input#username, .footerpanel-overlay-dark .component-content .user input#password, .footerpanel-overlay-dark .component-content .user input#passwd, .footerpanel-overlay-dark .component-content .user input#password2, .footerpanel-overlay-dark .rt-wordpress .contact input.required, .footerpanel-overlay-dark .rt-wordpress .contact textarea.required, .footerpanel-overlay-dark .rt-wordpress .user .inputbox {border: 1px solid #999;background-color: #fff;}
.body-overlay-dark#rt-main-container .inputbox:focus, .body-overlay-dark#rt-main-container #form-login .inputbox:focus, .body-overlay-dark#rt-main-container #com-form-login .inputbox:focus, .body-overlay-dark#rt-main-container #josForm .inputbox:focus, .body-overlay-dark#rt-main-container .component-content .search_result .inputbox:focus, .body-overlay-dark#rt-main-container .component-content .contact .inputbox:focus, .body-overlay-dark#rt-main-container .component-content .user input#email:focus, .body-overlay-dark#rt-main-container .component-content .user input#name:focus, .body-overlay-dark#rt-main-container .component-content .user input#username:focus, .body-overlay-dark#rt-main-container .component-content .user input#password:focus, .body-overlay-dark#rt-main-container .component-content .user input#passwd:focus, .body-overlay-dark#rt-main-container .component-content .user input#password2:focus, .body-overlay-dark#rt-main-container .rt-wordpress .contact input.required:focus, .body-overlay-dark#rt-main-container .rt-wordpress .contact textarea.required:focus, .body-overlay-dark#rt-main-container .rt-wordpress .user .inputbox:focus, .headerpanel-overlay-dark .inputbox:focus, .headerpanel-overlay-dark #form-login .inputbox:focus, .headerpanel-overlay-dark #com-form-login .inputbox:focus, .headerpanel-overlay-dark #josForm .inputbox:focus, .headerpanel-overlay-dark .component-content .search_result .inputbox:focus, .headerpanel-overlay-dark .component-content .contact .inputbox:focus, .headerpanel-overlay-dark .component-content .user input#email:focus, .headerpanel-overlay-dark .component-content .user input#name:focus, .headerpanel-overlay-dark .component-content .user input#username:focus, .headerpanel-overlay-dark .component-content .user input#password:focus, .headerpanel-overlay-dark .component-content .user input#passwd:focus, .headerpanel-overlay-dark .component-content .user input#password2:focus, .headerpanel-overlay-dark .rt-wordpress .contact input.required:focus, .headerpanel-overlay-dark .rt-wordpress .contact textarea.required:focus, .headerpanel-overlay-dark .rt-wordpress .user .inputbox:focus, .showcasepanel-overlay-dark .inputbox:focus, .showcasepanel-overlay-dark #form-login .inputbox:focus, .showcasepanel-overlay-dark #com-form-login .inputbox:focus, .showcasepanel-overlay-dark #josForm .inputbox:focus, .showcasepanel-overlay-dark .component-content .search_result .inputbox:focus, .showcasepanel-overlay-dark .component-content .contact .inputbox:focus, .showcasepanel-overlay-dark .component-content .user input#email:focus, .showcasepanel-overlay-dark .component-content .user input#name:focus, .showcasepanel-overlay-dark .component-content .user input#username:focus, .showcasepanel-overlay-dark .component-content .user input#password:focus, .showcasepanel-overlay-dark .component-content .user input#passwd:focus, .showcasepanel-overlay-dark .component-content .user input#password2:focus, .showcasepanel-overlay-dark .rt-wordpress .contact input.required:focus, .showcasepanel-overlay-dark .rt-wordpress .contact textarea.required:focus, .showcasepanel-overlay-dark .rt-wordpress .user .inputbox:focus, .featurepanel-overlay-dark .inputbox:focus, .featurepanel-overlay-dark #form-login .inputbox:focus, .featurepanel-overlay-dark #com-form-login .inputbox:focus, .featurepanel-overlay-dark #josForm .inputbox:focus, .featurepanel-overlay-dark .component-content .search_result .inputbox:focus, .featurepanel-overlay-dark .component-content .contact .inputbox:focus, .featurepanel-overlay-dark .component-content .user input#email:focus, .featurepanel-overlay-dark .component-content .user input#name:focus, .featurepanel-overlay-dark .component-content .user input#username:focus, .featurepanel-overlay-dark .component-content .user input#password:focus, .featurepanel-overlay-dark .component-content .user input#passwd:focus, .featurepanel-overlay-dark .component-content .user input#password2:focus, .featurepanel-overlay-dark .rt-wordpress .contact input.required:focus, .featurepanel-overlay-dark .rt-wordpress .contact textarea.required:focus, .featurepanel-overlay-dark .rt-wordpress .user .inputbox:focus, .footerpanel-overlay-dark .inputbox:focus, .footerpanel-overlay-dark #form-login .inputbox:focus, .footerpanel-overlay-dark #com-form-login .inputbox:focus, .footerpanel-overlay-dark #josForm .inputbox:focus, .footerpanel-overlay-dark .component-content .search_result .inputbox:focus, .footerpanel-overlay-dark .component-content .contact .inputbox:focus, .footerpanel-overlay-dark .component-content .user input#email:focus, .footerpanel-overlay-dark .component-content .user input#name:focus, .footerpanel-overlay-dark .component-content .user input#username:focus, .footerpanel-overlay-dark .component-content .user input#password:focus, .footerpanel-overlay-dark .component-content .user input#passwd:focus, .footerpanel-overlay-dark .component-content .user input#password2:focus, .footerpanel-overlay-dark .rt-wordpress .contact input.required:focus, .footerpanel-overlay-dark .rt-wordpress .contact textarea.required:focus, .footerpanel-overlay-dark .rt-wordpress .user .inputbox:focus {border: 1px solid #fff;box-shadow: inset 0 1px 3px rgba(225,225,225,0.6), 0 0 8px rgba(225,225,225,0.6);}

/* Feature - LIGHT */
.featurepanel-overlay-light#rt-feature .rt-block {background-image: url(../images/overlays/light/feature-separator.png);}
.featurepanel-overlay-light #rt-feature2 {background-image: url(../images/overlays/light/feature-top-overlay.png);}
.featurepanel-overlay-light #rt-feature3 {background-image: url(../images/overlays/light/feature-bottom-overlay.png);}
.featurepanel-overlay-light {color: #2C2727;text-shadow: 1px 1px 1px rgba(225,225,225,0.2);}
.featurepanel-overlay-light .title, .featurepanel-overlay-light .paneltitle, .featurepanel-overlay-light .panelsubtitle {color: #fff;text-shadow: -1px 1px 0 #fff, -3px 3px 0 rgba(0, 0, 0, 0.1);}
.featurepanel-overlay-light#rt-feature a:hover {color: #2C2727;text-shadow: 1px 1px 1px rgba(225, 225, 225, 0.2);}
.featurepanel-overlay-light#rt-feature a {text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);}

/* Feature - DARK */
.featurepanel-overlay-dark {color: #fff;text-shadow: -1px -1px 1px rgba(0,0,0,0.3);}
.featurepanel-overlay-dark #rt-feature2 {background-image: url(../images/overlays/dark/feature-top-overlay.png);}
.featurepanel-overlay-dark #rt-feature3 {background-image: url(../images/overlays/dark/feature-bottom-overlay.png);}
.featurepanel-overlay-dark#rt-feature a:hover {color: #fff;text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);}
.featurepanel-overlay-dark#rt-feature a {text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);}
.featurepanel-overlay-dark#rt-feature .box3 a:hover {color: #2C2727;}

/* Showcase - LIGHT */
#rt-showcase {box-shadow: inset 0 -1px 5px #000;}

/* Showcase - DARK */
.showcasepanel-overlay-dark {color: #fff !important;text-shadow: -1px -1px 1px rgba(0,0,0,0.5);}

/* Main Body - LIGHT */
.component-content .rt-articleinfo .rt-article-icons ul li a, .component-content .rt-articleinfo .rt-article-icons.no-icons ul li.edit-icon a {background-image: url(../images/overlays/light/article-icons.png);}

/* Bottom - LIGHT */
.rippedpaper.stylelight #rt-bottom4 {background-image: url(../images/overlays/light/ripped-paper-divider.png);}
.showcasepanel-overlay-light #rt-bottom3 {background-image: url(../images/overlays/light/bottom-flare.png);}

/* Bottom - DARK */
.rippedpaper.styledark #rt-bottom4 {background-image: url(../images/overlays/dark/ripped-paper-divider.png);}
.showcasepanel-overlay-dark #rt-bottom3 {background-image: url(../images/overlays/dark/bottom-flare.png);}

/* Footer Surround - LIGHT */
#rt-footer-surround3.footerpanel-accentoverlay-light {background-image: url(../images/overlays/light/cord-divisor-pattern.png);}
.footerpanel-overlay-light {color: #2C2727;text-shadow: 1px 1px 1px rgba(225,225,225,0.2);}
.footerpanel-overlay-light .title, .footerpanel-overlay-light .paneltitle, .footerpanel-overlay-light .panelsubtitle {color: #fff;text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.15);}
.footerpanel-overlay-light #rocket {background: url(../images/overlays/light/rocket.png) no-repeat;}
.footerpanel-overlay-light .totop-block .totop-desc {background-image: url(../images/overlays/light/totop.png);}

/* Footer Surround - DARK */
#rt-footer-surround3.footerpanel-accentoverlay-dark {background-image: url(../images/overlays/dark/cord-divisor-pattern.png);}
.footerpanel-overlay-dark {color: #fff;text-shadow: -1px -1px 1px rgba(0,0,0,0.5);}
.footerpanel-overlay-dark .title, .footerpanel-overlay-dark .paneltitle, .footerpanel-overlay-dark .panelsubtitle {color: #fff;text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.15);}
.footerpanel-overlay-dark #rocket {background: url(../images/overlays/dark/rocket.png) no-repeat;}
.footerpanel-overlay-dark .totop-block .totop-desc {background-image: url(../images/overlays/dark/totop.png);}

/* Side Menu - LIGHT */
.body-overlay-light#rt-main-container .module-content ul.menu li.parent li a span, .body-overlay-light#rt-main-container .module-content ul.menu li.parent li .item span, .body-overlay-light#rt-main-container .module-content ul.menu li.parent li .separator span, .headerpanel-overlay-light .module-content ul.menu li.parent li a span, .headerpanel-overlay-light .module-content ul.menu li.parent li .item span, .headerpanel-overlay-light .module-content ul.menu li.parent li .separator span, .showcasepanel-overlay-light .module-content ul.menu li.parent li a span, .showcasepanel-overlay-light .module-content ul.menu li.parent li .item span, .showcasepanel-overlay-light .module-content ul.menu li.parent li .separator span, .featurepanel-overlay-light .module-content ul.menu li.parent li a span, .featurepanel-overlay-light .module-content ul.menu li.parent li .item span, .featurepanel-overlay-light .module-content ul.menu li.parent li .separator span, .footerpanel-overlay-light .module-content ul.menu li.parent li a span, .footerpanel-overlay-light .module-content ul.menu li.parent li .item span, .footerpanel-overlay-light .module-content ul.menu li.parent li .separator span {background-image: url(../images/overlays/light/arrows.png);}
.body-overlay-light#rt-main-container .module-content ul.menu a.item, .body-overlay-light#rt-main-container .module-content ul.menu a.item, .body-overlay-light #rt-main-container .module-content ul.menu a.item, .headerpanel-overlay-light .module-content ul.menu a.item, .headerpanel-overlay-light .module-content ul.menu a.item, .headerpanel-overlay-light .module-content ul.menu a.item, .showcasepanel-overlay-light .module-content ul.menu a.item, .showcasepanel-overlay-light .module-content ul.menu a.item, .showcasepanel-overlay-light .module-content ul.menu a.item, .featurepanel-overlay-light .module-content ul.menu a.item, .featurepanel-overlay-light .module-content ul.menu a.item, .featurepanel-overlay-light .module-content ul.menu a.item, .footerpanel-overlay-light .module-content ul.menu a.item, .footerpanel-overlay-light .module-content ul.menu a.item, .footerpanel-overlay-light .module-content ul.menu a.item {text-shadow: 1px 1px 1px #fff;}

/* Side Menu - DARK */
.body-overlay-dark#rt-main-container .module-content ul.menu li.parent li a span, .body-overlay-dark#rt-main-container .module-content ul.menu li.parent li .item span, .body-overlay-dark#rt-main-container .module-content ul.menu li.parent li .separator span, .headerpanel-overlay-dark .module-content ul.menu li.parent li a span, .headerpanel-overlay-dark .module-content ul.menu li.parent li .item span, .headerpanel-overlay-dark .module-content ul.menu li.parent li .separator span, .showcasepanel-overlay-dark .module-content ul.menu li.parent li a span, .showcasepanel-overlay-dark .module-content ul.menu li.parent li .item span, .showcasepanel-overlay-dark .module-content ul.menu li.parent li .separator span, .featurepanel-overlay-dark .module-content ul.menu li.parent li a span, .featurepanel-overlay-dark .module-content ul.menu li.parent li .item span, .featurepanel-overlay-dark .module-content ul.menu li.parent li .separator span, .footerpanel-overlay-dark .module-content ul.menu li.parent li a span, .footerpanel-overlay-dark .module-content ul.menu li.parent li .item span, .footerpanel-overlay-dark .module-content ul.menu li.parent li .separator span {background-image: url(../images/overlays/dark/arrows.png);}
.body-overlay-dark#rt-main-container .module-content ul.menu a.item, .body-overlay-dark#rt-main-container .module-content ul.menu a.item, .body-overlay-dark#rt-main-container .module-content ul.menu a.item, .headerpanel-overlay-dark .module-content ul.menu a.item, .headerpanel-overlay-dark .module-content ul.menu a.item, .headerpanel-overlay-dark .module-content ul.menu a.item, .showcasepanel-overlay-dark .module-content ul.menu a.item, .showcasepanel-overlay-dark .module-content ul.menu a.item, .showcasepanel-overlay-dark .module-content ul.menu a.item, .featurepanel-overlay-dark .module-content ul.menu a.item, .featurepanel-overlay-dark .module-content ul.menu a.item, .featurepanel-overlay-dark .module-content ul.menu a.item, .footerpanel-overlay-dark .module-content ul.menu a.item, .footerpanel-overlay-dark .module-content ul.menu a.item, .footerpanel-overlay-dark .module-content ul.menu a.item {text-shadow: none;}

/* Module Variations - LIGHT */
.headerpanel-accentoverlay-light .box1 .module-content a, .featurepanel-accentoverlay-light .box1 .module-content a, .showcasepanel-accentoverlay-light .box1 .module-content a, .footerpanel-accentoverlay-light .box1 .module-content a, #rt-body-surround.body-accentoverlay-light .box1 .module-content a, .headerpanel-accentoverlay-light .box4 .module-content a, .featurepanel-accentoverlay-light .box4 .module-content a, .showcasepanel-accentoverlay-light .box4 .module-content a, .footerpanel-accentoverlay-light .box4 .module-content a, #rt-body-surround.body-accentoverlay-light .box4 .module-content a {text-shadow: none;}
.headerpanel-accentoverlay-light .box1, .featurepanel-accentoverlay-light .box1, .showcasepanel-accentoverlay-light .box1, .footerpanel-accentoverlay-light .box1, #rt-body-surround.body-accentoverlay-light .box1, .headerpanel-accentoverlay-light .box4, .featurepanel-accentoverlay-light .box4, .showcasepanel-accentoverlay-light .box4, .footerpanel-accentoverlay-light .box4, #rt-body-surround.body-accentoverlay-light .box4, #rt-headerblock .headerpanel-accentoverlay-light #rt-header .box4 a:hover, #rt-headerblock .headerpanel-accentoverlay-light #rt-top .box4 a:hover, #rt-headerblock .headerpanel-accentoverlay-light #rt-top .box1 a:hover, #rt-headerblock .headerpanel-accentoverlay-light #rt-header .box1 a:hover, #rt-showcase .showcasepanel-accentoverlay-light .box1 a:hover, #rt-showcase .showcasepanel-accentoverlay-light .box4 a:hover, #rt-feature .featurepanel-accentoverlay-light .box1 a:hover, #rt-feature .featurepanel-accentoverlay-light .box4 a:hover, #rt-body-surround.body-accentoverlay-light .box1 a:hover, #rt-body-surround.body-accentoverlay-light .box4 a:hover,  #rt-footer-surround .footerpanel-accentoverlay-light .box1 a:hover, #rt-footer-surround .footerpanel-accentoverlay-light .box4 a:hover, #rt-bottom .showcasepanel-accentoverlay-light .box1 a:hover, #rt-bottom .showcasepanel-accentoverlay-light .box4 a:hover {color: #333;text-shadow: 1px 1px 1px rgba(225,225,225,0.5);}
.headerpanel-overlay-light .box1 .rt-block, .featurepanel-overlay-light .box1 .rt-block, .showcasepanel-overlay-light .box1 .rt-block, .footerpanel-overlay-light .box1 .rt-block, #rt-body-surround.body-accentoverlay-light .box1 .rt-block {border: 1px solid rgba(0, 0, 0, 0.4);box-shadow: 0 1px 4px rgba(0,0,0,0.4);}
.headerpanel-overlay-light .box1 .module-surround, .featurepanel-overlay-light .box1 .module-surround, .showcasepanel-overlay-light .box1 .module-surround, .footerpanel-overlay-light .box1 .module-surround, #rt-body-surround.body-accentoverlay-light .box1 .module-surround {border-top: 1px solid rgba(225,225,225,0.5);}
.headerpanel-overlay-light .box2 .module-surround, .featurepanel-overlay-light .box2 .module-surround, .showcasepanel-overlay-light .box2 .module-surround, .footerpanel-overlay-light .box2 .module-surround, #rt-body-surround.body-accentoverlay-light .box2 .module-surround {box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);background-image: url(../images/overlays/dark-15.png);text-shadow: 1px 1px 1px rgba(225,225,225,0.5);}
.headerpanel-overlay-light .box3 .rt-block, .featurepanel-overlay-light .box3 .rt-block, .showcasepanel-overlay-light .box3 .rt-block, .footerpanel-overlay-light .box3 .rt-block, #rt-body-surround.body-accentoverlay-light #rt-body-surround .box3 .rt-block {border: 1px solid rgba(0,0,0,0.4);background-color: #F6F5F3;}
.headerpanel-overlay-light .box3 .module-surround, .featurepanel-overlay-light .box3 .module-surround, .showcasepanel-overlay-light .box3 .module-surround, .footerpanel-overlay-light .box3 .module-surround, #rt-body-surround.body-accentoverlay-light #rt-body-surround .box3 .module-surround {background-image: url(../images/overlays/light/nav-lines.png);}
.box3 .rt-block .module-surround .module-title h2.title, #rt-footer-surround .box3 .module-title .title {text-shadow: -1px 1px 0 rgba(225,225,225,0.7), -3px 3px 0 rgba(0, 0, 0, 0.2);color: #2C2727;}
.box5 .rt-block .module-surround .module-title h2.title, #rt-footer-surround .box5 .module-title .title {text-shadow: -1px 1px 0 rgba(0,0,0,0.7), -3px 3px 0 rgba(0, 0, 0, 0.2);}
.headerpanel-overlay-light .box4 .rt-block, .featurepanel-overlay-light .box4 .rt-block, .showcasepanel-overlay-light .box4 .rt-block, .footerpanel-overlay-light .box4 .rt-block, #rt-body-surround.body-accentoverlay-light #rt-body-surround .box4 .rt-block {background-image: url(../images/overlays/light/nav-lines.png);}
.headerpanel-overlay-light .box4 .module-surround, .featurepanel-overlay-light .box4 .module-surround, .showcasepanel-overlay-light .box4 .module-surround, .footerpanel-overlay-light .box4 .module-surround, #rt-body-surround.body-accentoverlay-light .box4 .module-surround, .headerpanel-overlay-light .box5 .module-surround, .featurepanel-overlay-light .box5 .module-surround, .showcasepanel-overlay-light .box5 .module-surround, .footerpanel-overlay-light .box5 .module-surround, #rt-body-surround.body-accentoverlay-light .box5 .module-surround {box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);}
.headerpanel-overlay-light .box5 .rt-block, .featurepanel-overlay-light .box5 .rt-block, .showcasepanel-overlay-light .box5 .rt-block, .footerpanel-overlay-light .box5 .rt-block, #rt-main-container.body-overlay-light .box5 .rt-block {background-image: url(../images/overlays/dark-60.png);}
.headerpanel-overlay-light .box5 .module-surround, .featurepanel-overlay-light .box5 .module-surround, .showcasepanel-overlay-light .box5 .module-surround, .footerpanel-overlay-light .box5 .module-surround, #rt-main-container.body-overlay-light .box5 .module-surround {background-image: url(../images/overlays/light/bottom-flare.png);color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.title2 .title {background-image: url(../images/overlays/light/nav-lines.png);}
.title3 .title {box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);background-image: url(../images/overlays/light/title3.png);}
.body-overlay-light .rt-grid-1 .title1 .title {background-image: url(../images/overlays/light/grid1-title1.png);}
.body-overlay-light .rt-grid-2 .title1 .title {background-image: url(../images/overlays/light/grid2-title1.png);}
.body-overlay-light .rt-grid-3 .title1 .title {background-image: url(../images/overlays/light/grid3-title1.png);}
.body-overlay-light .rt-grid-4 .title1 .title {background-image: url(../images/overlays/light/grid4-title1.png);}
.body-overlay-light .rt-grid-5 .title1 .title {background-image: url(../images/overlays/light/grid5-title1.png);}
.body-overlay-light .rt-grid-6 .title1 .title {background-image: url(../images/overlays/light/grid6-title1.png);}
.body-overlay-light .rt-grid-7 .title1 .title {background-image: url(../images/overlays/light/grid7-title1.png);}
.body-overlay-light .rt-grid-8 .title1 .title {background-image: url(../images/overlays/light/grid8-title1.png);}
.body-overlay-light .rt-grid-9 .title1 .title {background-image: url(../images/overlays/light/grid9-title1.png);}
.body-overlay-light .rt-grid-10 .title1 .title {background-image: url(../images/overlays/light/grid10-title1.png);}
.body-overlay-light .rt-grid-11 .title1 .title {background-image: url(../images/overlays/light/grid11-title1.png);}
.body-overlay-light .rt-grid-12 .title1 .title {background-image: url(../images/overlays/light/grid12-title1.png);}
.title4 .module-title {background-image: url(../images/overlays/light-15.png);border: 1px solid rgba(0,0,0,0.2);box-shadow: 0 0 3px rgba(0,0,0,0.2);}

/* Module Variations - DARK */
.headerpanel-accentoverlay-dark .box1 .module-content a, .featurepanel-accentoverlay-dark .box1 .module-content a, .showcasepanel-accentoverlay-dark .box1 .module-content a, .footerpanel-accentoverlay-dark .box1 .module-content a, #rt-body-surround.body-accentoverlay-dark .box1 .module-content a, .headerpanel-accentoverlay-dark .box4 .module-content a, .featurepanel-accentoverlay-dark .box4 .module-content a, .showcasepanel-accentoverlay-dark .box4 .module-content a, .footerpanel-accentoverlay-dark .box4 .module-content a, #rt-body-surround.body-accentoverlay-dark .box4 .module-content a {text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.headerpanel-accentoverlay-dark .box1, .featurepanel-accentoverlay-dark .box1, .showcasepanel-accentoverlay-dark .box1, .footerpanel-accentoverlay-dark .box1, #rt-body-surround.body-accentoverlay-dark .box1, .headerpanel-accentoverlay-dark .box4, .featurepanel-accentoverlay-dark .box4, .showcasepanel-accentoverlay-dark .box4, .footerpanel-accentoverlay-dark .box4, #rt-body-surround.body-accentoverlay-dark .box4, #rt-headerblock .headerpanel-accentoverlay-dark #rt-header .box4 a:hover, #rt-headerblock .headerpanel-accentoverlay-dark #rt-top .box4 a:hover, #rt-headerblock .headerpanel-accentoverlay-dark #rt-top .box1 a:hover, #rt-headerblock .headerpanel-accentoverlay-dark #rt-header .box1 a:hover, #rt-showcase .showcasepanel-accentoverlay-dark .box1 a:hover, #rt-showcase .showcasepanel-accentoverlay-dark .box4 a:hover, #rt-feature .featurepanel-accentoverlay-dark .box1 a:hover, #rt-feature .featurepanel-accentoverlay-dark .box4 a:hover, #rt-body-surround.body-accentoverlay-dark .box1 a:hover, #rt-body-surround.body-accentoverlay-dark .box4 a:hover,  #rt-footer-surround .footerpanel-accentoverlay-dark .box1 a:hover, #rt-footer-surround .footerpanel-accentoverlay-dark .box4 a:hover, #rt-bottom .showcasepanel-accentoverlay-dark .box1 a:hover, #rt-bottom .showcasepanel-accentoverlay-dark .box4 a:hover {color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.headerpanel-overlay-dark .box1 .rt-block, .featurepanel-overlay-dark .box1 .rt-block, .showcasepanel-overlay-dark .box1 .rt-block, .footerpanel-overlay-dark .box1 .rt-block, #rt-body-surround.body-accentoverlay-dark .box1 .rt-block {border: 1px solid rgba(0, 0, 0, 0.4);box-shadow: 0 1px 4px rgba(0,0,0,0.4);}
.headerpanel-overlay-dark .box1 .module-surround, .featurepanel-overlay-dark .box1 .module-surround, .showcasepanel-overlay-dark .box1 .module-surround, .footerpanel-overlay-dark .box1 .module-surround, #rt-body-surround.body-accentoverlay-dark .box1 .module-surround {border-top: 1px solid rgba(225,225,225,0.5);}
.headerpanel-overlay-dark .box2 .module-surround, .featurepanel-overlay-dark .box2 .module-surround, .showcasepanel-overlay-dark .box2 .module-surround, .footerpanel-overlay-dark .box2 .module-surround, #rt-body-surround.body-accentoverlay-dark .box2 .module-surround {box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);background-image: url(../images/overlays/dark-15.png);text-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
.headerpanel-overlay-dark .box3 .rt-block, .featurepanel-overlay-dark .box3 .rt-block, .showcasepanel-overlay-dark .box3 .rt-block, .footerpanel-overlay-dark .box3 .rt-block, #rt-body-surround.body-accentoverlay-dark .box3 .rt-block {border: 1px solid rgba(0,0,0,0.4);background-color: #F6F5F3;color: #4C4A47;text-shadow: 1px 1px 1px #fff;}
.headerpanel-overlay-dark .box3 .module-surround, .featurepanel-overlay-dark .box3 .module-surround, .showcasepanel-overlay-dark .box3 .module-surround, .footerpanel-overlay-dark .box3 .module-surround, #rt-body-surround.body-accentoverlay-dark .box3 .module-surround {background-image: url(../images/overlays/dark/nav-lines.png);}
.headerpanel-overlay-dark .box4 .rt-block, .featurepanel-overlay-dark .box4 .rt-block, .showcasepanel-overlay-dark .box4 .rt-block, .footerpanel-overlay-dark .box4 .rt-block, #rt-body-surround.body-accentoverlay-dark .box4 .rt-block {background-image: url(../images/overlays/dark/nav-lines.png);}
.headerpanel-overlay-dark .box4 .module-surround, .featurepanel-overlay-dark .box4 .module-surround, .showcasepanel-overlay-dark .box4 .module-surround, .footerpanel-overlay-dark .box4 .module-surround, #rt-body-surround.body-accentoverlay-dark .box4 .module-surround, .headerpanel-overlay-dark .box5 .module-surround, .featurepanel-overlay-dark .box5 .module-surround, .showcasepanel-overlay-dark .box5 .module-surround, .footerpanel-overlay-dark .box5 .module-surround, #rt-body-surround.body-accentoverlay-dark .box5 .module-surround {box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);}
.headerpanel-overlay-dark .box5 .rt-block, .featurepanel-overlay-dark .box5 .rt-block, .showcasepanel-overlay-dark .box5 .rt-block, .footerpanel-overlay-dark .box5 .rt-block, #rt-main-container.body-overlay-dark #rt-body-surround .box5 .rt-block {background-image: url(../images/overlays/dark-40.png);}
.headerpanel-overlay-dark .box5 .module-surround, .featurepanel-overlay-dark .box5 .module-surround, .showcasepanel-overlay-dark .box5 .module-surround, .footerpanel-overlay-dark .box5 .module-surround, #rt-main-container.body-overlay-dark .box5 .module-surround {background-image: url(../images/overlays/dark/bottom-flare.png);color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.body-overlay-dark .rt-grid-1 .title1 .title {background-image: url(../images/overlays/dark/grid1-title1.png);}
.body-overlay-dark .rt-grid-2 .title1 .title {background-image: url(../images/overlays/dark/grid2-title1.png);}
.body-overlay-dark .rt-grid-3 .title1 .title {background-image: url(../images/overlays/dark/grid3-title1.png);}
.body-overlay-dark .rt-grid-4 .title1 .title {background-image: url(../images/overlays/dark/grid4-title1.png);}
.body-overlay-dark .rt-grid-5 .title1 .title {background-image: url(../images/overlays/dark/grid5-title1.png);}
.body-overlay-dark .rt-grid-6 .title1 .title {background-image: url(../images/overlays/dark/grid6-title1.png);}
.body-overlay-dark .rt-grid-7 .title1 .title {background-image: url(../images/overlays/dark/grid7-title1.png);}
.body-overlay-dark .rt-grid-8 .title1 .title {background-image: url(../images/overlays/dark/grid8-title1.png);}
.body-overlay-dark .rt-grid-9 .title1 .title {background-image: url(../images/overlays/dark/grid9-title1.png);}
.body-overlay-dark .rt-grid-10 .title1 .title {background-image: url(../images/overlays/dark/grid10-title1.png);}
.body-overlay-dark .rt-grid-11 .title1 .title {background-image: url(../images/overlays/dark/grid11-title1.png);}
.body-overlay-dark .rt-grid-12 .title1 .title {background-image: url(../images/overlays/dark/grid12-title1.png);}
.module-icon {background-image: url(../images/overlays/dark/title-icons.png);}

/* Breadcrumbs - LIGHT */
.headerpanel-overlay-light .breadcrumbs .separator-item, .featurepanel-overlay-light .breadcrumbs .separator-item, .showcasepanel-overlay-light .breadcrumbs .separator-item, .footerpanel-overlay-light .breadcrumbs .separator-item, .body-overlay-light .breadcrumbs .separator-item {background-image: url(../images/overlays/light/arrows.png);}

/* Breadcrumbs - DARK */
.headerpanel-overlay-dark .breadcrumbs .separator-item, .featurepanel-overlay-dark .breadcrumbs .separator-item, .showcasepanel-overlay-dark .breadcrumbs .separator-item, .footerpanel-overlay-dark .breadcrumbs .separator-item, .body-overlay-dark .breadcrumbs .separator-item {background-image: url(../images/overlays/dark/arrows.png);}

/* Header - LIGHT */
.headerpanel-overlay-light #rt-controls .fontsizer-block, .headerpanel-overlay-light #rt-controls .datefeature-block, .headerpanel-overlay-light #rt-controls .popupmodule-block {background-color: #fff;box-shadow: 0 2px 3px rgba(0,0,0,0.2);background-image: url(../images/overlays/light/feature-top-overlay.png);}
.headerpanel-overlay-light .fontsizer-block .button {border-left: 1px solid #B5B5B5;}
.headerpanel-overlay-light .fontsizer-block #rt-accessibility .button {background-image: url(../images/overlays/light/font-sizer.png);}
.headerpanel-overlay-light .fontsizer-block #rt-accessibility .button:hover {background-color: #fff;box-shadow: inset 0 0 5px rgba(0,0,0,0.3);}
.headerpanel-overlay-light #rt-controls .popupmodule-block span {color: #4C4A47;}

/* Header - DARK */
.headerpanel-overlay-dark #rt-controls .fontsizer-block, .headerpanel-overlay-dark #rt-controls .datefeature-block, .headerpanel-overlay-dark #rt-controls .popupmodule-block {background-color: #666;box-shadow: 0 2px 3px rgba(0,0,0,0.7);background-image: url(../images/overlays/dark/feature-top-overlay.png);color: #ccc;}
.headerpanel-overlay-dark .fontsizer-block #rt-accessibility .button {background-image: url(../images/overlays/dark/font-sizer.png);}
.headerpanel-overlay-dark .fontsizer-block .button {border-left: 1px solid #333;}
.headerpanel-overlay-dark .fontsizer-block #rt-accessibility .button:hover {background-color: #444;box-shadow: inset 0 0 5px rgba(0,0,0,0.3);}
.headerpanel-overlay-dark #rt-controls .popupmodule-block span {color: #ccc;}

/* RokSprocket - Tabs - Light */
.headerpanel-overlay-light .sprocket-tabs-nav > li, .featurepanel-overlay-light .sprocket-tabs-nav > li, .showcasepanel-overlay-light .sprocket-tabs-nav > li, .footerpanel-overlay-light .sprocket-tabs-nav > li {background: transparent url(../images/overlays/light-10.png);opacity: 0.8;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), -2px 0 0 rgba(0, 0, 0, 0.1);box-shadow: inset 0 -1px 3px rgba(0,0,0,0.2);border: 0 none;}
.headerpanel-overlay-light .sprocket-tabs-panels, .featurepanel-overlay-light .sprocket-tabs-panels, .showcasepanel-overlay-light .sprocket-tabs-panels, .footerpanel-overlay-light .sprocket-tabs-panels  {background: transparent url(../images/overlays/light-15.png);border: 0 none;}
.headerpanel-overlay-light .layout-top .sprocket-tabs-panels, .featurepanel-overlay-light .layout-top .sprocket-tabs-panels, .showcasepanel-overlay-light .layout-top .sprocket-tabs-panels, .footerpanel-overlay-light .layout-top .sprocket-tabs-panels  {box-shadow: 0 2px 3px rgba(0,0,0,0.2);}
.headerpanel-overlay-light .layout-bottom .sprocket-tabs-panels, .featurepanel-overlay-light .layout-bottom .sprocket-tabs-panels, .showcasepanel-overlay-light .layout-bottom .sprocket-tabs-panels, .footerpanel-overlay-light .layout-bottom .sprocket-tabs-panels  {box-shadow: 0 -2px 3px rgba(0,0,0,0.2);}
.headerpanel-overlay-light .sprocket-tabs-nav > li.active, .featurepanel-overlay-light .sprocket-tabs-nav > li.active, .showcasepanel-overlay-light .sprocket-tabs-nav > li.active, .footerpanel-overlay-light .sprocket-tabs-nav > li.active {background: transparent url(../images/overlays/light-15.png);box-shadow: 0 -2px 4px rgba(0,0,0,0.05);opacity: 1;border: 0 none;}
.headerpanel-overlay-light .layout-top .sprocket-tabs-nav > li.active, .featurepanel-overlay-light .layout-top .sprocket-tabs-nav > li.active, .showcasepanel-overlay-light .layout-top .sprocket-tabs-nav > li.active, .footerpanel-overlay-light .layout-top .sprocket-tabs-nav > li.active {box-shadow: 0 -2px 4px rgba(0,0,0,0.1);}
.headerpanel-overlay-light .layout-bottom .sprocket-tabs-nav > li.active, .featurepanel-overlay-light .layout-bottom .sprocket-tabs-nav > li.active, .showcasepanel-overlay-light .layout-bottom .sprocket-tabs-nav > li.active, .footerpanel-overlay-light .layout-bottom .sprocket-tabs-nav > li.active {box-shadow: 0 2px 4px rgba(0,0,0,0.1);}

/* RokSprocket - Tabs - Dark */
.headerpanel-overlay-dark .sprocket-tabs-nav > li, .featurepanel-overlay-dark .sprocket-tabs-nav > li, .showcasepanel-overlay-dark .sprocket-tabs-nav > li, .footerpanel-overlay-dark .sprocket-tabs-nav > li {background: transparent url(../images/overlays/dark-15.png);opacity: 0.5;box-shadow: inset 0 -1px 3px rgba(0,0,0,0.2);border: 0 none;}
.headerpanel-overlay-dark .sprocket-tabs-panels, .featurepanel-overlay-dark .sprocket-tabs-panels, .showcasepanel-overlay-dark .sprocket-tabs-panels, .footerpanel-overlay-dark .sprocket-tabs-panels {background: transparent url(../images/overlays/dark-20.png);box-shadow: 0 2px 3px rgba(0,0,0,0.2);border: 0 none;}
.headerpanel-overlay-dark .sprocket-tabs-nav > li.active, .featurepanel-overlay-dark .sprocket-tabs-nav > li.active, .showcasepanel-overlay-dark .sprocket-tabs-nav > li.active, .footerpanel-overlay-dark .sprocket-tabs-nav > li.active {background: transparent url(../images/overlays/dark-20.png);opacity: 1;border: 0 none;}
.headerpanel-overlay-dark .layout-top .sprocket-tabs-nav > li.active, .featurepanel-overlay-dark .layout-top .sprocket-tabs-nav > li.active, .showcasepanel-overlay-dark .layout-top .sprocket-tabs-nav > li.active, .footerpanel-overlay-dark .layout-top .sprocket-tabs-nav > li.active {box-shadow: 0 -2px 4px rgba(0,0,0,0.1);}
.headerpanel-overlay-dark .layout-bottom .sprocket-tabs-nav > li.active, .featurepanel-overlay-dark .layout-bottom .sprocket-tabs-nav > li.active, .showcasepanel-overlay-dark .layout-bottom .sprocket-tabs-nav > li.active, .footerpanel-overlay-dark .layout-bottom .sprocket-tabs-nav > li.active {box-shadow: 0 2px 4px rgba(0,0,0,0.1);}

/* RokSprocket - Features - Light */
.headerpanel-overlay-light .sprocket-features-arrows .prev,.headerpanel-overlay-light .sprocket-features-arrows .next {background: url(../images/overlays/light/mod-gradient.png) repeat-x 0 100%;border: 1px solid rgba(0,0,0,0.3);box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.headerpanel-overlay-light .sprocket-features-arrows .prev span,.headerpanel-overlay-light .sprocket-features-arrows .next span, .featurepanel-overlay-light .sprocket-features-arrows .prev span,.featurepanel-overlay-light .sprocket-features-arrows .next span {background-image: url(../images/overlays/light/features-arrows.png);}
.headerpanel-overlay-light .layout-showcase .sprocket-features-pagination li {background: #4C4A47;border: 2px solid #4C4A47;box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.headerpanel-overlay-light .layout-showcase .sprocket-features-pagination li.active {background: url(../images/overlays/light/readon.png) repeat-x 0 9%;border: 2px solid #4C4A47;box-shadow: 0 0 3px rgba(0,0,0,0.3);}

/* RokSprocket - Features - Dark */
.headerpanel-overlay-dark .sprocket-features-arrows .prev,.headerpanel-overlay-dark .sprocket-features-arrows .next {background: url(../images/overlays/dark/mod-gradient.png) repeat-x 0 100%;border: 1px solid rgba(0,0,0,0.4);box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.headerpanel-overlay-dark .sprocket-features-arrows .prev span,.headerpanel-overlay-dark .sprocket-features-arrows .next span, .featurepanel-overlay-dark .sprocket-features-arrows .prev span,.featurepanel-overlay-dark .sprocket-features-arrows .next span {background-image: url(../images/overlays/dark/features-arrows.png);}
.headerpanel-overlay-dark .layout-showcase .sprocket-features-pagination li {background: rgba(255,255,255,0.5);border: 2px solid rgba(255,255,255,0.5);box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.headerpanel-overlay-dark .layout-showcase .sprocket-features-pagination li.active {background: url(../images/overlays/dark/readon.png) repeat-x 0 9%;border: 2px solid rgba(255,255,255,0.5);box-shadow: 0 0 3px rgba(0,0,0,0.3);}


/* RokSprocket - Headlines - Light */
.headerpanel-overlay-light .sprocket-headlines, .featurepanel-overlay-light .sprocket-headlines, .showcasepanel-overlay-light .sprocket-headlines, .footerpanel-overlay-light .sprocket-headlines {border: 1px solid rgba(255,255,255,0.1);background: transparent url(../images/overlays/light-10.png);box-shadow: 0 0 3px rgba(0,0,0,0.9);}
.headerpanel-overlay-light .sprocket-headlines-navigation .arrow, .featurepanel-overlay-light .sprocket-headlines-navigation .arrow, .showcasepanel-overlay-light .sprocket-headlines-navigation .arrow, .footerpanel-overlay-light .sprocket-headlines-navigation .arrow {box-shadow: 0 0 1px rgba(0,0,0,0.5);}
.headerpanel-overlay-light .sprocket-headlines-navigation .prev, .headerpanel-overlay-light .sprocket-headlines-navigation .next, .featurepanel-overlay-light .sprocket-headlines-navigation .prev, .featurepanel-overlay-light .sprocket-headlines-navigation .next, .showcasepanel-overlay-light .sprocket-headlines-navigation .prev, .showcasepanel-overlay-light .sprocket-headlines-navigation .next, .footerpanel-overlay-light .sprocket-headlines-navigation .prev, .footerpanel-overlay-light .sprocket-headlines-navigation .next {background-image: url(../images/overlays/light/newsflash-arrows.png);}
.headerpanel-overlay-light .sprocket-headlines-navigation .controls, .featurepanel-overlay-light .sprocket-headlines-navigation .controls, .showcasepanel-overlay-light .sprocket-headlines-navigation .controls, .footerpanel-overlay-light .sprocket-headlines-navigation .controls {border: 1px solid rgba(0,0,0,0.1);background: transparent url(../images/overlays/light/menu-item-overlay.png) 0 -1px;}
.headerpanel-overlay-light .sprocket-headlines-navigation .controls:hover, .featurepanel-overlay-light .sprocket-headlines-navigation .controls:hover, .showcasepanel-overlay-light .sprocket-headlines-navigation .controls:hover, .footerpanel-overlay-light .sprocket-headlines-navigation .controls:hover {background: transparent url(../images/overlays/dark/menu-item-overlay.png) 0 -5px;}
.headerpanel-overlay-light .sprocket-headlines-navigation .prev,.headerpanel-overlay-light .sprocket-headlines-navigation .next,.headerpanel-overlay-light .sprocket-headlines-navigation .prev:hover,.headerpanel-overlay-light .sprocket-headlines-navigation .next:hover,.featurepanel-overlay-light .sprocket-headlines-navigation .prev,.featurepanel-overlay-light .sprocket-headlines-navigation .next,.featurepanel-overlay-light .sprocket-headlines-navigation .prev:hover,.featurepanel-overlay-light .sprocket-headlines-navigation .next:hover,.showcasepanel-overlay-light .sprocket-headlines-navigation .prev,.showcasepanel-overlay-light .sprocket-headlines-navigation .next,.showcasepanel-overlay-light .sprocket-headlines-navigation .prev:hover,.showcasepanel-overlay-light .sprocket-headlines-navigation .next:hover,.footerpanel-overlay-light .sprocket-headlines-navigation .prev,.footerpanel-overlay-light .sprocket-headlines-navigation .next,.footerpanel-overlay-light .sprocket-headlines-navigation .prev:hover,.footerpanel-overlay-light .sprocket-headlines-navigation .next:hover {background-image: url(../images/overlays/light/newsflash-arrows.png);}

/* RokSprocket - Headlines - Dark */
.headerpanel-overlay-dark .sprocket-headlines, .featurepanel-overlay-dark .sprocket-headlines, .showcasepanel-overlay-dark .sprocket-headlines, .footerpanel-overlay-dark .sprocket-headlines {border: 1px solid rgba(255,255,255,0.1);background: transparent url(../images/overlays/dark-20.png);box-shadow: 0 0 3px rgba(0,0,0,0.9);}
.headerpanel-overlay-dark .sprocket-headlines-navigation .arrow, .featurepanel-overlay-dark .sprocket-headlines-navigation .arrow, .showcasepanel-overlay-dark .sprocket-headlines-navigation .arrow, .footerpanel-overlay-dark .sprocket-headlines-navigation .arrow {box-shadow: 0 0 1px rgba(0,0,0,0.5);}
.headerpanel-overlay-dark .sprocket-headlines-navigation .prev, .headerpanel-overlay-dark .sprocket-headlines-navigation .next, .featurepanel-overlay-dark .sprocket-headlines-navigation .prev, .featurepanel-overlay-dark .sprocket-headlines-navigation .next, .showcasepanel-overlay-dark .sprocket-headlines-navigation .prev, .showcasepanel-overlay-dark .sprocket-headlines-navigation .next, .footerpanel-overlay-dark .sprocket-headlines-navigation .prev, .footerpanel-overlay-dark .sprocket-headlines-navigation .next {background-image: url(../images/overlays/dark/newsflash-arrows.png);}
.headerpanel-overlay-dark .sprocket-headlines-navigation .controls, .featurepanel-overlay-dark .sprocket-headlines-navigation .controls, .showcasepanel-overlay-dark .sprocket-headlines-navigation .controls, .footerpanel-overlay-dark .sprocket-headlines-navigation .controls {border: 1px solid rgba(0,0,0,0.1);background: transparent url(../images/overlays/dark/menu-item-overlay.png) 0 -1px;}
.headerpanel-overlay-dark .sprocket-headlines-navigation .controls:hover, .featurepanel-overlay-dark .sprocket-headlines-navigation .controls:hover, .showcasepanel-overlay-dark .sprocket-headlines-navigation .controls:hover, .footerpanel-overlay-dark .sprocket-headlines-navigation .controls:hover {background: transparent url(../images/overlays/light/menu-item-overlay.png) 0 -5px;}
.headerpanel-overlay-dark .sprocket-headlines-navigation .prev,.headerpanel-overlay-dark .sprocket-headlines-navigation .next,.headerpanel-overlay-dark .sprocket-headlines-navigation .prev:hover,.headerpanel-overlay-dark .sprocket-headlines-navigation .next:hover,.featurepanel-overlay-dark .sprocket-headlines-navigation .prev,.featurepanel-overlay-dark .sprocket-headlines-navigation .next,.featurepanel-overlay-dark .sprocket-headlines-navigation .prev:hover,.featurepanel-overlay-dark .sprocket-headlines-navigation .next:hover,.showcasepanel-overlay-dark .sprocket-headlines-navigation .prev,.showcasepanel-overlay-dark .sprocket-headlines-navigation .next,.showcasepanel-overlay-dark .sprocket-headlines-navigation .prev:hover,.showcasepanel-overlay-dark .sprocket-headlines-navigation .next:hover,.footerpanel-overlay-dark .sprocket-headlines-navigation .prev,.footerpanel-overlay-dark .sprocket-headlines-navigation .next,.footerpanel-overlay-dark .sprocket-headlines-navigation .prev:hover,.footerpanel-overlay-dark .sprocket-headlines-navigation .next:hover {background-image: url(../images/overlays/dark/newsflash-arrows.png);}

/* RokSprocket - Lists - Light */
.headerpanel-overlay-light .sprocket-lists, .featurepanel-overlay-light .sprocket-lists, .showcasepanel-overlay-light .sprocket-lists, .footerpanel-overlay-light .sprocket-lists {border: 1px solid rgba(255,255,255,0.2);background: transparent url(../images/overlays/light-10.png) 0 100%;}
.headerpanel-overlay-light .sprocket-lists-nav, .featurepanel-overlay-light .sprocket-lists-nav, .showcasepanel-overlay-light .sprocket-lists-nav, .footerpanel-overlay-light .sprocket-lists-nav {box-shadow: inset 0 -1px 1px rgba(0,0,0,0.03);background: transparent url(../images/overlays/light/mod-gradient.png) repeat-x 100% 100%;}
.headerpanel-overlay-light .sprocket-lists .sprocket-lists-container li, .featurepanel-overlay-light .sprocket-lists .sprocket-lists-container li, .showcasepanel-overlay-light .sprocket-lists .sprocket-lists-container li, .footerpanel-overlay-light .sprocket-lists .sprocket-lists-container li {box-shadow: inset 0 -1px 1px rgba(0,0,0,0.03);background: transparent url(../images/overlays/light/mod-gradient.png) repeat-x 100% 100%;border-bottom: 1px solid rgba(255,255,255,0.2);}
.headerpanel-overlay-light .sprocket-lists-title .indicator, .featurepanel-overlay-light .sprocket-lists-title .indicator, .showcasepanel-overlay-light .sprocket-lists-title .indicator, .footerpanel-overlay-light .sprocket-lists-title .indicator {background: transparent url(../images/overlays/dark/roknewspager-toggle.png) 100% 100% no-repeat;background-color: #4C4A47;box-shadow: 0 0 3px rgba(0,0,0,0.6);}
.headerpanel-overlay-light .sprocket-lists-container li.active .sprocket-lists-title .indicator, .featurepanel-overlay-light .sprocket-lists-container li.active .sprocket-lists-title .indicator, .showcasepanel-overlay-light .sprocket-lists-container li.active .sprocket-lists-title .indicator, .footerpanel-overlay-light .sprocket-lists-container li.active .sprocket-lists-title .indicator {background: #eee url(../images/overlays/light/roknewspager-toggle.png) 100% 100% no-repeat;}
.headerpanel-overlay-light .sprocket-lists-arrows .arrow.prev,.headerpanel-overlay-light .sprocket-lists-arrows .arrow.next, .featurepanel-overlay-light .sprocket-lists-arrows .arrow.prev,.featurepanel-overlay-light .sprocket-lists-arrows .arrow.next, .showcasepanel-overlay-light .sprocket-lists-arrows .arrow.prev,.showcasepanel-overlay-light .sprocket-lists-arrows .arrow.next, .footerpanel-overlay-light .sprocket-lists-arrows .arrow.prev,.footerpanel-overlay-light .sprocket-lists-arrows .arrow.next {background-image: url(../images/overlays/light/roknewspager-arrows.png);}
.headerpanel-overlay-light .sprocket-lists-pagination ul li, .featurepanel-overlay-light .sprocket-lists-pagination ul li, .showcasepanel-overlay-light .sprocket-lists-pagination ul li, .footerpanel-overlay-light .sprocket-lists-pagination ul li {background: #4C4A47;box-shadow: 0 0 3px rgba(0,0,0,0.3);border: 3px solid #4C4A47;}
.headerpanel-overlay-light .sprocket-lists-pagination ul li.active, .featurepanel-overlay-light .sprocket-lists-pagination ul li.active, .showcasepanel-overlay-light .sprocket-lists-pagination ul li.active, .footerpanel-overlay-light .sprocket-lists-pagination ul li.active {background: url(../images/overlays/light/readon.png) repeat-x 0 9%;}
.headerpanel-overlay-light .sprocket-lists-arrows .controls, .featurepanel-overlay-light .sprocket-lists-arrows .controls, .showcasepanel-overlay-light .sprocket-lists-arrows .controls, .footerpanel-overlay-light .sprocket-lists-arrows .controls {border: 1px solid rgba(0,0,0,0.1);background: #FBFBFB url(../images/overlays/light/menu-item-overlay.png) 0 -1px;}
.headerpanel-overlay-light .sprocket-lists-arrows .controls:hover, .featurepanel-overlay-light .sprocket-lists-arrows .controls:hover, .showcasepanel-overlay-light .sprocket-lists-arrows .controls:hover, .footerpanel-overlay-light .sprocket-lists-arrows .controls:hover {background: #222 url(../images/overlays/dark/menu-item-overlay.png) 0 -5px;}
.headerpanel-overlay-light .sprocket-lists-arrows .arrow.prev,.headerpanel-overlay-light .sprocket-lists-arrows .arrow.next, .featurepanel-overlay-light .sprocket-lists-arrows .arrow.prev,.featurepanel-overlay-light .sprocket-lists-arrows .arrow.next, .showcasepanel-overlay-light .sprocket-lists-arrows .arrow.prev, .showcasepanel-overlay-light .sprocket-lists-arrows .arrow.next, .footerpanel-overlay-light .sprocket-lists-arrows .arrow.prev, .footerpanel-overlay-light .sprocket-lists-arrows .arrow.next {background-image: url(../images/overlays/light/newsflash-arrows.png);}
.headerpanel-overlay-light .sprocket-lists-arrows .arrow.prev:hover,.headerpanel-overlay-light .sprocket-lists-arrows .arrow.next:hover, .featurepanel-overlay-light .sprocket-lists-arrows .arrow.prev:hover, .featurepanel-overlay-light .sprocket-lists-arrows .arrow.next:hover, .showcasepanel-overlay-light .sprocket-lists-arrows .arrow.prev:hover, .showcasepanel-overlay-light .sprocket-lists-arrows .arrow.next:hover, .footerpanel-overlay-light .sprocket-lists-arrows .arrow.prev:hover, .footerpanel-overlay-light .sprocket-lists-arrows .arrow.next:hover {background-image: url(../images/overlays/dark/newsflash-arrows.png);}

/* RokSprocket - Lists - Dark */
.headerpanel-overlay-dark .sprocket-lists, .featurepanel-overlay-dark .sprocket-lists, .showcasepanel-overlay-dark .sprocket-lists, .footerpanel-overlay-dark .sprocket-lists {border: 1px solid rgba(0,0,0,0.2);background: transparent url(../images/overlays/dark-10.png) 0 100%;}
.headerpanel-overlay-dark .sprocket-lists-nav, .featurepanel-overlay-dark .sprocket-lists-nav, .showcasepanel-overlay-dark .sprocket-lists-nav, .footerpanel-overlay-dark .sprocket-lists-nav {box-shadow: inset 0 -1px 1px rgba(0,0,0,0.03);background: transparent url(../images/overlays/dark/mod-gradient.png) repeat-x 100% 100%;}
.headerpanel-overlay-dark .sprocket-lists .sprocket-lists-container li, .featurepanel-overlay-dark .sprocket-lists .sprocket-lists-container li, .showcasepanel-overlay-dark .sprocket-lists .sprocket-lists-container li, .footerpanel-overlay-dark .sprocket-lists .sprocket-lists-container li {box-shadow: inset 0 -1px 1px rgba(0,0,0,0.03);background: transparent url(../images/overlays/dark/mod-gradient.png) repeat-x 100% 100%;border-bottom: 1px solid rgba(0,0,0,0.2);}
.headerpanel-overlay-dark .sprocket-lists-title .indicator, .featurepanel-overlay-dark .sprocket-lists-title .indicator, .showcasepanel-overlay-dark .sprocket-lists-title .indicator, .footerpanel-overlay-dark .sprocket-lists-title .indicator {background: transparent url(../images/overlays/dark/roknewspager-toggle.png) 100% 100% no-repeat;background-color: #4C4A47;box-shadow: 0 0 3px rgba(0,0,0,0.6);}
.headerpanel-overlay-dark .sprocket-lists-container li.active .sprocket-lists-title .indicator, .featurepanel-overlay-dark .sprocket-lists-container li.active .sprocket-lists-title .indicator, .showcasepanel-overlay-dark .sprocket-lists-container li.active .sprocket-lists-title .indicator, .footerpanel-overlay-dark .sprocket-lists-container li.active .sprocket-lists-title .indicator {background: rgba(0,0,0,0.2) url(../images/overlays/dark/roknewspager-toggle.png) 100% 100% no-repeat;}
.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.next, .featurepanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.featurepanel-overlay-dark .sprocket-lists-arrows .arrow.next, .showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.next, .footerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.footerpanel-overlay-dark .sprocket-lists-arrows .arrow.next {background-image: url(../images/overlays/dark/roknewspager-arrows.png);}
.headerpanel-overlay-dark .sprocket-lists-pagination ul li, .featurepanel-overlay-dark .sprocket-lists-pagination ul li, .showcasepanel-overlay-dark .sprocket-lists-pagination ul li, .footerpanel-overlay-dark .sprocket-lists-pagination ul li {background: #222;box-shadow: 0 0 3px rgba(0,0,0,0.3);border: 3px solid #222;}
.headerpanel-overlay-dark .sprocket-lists-pagination ul li.active, .featurepanel-overlay-dark .sprocket-lists-pagination ul li.active, .showcasepanel-overlay-dark .sprocket-lists-pagination ul li.active, .footerpanel-overlay-dark .sprocket-lists-pagination ul li.active {background: url(../images/overlays/dark/readon.png) repeat-x 0 9%;}
.headerpanel-overlay-dark .sprocket-lists-arrows .controls, .featurepanel-overlay-dark .sprocket-lists-arrows .controls, .showcasepanel-overlay-dark .sprocket-lists-arrows .controls, .footerpanel-overlay-dark .sprocket-lists-arrows .controls {border: 1px solid rgba(0,0,0,0.1);background: #444 url(../images/overlays/dark/menu-item-overlay.png) 0 -1px;}
.headerpanel-overlay-dark .sprocket-lists-arrows .controls:hover, .featurepanel-overlay-dark .sprocket-lists-arrows .controls:hover, .showcasepanel-overlay-dark .sprocket-lists-arrows .controls:hover, .footerpanel-overlay-dark .sprocket-lists-arrows .controls:hover {background: #555 url(../images/overlays/dark/menu-item-overlay.png) 0 -5px;}
.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.next, .featurepanel-overlay-dark .sprocket-lists-arrows .arrow.prev,.featurepanel-overlay-dark .sprocket-lists-arrows .arrow.next, .showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.prev, .showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.next, .footerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev, .footerpanel-overlay-dark .sprocket-lists-arrows .arrow.next {background-image: url(../images/overlays/dark/newsflash-arrows.png);}
.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev:hover,.headerpanel-overlay-dark .sprocket-lists-arrows .arrow.next:hover, .featurepanel-overlay-dark .sprocket-lists-arrows .arrow.prev:hover, .featurepanel-overlay-dark .sprocket-lists-arrows .arrow.next:hover, .showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.prev:hover, .showcasepanel-overlay-dark .sprocket-lists-arrows .arrow.next:hover, .footerpanel-overlay-dark .sprocket-lists-arrows .arrow.prev:hover, .footerpanel-overlay-dark .sprocket-lists-arrows .arrow.next:hover {background-image: url(../images/overlays/light/newsflash-arrows.png);}

/* RokTwittie - Light */
.headerpanel-overlay-light #roktwittie, .featurepanel-overlay-light #roktwittie, .showcasepanel-overlay-light #roktwittie, .footerpanel-overlay-light #roktwittie {text-shadow: none;}
.headerpanel-overlay-light #roktwittie .roktwittie-m2, .featurepanel-overlay-light #roktwittie .roktwittie-m2, .showcasepanel-overlay-light #roktwittie .roktwittie-m2, .footerpanel-overlay-light #roktwittie .roktwittie-m2 {background: transparent url(../images/overlays/light-40.png) repeat; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);border: 0 none;}
.headerpanel-overlay-light #roktwittie .roktwittie-m2:hover, .featurepanel-overlay-light #roktwittie .roktwittie-m2:hover, .showcasepanel-overlay-light #roktwittie .roktwittie-m2:hover, .footerpanel-overlay-light #roktwittie .roktwittie-m2:hover {box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);}
.headerpanel-overlay-light #roktwittie .roktwittie-t1, .featurepanel-overlay-light #roktwittie .roktwittie-t1, .showcasepanel-overlay-light #roktwittie .roktwittie-t1, .footerpanel-overlay-light #roktwittie .roktwittie-t1 {border-right-color: rgba(255, 255, 255, 0.4) !important;}

/* RokTwittie - Dark */
.headerpanel-overlay-dark #roktwittie, .featurepanel-overlay-dark #roktwittie, .showcasepanel-overlay-dark #roktwittie, .footerpanel-overlay-dark #roktwittie {text-shadow: none;}
.headerpanel-overlay-dark #roktwittie .roktwittie-m2, .featurepanel-overlay-dark #roktwittie .roktwittie-m2, .showcasepanel-overlay-dark #roktwittie .roktwittie-m2, .footerpanel-overlay-dark #roktwittie .roktwittie-m2 {background: transparent url(../images/overlays/dark-20.png) repeat; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);border: 0 none;}
.headerpanel-overlay-dark #roktwittie .roktwittie-m2:hover, .featurepanel-overlay-dark #roktwittie .roktwittie-m2:hover, .showcasepanel-overlay-dark #roktwittie .roktwittie-m2:hover, .footerpanel-overlay-dark #roktwittie .roktwittie-m2:hover {box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);}
.headerpanel-overlay-dark #roktwittie .roktwittie-t1, .featurepanel-overlay-dark #roktwittie .roktwittie-t1, .showcasepanel-overlay-dark #roktwittie .roktwittie-t1, .footerpanel-overlay-dark #roktwittie .roktwittie-t1 {border-right-color: rgba(0, 0, 0, 0.2) !important;}

/* Showcase Overrides */
.sprocket-features-arrows .prev span, .sprocket-features-arrows .next span {background-image: url(../images/overlays/light/features-arrows.png);}
.sprocket-features-arrows .prev, .sprocket-features-arrows .next {background: url(../images/overlays/light/mod-gradient.png) repeat-x 0 100%;border: 1px solid rgba(0, 0, 0, 0.3);box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);}