/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}

/* Root Items */
.rt-menubar {display: block;position: relative;margin: 0;}
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;z-index: 1;}
.menutop li {float: left;margin: 0;padding: 0;}
.menutop li > .item {white-space: nowrap;display: block;font-size: 0.9em;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0;outline: none;font-weight: normal;line-height: 60px;overflow: visible;background-repeat: no-repeat;background-position: 0 50%;}
.menutop li:first-child > .item {background: none !important;}
.menutop li .item span {display: block;outline: none;width: auto;padding: 15px 20px;line-height: 30px;}
.menutop li .item em {font-size: 10px;display: block;font-style: normal;line-height: 100%;text-align: left;margin-top: 0;text-transform: none;}
.menutop li .subtext {line-height: 64px;}
.menutop li.active.parent .item span {background-position: 92% -529px;}
.menutop > li.active .item.subtext span, .menutop > li .item.subtext span, .menutop li.root.f-mainparent-itemfocus .item.subtext span, .menutop li.f-mainparent-itemfocus .item.subtext span, .rt-menubar .menutop > li:hover .item.subtext span, .rt-menubar .menutop > li.active .item.subtext span {line-height: 20px;}
.menutop > li.active .item.subtext em, .menutop li.root.f-mainparent-itemfocus .item.subtext em, .menutop li.f-mainparent-itemfocus .item.subtext em, .rt-menubar .menutop > li:hover .item.subtext em, .rt-menubar .menutop > li.active .item.subtext em {margin-top: 0;}
.rt-menubar ul.menutop li:hover > .item, .rt-menubar ul.menutop li.active > .item {background-image: none;}
.rt-menubar ul.menutop li.active, .rt-menubar ul.menutop li:hover, .rt-menubar ul.menutop li.f-mainparent-itemfocus {background-repeat: repeat-x;margin: 0 -3px 0 0;padding: 0 3px 0 0;z-index: 101;}
.menutop li.root:hover > .item span span, .menutop li.root.active > .item span span, .rt-splitmenu .menutop li:hover > .item span span, .rt-splitmenu .menutop li.active > .item span span, .menutop li.root.f-mainparent-itemfocus > .item span span {background-repeat: no-repeat;background-position: right -60px;}
.rt-menubar ul.menutop li.active .item > span, .rt-menubar ul.menutop li:hover .item > span, .rt-menubar ul.menutop li.f-mainparent-itemfocus .item > span {background-repeat: no-repeat;background-position: left 0;}
.rt-menubar ul.menutop li.active .rt-arrow-pointer, .rt-menubar ul.menutop li:hover .rt-arrow-pointer, .rt-menubar ul.menutop li.f-mainparent-itemfocus .rt-arrow-pointer {border-left: 7px solid transparent;border-right: 7px solid transparent;border-top-width: 7px;border-top-style: solid;content: "";height: 0;width: 0;position: absolute;bottom: -8px;left: 50%;margin-left: -7px;}
.rt-menubar ul.menutop li > .item > span {background-repeat: no-repeat;background-position: 0 50%;display: block;padding: 0 6px 0 0;margin: 0 -9px 0 0;}

/* RTL */
body.rtl .menutop li {float: right;}
body.rtl .menutop li .item em {text-align: right;}
body.rtl .menutop li.active.parent .item span {background-position: 0 -208px;}
body.rtl .menutop li.parent .item span {background-position: 0 -208px;}