/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

.component-block, .rt-container, #rt-top-surround, #rt-top-surround2, #rt-header, #rt-copyright, .logo-module, #rt-navigation, #rt-navigation2, #rt-navigation3, #developed-by, .menu-top {zoom: 1;}
#rt-header {height: 100px;}
#rt-navigation, #rt-navigation2, #rt-navigation3 {position: relative;background-image: none;}
#rt-navigation, #rt-navigation3, #rt-navigation3 .rt-container, .logo-block {z-index: 2;position: static !important;}
#rt-navigation {background-color: #333;height: 10px;position: relative;}