/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Logo */
body.rtl #logo-inner {right: 75px;left: inherit;}
body.rtl #logo-icon {right: -9px;left: inherit;}
body.rtl.logo-icon-0 #logo-inner {right: -10px;}
body.rtl.logo-icon-1 #rt-navigation .rt-block {margin: 0 114px 0 0;}

/* Navigation */
body.rtl .rt-menubar {float: right;}
body.rtl .menutop li.root .item, body.rtl .rt-menubar .menutop li .item {border-left-width: 0;border-right-width: 1px;}
body.rtl .menutop > .fusion-js-subs > .fusion-submenu-wrapper.level2 .rt-arrow-pointer {right: 10px;left: inherit;}
body.rtl .menutop li.root > .item .item-border, body.rtl .rt-splitmenu .menutop li > .item .item-border {margin: 0 2px 0 0;}
body.rtl .menutop li.root > .item, body.rtl .rt-splitmenu .menutop li > .item {background-position: right center;}
body.rtl #rt-navigation .rt-container {background-position: 100% -4px;}

/* Module Variations - Icon */
body.rtl .icon-surround {padding-left: 0;padding-right: 22px;}
body.rtl .module-icon {left: inherit;right: 0;}
body.rtl .title1 .title, body.rtl .title2 .title, body.rtl .title3 .title, body.rtl .title4 .title {padding: 2px 25px 2px 7px}
body.rtl .title1 .arrow-box, body.rtl .title2 .arrow-box, body.rtl .title3 .arrow-box {float: right;background-position: 6px -670px;}
body.rtl .title.title3 .arrow-box, body.rtl .title4 .arrow-box {background-position: 6px -479px;float: right;}

/* Side Menus */
body.rtl .module-content ul.menu li li a span, body.rtl .module-content ul.menu li li .separator, body.rtl .module-content ul.menu li li .item span {padding: 5px 20px 5px 10px;}
body.rtl .module-content ul.menu .image img {float: right;}
body.rtl .module-content ul.menu .item.image {padding-left: inherit;padding-right: 8px;}
body.rtl .module-content ul.menu ul {padding: 10px 15px 15px 0;}
body.rtl .module-content ul.menu li a span, body.rtl .module-content ul.menu li .separator, body.rtl .module-content ul.menu li .item span {background-position: 100% -436px;}
body.rtl .module-content ul.menu li a:hover span, body.rtl .module-content ul.menu li .separator:hover, body.rtl .module-content ul.menu li .item:hover span, body.rtl .module-content ul.menu li.active > a span, body.rtl .module-content ul.menu li.active > .separator, body.rtl .module-content ul.menu li.active > .item span {background-position: 100% -216px;}
body.rtl .module-content ul.menu li.parent li a span, body.rtl .module-content ul.menu li.parent li .item span, body.rtl .module-content ul.menu li.parent li .separator span {background-position: 100% 10px;}
body.rtl .module-content ul.menu li.parent li.active > a > span, body.rtl .module-content ul.menu li.parent li.active > .item > span, body.rtl .module-content ul.menu li.parent li.active > .separator > span {background-position: 100% 10px;}
body.rtl .module-content ul.menu li.parent li a:hover span, body.rtl .module-content ul.menu li.parent li .item:hover span, body.rtl .module-content ul.menu li.parent li .separator:hover span {background-position: 100% 10px;}

/* Buttons and Inputs */
body.rtl .rokchecks, body.rtl .rokradios {padding: 3px 25px 3px 0;}
body.rtl .rokradios {background-position: 100% 4px;}
body.rtl .rokradios-active {background-position: 100% -322px;}
body.rtl .rokchecks {background-position: 100% -640px;}
body.rtl .rokchecks-active {background-position: 100% -967px;}

/* Branding */
body.rtl #rocket {float: right;}

/* Copyright */
body.rtl .copytext {text-align: right;}

/* Breadcrumbs */
body.rtl span.breadcrumbs a, body.rtl span.no-link {float: right;}
body.rtl span.breadcrumbs img, body.rtl #rt-breadcrumbs img[src $="arrow.png"] {float: right;}

/* Login Form - Horizontal */
body.rtl #rt-header #form-login .readon, body.rtl .horizontal #form-login .readon {left: 0;right: inherit;}
body.rtl #rt-header #form-login-username, body.rtl .horizontal #form-login-username {float: right;margin-left: 15px;margin-right: 0;}

/* Popup Module Feature */
body.rtl #rt-popuplogin p {float: right;}
body.rtl #rt-popuplogin p:first-child {margin-right: 0;margin-left: 10px;}
body.rtl #rt-popuplogin .readon {float: left;}
body.rtl #rt-popuplogin ul li {margin-right: 0;margin-left: 10px;}

/* Custom Content */
body.rtl .image-block-surround {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image-text {margin: 0 -5px -8px 0;}
body.rtl #rt-feature .rt-block {background-position: 100% 50%;}