/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Core */
html {margin-bottom: 1px;height: 100%;}
body, .button {height: 100%;margin-bottom: 1px;font-family: Helvetica,Arial,sans-serif;}
body.component-body {min-width: 320px;}
a {font-weight: bold;transition: color 0.2s ease-out;}
h1, h2, .module-title h2, h3, h4, h5 {line-height: 0.9em;letter-spacing: inherit;margin: 0 0 20px;}
.component-content .title {line-height: inherit;letter-spacing: inherit;}
h5 {text-transform: uppercase;font-size: 100%;}
.paneltitle {display: block;font-size: 3.8em;line-height: 1em;text-align: center;}
.panelsubtitle {display: block;font-size: 2.4em;line-height: 2.4em;margin-top: -10px;letter-spacing: 3px;text-align: center;}
.rt-container, #rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {background: transparent;}
.rt-container, .rt-block {position: relative;}
.rt-block {margin: 15px 0;}
ul {list-style-image: none;}
ul.menu {padding-left: 0;}
#rt-content-top, #rt-content-bottom {clear: both;overflow: visible;}
#rt-debug {padding-top: 20px;position: relative;}
#rt-transition {position: relative;}
#rt-page-surround {overflow: hidden;}
.textshadow-0 .title, .textshadow-0 .paneltitle, .textshadow-0 .panelsubtitle, .textshadow-0 .sprocket-features-title {text-shadow: none !important;}

/* Fonts */
@font-face {font-family: 'NovecentowideNormal';src: url('../fonts/novecentowide-normal-webfont.eot');src: url('../fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/novecentowide-normal-webfont.woff') format('woff'),url('../fonts/novecentowide-normal-webfont.ttf') format('truetype'),url('../fonts/novecentowide-normal-webfont.svg#NovecentowideNormal') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'NovecentowideMedium';src: url('../fonts/novecentowide-medium-webfont.eot');src: url('../fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/novecentowide-medium-webfont.woff') format('woff'),url('../fonts/novecentowide-medium-webfont.ttf') format('truetype'),url('../fonts/novecentowide-medium-webfont.svg#NovecentowideMedium') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'NovecentowideDemiBold';src: url('../fonts/novecentowide-demibold-webfont.eot');src: url('../fonts/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/novecentowide-demibold-webfont.woff') format('woff'),url('../fonts/novecentowide-demibold-webfont.ttf') format('truetype'),url('../fonts/novecentowide-demibold-webfont.svg#NovecentowideDemiBold') format('svg');font-weight: normal;font-style: normal;}
.font-family-diametric .module-title .title, .font-family-diametric #rt-showcase .title, .font-family-diametric .promo, .font-family-diametric #roktwittie .status .header .name, .font-family-diametric .rt-date-feature span, .font-family-diametric .rt-popupmodule-button .buttontext, .font-family-diametric #rt-popup-button .buttontext, .font-family-diametric #rt-accessibility .rt-desc, .font-family-diametric #roktwittie .status .header .name, .font-family-diametric #rt-popuplogin .title, .paneltitle, .sprocket-features-title span {font-family: "NovecentowideDemiBold",Helvetica,Arial,sans-serif;}
.font-family-diametric .menutop li > .item, .module-surround .menu a, .font-family-diametric .rt-articleinfo-text, .panelsubtitle, .sprocket-features-title, .font-family-diametric .item-title {font-family: "NovecentowideNormal",Helvetica,Arial,sans-serif;}
h1 span, .module-title .title span {font-family: "NovecentowideNormal",Helvetica,Arial,sans-serif;}
h1 {font-family: "NovecentowideDemiBold",Helvetica,Arial,sans-serif;}
.font-family-tahoma {font-family: Tahoma,Helvetica,Arial,sans-serif;font-weight: normal;}
.font-family-helveticaneue {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: normal;}
body.font-size-is-xlarge {font-size: 15px;line-height: 1.6em;}
body.font-size-is-large {font-size: 14px;line-height: 1.6em;}
body.font-size-is-default {font-size: 13px;line-height: 1.6em;}
body.font-size-is-small {font-size: 12px;line-height: 1.6em;}
body.font-size-is-xsmall {font-size: 11px;line-height: 1.6em;}

/* Top */
#rt-top-surround {padding-top: 30px;}
#rt-top-surround.nopadding {padding-top: 0;}

/* Logo */
#rt-logo {background-repeat: no-repeat;top: -45px;position: absolute;}
.logo-block {margin: 5px;padding: 0;}
.logo-type-diametric #rt-logo {width: 145px;height: 153px;}
.logo-module .item {width: 145px !important;height: 153px;margin: -37px 5px -60px 8px !important;display: block;}
.logo-module .rt-arrow-pointer {display: none;}
li.logo-module {background: none !important;}
li.logo-module + li .item {background: none !important;}
.rt-menubar ul.menutop li.logo-module:hover .item span {background: none;}
.rt-menubar ul.menutop li.logo-module .item {text-indent: -9999px;}
.rt-menubar ul.menutop li.logo-module .rt-arrow-pointer {display: none;}

.logo-diametric-logostyle-style1 #rt-logo {background-image: url(../images/logo/preset1/logo.png);}
.logo-diametric-logostyle-style2 #rt-logo {background-image: url(../images/logo/preset2/logo.png);}
.logo-diametric-logostyle-style3 #rt-logo {background-image: url(../images/logo/preset3/logo.png);}
.logo-diametric-logostyle-style4 #rt-logo {background-image: url(../images/logo/preset4/logo.png);}
.logo-diametric-logostyle-style5 #rt-logo {background-image: url(../images/logo/preset5/logo.png);}
.logo-diametric-logostyle-style6 #rt-logo {background-image: url(../images/logo/preset6/logo.png);}
.logo-diametric-logostyle-style7 #rt-logo {background-image: url(../images/logo/preset7/logo.png);}
.logo-diametric-logostyle-style8 #rt-logo {background-image: url(../images/logo/preset8/logo.png);}
.logo-diametric-logostyle-style9 #rt-logo {background-image: url(../images/logo/preset9/logo.png);}
.logo-diametric-logostyle-style10 #rt-logo {background-image: url(../images/logo/preset10/logo.png);}
.logo-diametric-logostyle-style11 #rt-logo {background-image: url(../images/logo/preset11/logo.png);}
.logo-diametric-logostyle-style12 #rt-logo {background-image: url(../images/logo/preset12/logo.png);}

.logo-diametric-logostyle-style1 .logo-module .item {background-image: url(../images/logo/preset1/logo.png) !important;}
.logo-diametric-logostyle-style2 .logo-module .item {background-image: url(../images/logo/preset2/logo.png) !important;}
.logo-diametric-logostyle-style3 .logo-module .item {background-image: url(../images/logo/preset3/logo.png) !important;}
.logo-diametric-logostyle-style4 .logo-module .item {background-image: url(../images/logo/preset4/logo.png) !important;}
.logo-diametric-logostyle-style5 .logo-module .item {background-image: url(../images/logo/preset5/logo.png) !important;}
.logo-diametric-logostyle-style6 .logo-module .item {background-image: url(../images/logo/preset6/logo.png) !important;}
.logo-diametric-logostyle-style7 .logo-module .item {background-image: url(../images/logo/preset7/logo.png) !important;}
.logo-diametric-logostyle-style8 .logo-module .item {background-image: url(../images/logo/preset8/logo.png) !important;}
.logo-diametric-logostyle-style9 .logo-module .item {background-image: url(../images/logo/preset9/logo.png) !important;}
.logo-diametric-logostyle-style10 .logo-module .item {background-image: url(../images/logo/preset10/logo.png) !important;}
.logo-diametric-logostyle-style11 .logo-module .item {background-image: url(../images/logo/preset11/logo.png) !important;}
.logo-diametric-logostyle-style12 .logo-module .item {background-image: url(../images/logo/preset12/logo.png) !important;}

/* Navigation */
#rt-navigation {position: relative;z-index: 1;padding: 4px 0;}
.rt-block.menu-block {margin: 0;padding: 0;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {transition: background 0.3s ease-in-out, color 0.3s ease-in-out;}
#rt-navigation .rt-container {background-repeat: no-repeat;background-position: 0 -4px;}
#rt-navigation3 {min-height: 58px;}
.centered .rt-splitmenu, .centered .rt-fusionmenu {float: left;width: 100%;position: relative;}
.centered .rt-menubar {clear: left;float: left;margin: 0;padding: 0;position: relative;left: 50%;}
.centered .rt-menubar ul.menutop {float: left;position: relative;right: 50%;}

/* Header */
#rt-header {position: relative;padding: 25px 0;background-repeat: no-repeat;background-position: 50% 100%;}
#rt-header .rt-container, #rt-header .rt-grid-12, #rt-header .rt-block {position: static;}

/* Side Menus */
.module-content .menu > li.active > a, .module-content .menu > li > a:hover {margin: -2px;border-radius: 6px;}
.module-content .menu > li.active > a span, .module-content .menu > li:hover > a span {border-radius: 6px;}
.module-content .rt-menubar {display: block;margin: 0;float: none;position: relative;height: auto;background: none;border: 0;}
.module-content ul.menu li {list-style: none;padding: 0;margin: 0;background-position: 0 0;}
.module-content ul.menu > li {padding: 3px 8px;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {padding: 0;display: block;}
.module-content ul.menu li a:hover, .module-content ul.menu li .separator:hover, .module-content ul.menu li .item:hover {transition: background-color 0.3s ease-in;}
.module-content ul.menu li a span, .module-content ul.menu li .separator, .module-content ul.menu li .item span {padding: 10px 20px;font-size: 17px;line-height: 17px;display: block;font-weight: normal;background-position: 50% -8px;background-repeat: no-repeat;}
.module-content ul.menu li a:hover span, .module-content ul.menu li .separator:hover, .module-content ul.menu li .item:hover span, .module-content ul.menu li.active > a span, .module-content ul.menu li.active > .separator, .module-content ul.menu li.active > .item span {background-position: 50% -8px;}
.module-content ul.menu li li a span, .module-content ul.menu li li .separator, .module-content ul.menu li li .item span {font-size: 13px;padding: 5px 10px 5px 20px;}
.module-content ul.menu ul {padding: 5px 0 10px 15px;margin: 0;}
.module-content ul.menu .subtext em {line-height: 12px;padding-left: 0;}
.module-content ul.menu em {display: block;font-size: 80%;font-style: normal;font-weight: normal;}
.module-content ul.menu .image img {float: left;}
.module-content ul.menu .item.image {background: none;padding-left: 8px;}
.module-content ul.menu .daddyicon, .module-content ul.menu .arrow-indicator {display: none !important;}
.module-content ul.menu li.parent li a span, .module-content ul.menu li.parent li .item span, .module-content ul.menu li.parent li .separator {background-position: 5px -604px;background-repeat: no-repeat;}
.module-content ul.menu li.parent li.active > a > span, .module-content ul.menu li.parent li.active > .item > span, .module-content ul.menu li.parent li.active > .separator {background-position: 5px -321px;background-repeat: no-repeat;}
.module-content ul.menu li.parent li a:hover span, .module-content ul.menu li.parent li .item:hover span, .module-content ul.menu li.parent li .separator:hover {background-position: 5px -321px;}
.module-content ul.menu > li:first-child {border-radius: 6px 6px 0 0;}
.module-content ul.menu > li:last-child {border-radius: 0 0 6px 6px;}
.module-content ul.menu {margin-left: 0 !important;}
.module-content ul.menu > li a {background-repeat: repeat-x;transition: background-color 0.2s ease-in-out;-webkit-transition: background-color 0.2s ease-in-out;}

/* Utility */
#rt-utility {padding: 25px 0;}

/* Showcase */
#rt-showcase3 {padding: 25px 0;}

/* Main Body */
#rt-main-container {background-repeat: repeat-x;}
#rt-main, #rt-mainbottom {padding: 25px 0;}
#rt-maintop {padding: 25px 0;margin-bottom: -50px;}
.rt-sidebar-surround {margin: 0 -10px;}
#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {padding: 0 10px;}

/* Modules */
.module-title .title {font-size: 1.4em;line-height: 1.5em;font-weight: normal;margin: 0;padding: 0 0 4px;text-transform: uppercase;font-weight: 500;}
.module-title {margin-bottom: 15px;}

/* Module Variations */
.title1 .title, .title3 .title, .title4 .title {padding: 0 0 8px;font-size: 1.2em;}
.title1 .title {background-repeat: no-repeat;background-position: 50% 100%;padding: 5px 15px;}
.title2 .title {padding: 5px;}
.title3 .title {border-radius: 3px 3px 0 0;background-repeat: repeat-x;}
.title3 .module-title, .component-content .title3 .module-title, .title4 .module-title, .component-content .title4 .module-title {margin: -15px -15px 15px -15px;border-radius: 3px 3px 0 0;}
.title3 h2.title, .title4 h2.title {padding: 10px 15px;}
.title5 .title {text-align: center;}
.title5 .module-title span {display: block;font-size: 1.4em;}
.title5 .module-title .title {font-size: 1em;}
#rt-top .box1 {margin: 5px 0;}
#rt-top .box1 .rt-block {margin: 0;}
.box5 .module-surround {margin: -6px;}
.box1 .module-surround, .box2 .module-surround, .box3 .module-surround, .box4 .module-surround, .box5 .module-surround {border-radius: 4px;}
.box1 .rt-block, .box2 .rt-block, .box3 .rt-block, .box4 .rt-block {border-radius: 5px;}
.box3 .rt-block, .box4 .rt-block {padding: 20px;}
.box5 .module-surround {background-position: 50% 0;background-repeat: no-repeat;}
#rt-feature .box1 .rt-block, #rt-feature .box2 .rt-block, #rt-feature .box3 .rt-block, #rt-feature .box4 .rt-block, #rt-feature .box5 .rt-block, #rt-feature .title1 .rt-block, #rt-feature .title2 .rt-block, #rt-feature .title3 .rt-block, #rt-feature .title4 .rt-block {background-image: none;}
.module-icon {height: 83px;width: 100%;background-repeat: no-repeat;}
.icon1 .module-icon {background-position: 50% 0;}
.icon2 .module-icon {background-position: 50% -110px;}
.icon3 .module-icon {background-position: 50% -232px;}
.icon4 .module-icon {background-position: 50% -357px;}
.box3 .title {border: none;}
.box5 .rt-block {border-radius: 5px;}
.box5 .module-title {border-radius: 3px;}
.bg-overlay-dark .box5 .module-content ul.menu li.parent li a span, .bg-overlay-dark .box5 .module-content ul.menu li.parent li .item span, .bg-overlay-dark .box5 .module-content ul.menu li.parent li .separator {background-position: 5px -210px;}
.bg-overlay-dark .box5 .module-content ul.menu li.parent li a:hover span, .bg-overlay-dark .box5 .module-content ul.menu li.parent li .item:hover span, .bg-overlay-dark .box5 .module-content ul.menu li.parent li .separator:hover {background-position: 5px -135px;}
.module-surround .module-border {height: 10px;width: 100%;}
.box1 .module-surround, .box2 .module-surround, .box3 .module-surround, .box4 .module-surround, .box5 .module-surround {margin: -15px;padding: 15px;}
.topmenu ul.menu li {float: left;background-repeat: no-repeat;}
.topmenu .menu li:first-child {background-image: none;}
.topmenu .module-content ul.menu li a span, .topmenu .module-content ul.menu li .separator, .topmenu .module-content ul.menu li .item span {font-size: 1em;}
.topmenu .rt-block {margin: 21px 0;}
.topmenu .module-content {float: right;}

/* Module Standard Variations */
.rounded .rt-block {border-radius: 5px !important;}
.square .rt-block {border-radius: 0 !important;}
.basic .rt-block {background: none !important;}
.basic .block-shadow {box-shadow: none !important;}
.standardcase .module-title .title {text-transform: inherit;}
.lowercase .module-title .title {text-transform: lowercase;}
.uppercase .module-title .title {text-transform: uppercase;}
.flush .rt-block {padding: 0;}
.flushtop .rt-block {padding-top: 0;}
.flushbottom .rt-block {padding-bottom: 0;}
#rt-popup, #rt-popuplogin {display: none;}
.shadow2 .rt-block {box-shadow: inset 0 0 3px rgba(0,0,0,0.2);}
.shadow3 .rt-block {box-shadow: inset -1px 1px 3px rgba(0,0,0,0.2);}
.shadow4 .rt-block {box-shadow: inset 1px -1px 3px rgba(0,0,0,0.2);}
.shadow5 .rt-block {box-shadow: inset -1px -1px 3px rgba(0,0,0,0.2);}
.shadow6 .rt-block {box-shadow: 0 0 5px rgba(0,0,0,0.2);}
.shadow7 .rt-block {box-shadow: 1px 1px 3px rgba(0,0,0,0.2);}
.shadow8 .rt-block {box-shadow: -1px 1px 3px rgba(0,0,0,0.2);}
.shadow9 .rt-block {box-shadow: 1px -1px 3px rgba(0,0,0,0.2);}
.shadow10 .rt-block {box-shadow: -1px -1px 3px rgba(0,0,0,0.2);}

/* Backround Patterns */
.bg-pattern-rubber {background-image: url(../images/overlays/backgrounds/rubber.png);}
.bg-pattern-planks {background-image: url(../images/overlays/backgrounds/planks.png);}
.bg-pattern-plaid-fabric {background-image: url(../images/overlays/backgrounds/plaid-fabric.png);}
.bg-pattern-vertical-linen {background-image: url(../images/overlays/backgrounds/vertical-linen.png);}
.bg-pattern-woven-fabric {background-image: url(../images/overlays/backgrounds/woven-fabric.png);}
.bg-pattern-diagonal {background-image: url(../images/overlays/backgrounds/diagonal.png);}
.bg-pattern-rough-fabric {background-image: url(../images/overlays/backgrounds/rough-fabric.png);}
.bg-pattern-ravenna {background-image: url(../images/overlays/backgrounds/ravenna.png);}
.bg-pattern-grip {background-image: url(../images/overlays/backgrounds/grip.png);}
.bg-pattern-wood {background-image: url(../images/overlays/backgrounds/wood.png);}
.bg-pattern-metal {background-image: url(../images/overlays/backgrounds/metal.png);}
.bg-pattern-denim {background-image: url(../images/overlays/backgrounds/denim.png);}
.bg-pattern-carbon {background-image: url(../images/overlays/backgrounds/carbon.png);}
.bg-pattern-noise {background-image: url(../images/overlays/backgrounds/noise.png);}
.bg-pattern-dustnscratches {background-image: url(../images/overlays/backgrounds/dustnscratches.png);}
.bg-pattern-plaid {background-image: url(../images/overlays/backgrounds/plaid.png);}
.bg-pattern-elegant {background-image: url(../images/overlays/backgrounds/elegant.png);}
.bg-pattern-grunge {background-image: url(../images/overlays/backgrounds/grunge.png);}
.bg-pattern-textile {background-image: url(../images/overlays/backgrounds/textile.png);}

/* Article */
.component-content .title {font-size: 2.0em;line-height: 1.2em;font-weight: normal;display: inline-block;}
.component-content .title a {font-weight: normal;}
.component-content .articleinfo-bold {font-family: "NovecentowideDemiBold",Helvetica,Arial,sans-serif;}
.component-content .module-title {margin: 0 0 15px 0;}
.component-content .row-separator, .component-content .rt-leading-articles .item-separator {display: block;background-repeat: no-repeat;height: 2px;background-position: 50% 0;clear: both;}
.component-content .rt-leading-articles .item-separator {margin: 15px 0 25px;}
.component-content .item {margin-top: 25px;}

/* Buttons and Inputs */
.readon {display: inline-block;margin: 0;padding: 0;overflow: visible;border-radius: 5px;background-position: 0 100%;box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);}
.readon span, .readon .button, .formelm-buttons button {display: block;margin: 0;padding: 4px 15px;line-height: 22px;cursor: pointer;overflow: visible;font-weight: normal;position: relative;white-space: normal;background-color: transparent;background-position: 0 -4px;background-repeat: repeat-x;border-radius: 4px;border-left: none;border-right: none;border-bottom: none;font-size: 1em;transition: background-position 0.3s linear;}
.readon span:hover, .readon .button:hover, .formelm-buttons button:hover {background-position: 0 -45px;}
.readon span:active, .readon .button:active, .formelm-buttons button:active {background-position: 0 -53px;}
.readon:active {box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);}
.readon span span {display: inline;background: none;margin-left: 0;padding: 0;float: none;}
.readon:active {margin: 1px 0 -1px;}
.rokchecks, .rokradios {padding: 3px 0 3px 20px;line-height: 130%;cursor: pointer;}
.rokradios {background-position: 0 2px;background-repeat: no-repeat;}
.rokradios-active {background-position: 0 -159px;background-repeat: no-repeat;}
.rokchecks {background-position: 0 -343px;background-repeat: no-repeat;}
.rokchecks-active {background-position: 0 -541px;background-repeat: no-repeat;}
#searchForm .readon {margin: 3px 10px 0;}
fieldset.word label, fieldset.word .inputbox,fieldset.word .readon {float: left;}
.component-content .search_result label {margin-top: 6px;}
.formelm-buttons button {display: inline;box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);}
.formelm-buttons {margin: 0;padding: 0;overflow: visible;}

/* Typography */
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #rokajaxsearch .inputbox, .component-content .contact .required {position: relative;z-index: 100;padding: 4px;border-radius: 3px;line-height: 18px;font-size: 13px;}
.component-content .rt-article-icons a {display: block;text-align: center;}
ul.dots {padding: 0;margin: 0 0 15px 0;background: none;}
ul.dots li {list-style: none;padding: 0 0 0 20px;margin: 0 0 8px 0;background-position: 2px 5px;background-repeat: no-repeat;}
ul.dots li a {font-size: 1.1em;line-height: 1.3em;}

/* Branding */
#developed-by {overflow: hidden;}
#rocket {display: block;width: 200px;height: 26px;vertical-align: middle;margin: 0;float: left;}

/* Feature */
#rt-feature .rt-block {background-repeat: no-repeat;background-position: 0 50%}
#rt-feature .rt-alpha .rt-block {background-image: none;}
#rt-feature2 {background-repeat: repeat-x;}
#rt-feature3 {background-repeat: repeat-x;background-position: 0 bottom;}
#rt-feature4 {padding: 25px 0;}

/* Bottom */
#rt-bottom4 {background-repeat: repeat-x;}
#rt-bottom3 {background-repeat: no-repeat;background-position: 50% 0}
#rt-bottom .rt-container {padding: 50px 0 15px;}

/* Footer */
#rt-footer-surround3 {background-repeat: repeat-x;padding: 25px 0;}
#rt-footer .rt-container {padding: 15px 0;}

/* Copyright */
#rt-copyright {text-align: inherit;}
#rt-copyright .rt-container {padding: 15px 0 0;}
#rt-copyright .rt-block {margin: 0;padding: 10px 15px;}
.copytext {padding: 0;margin: 0;font-size: 1em;line-height: 15px;display: block;text-align: left;}

/* Breadcrumbs */
#rt-breadcrumbs {padding: 25px 0;margin-bottom: -50px;}
#rt-breadcrumbs .rt-block {padding: 15px 5px 0 5px;}
#breadcrumbs h3, .leading_separator {display: none;}
.rt-breadcrumb-surround {position: relative;overflow: hidden;padding: 0;height: auto;}
span.breadcrumbs, #rt-breadcrumbs .breadcrumbs {display: inline-block;font-size: 120%;overflow: hidden;}
span.breadcrumbs img {float:left;margin-top: 6px;}
.breadcrumbs img[src $="arrow.png"] {float:left;height: 0;width: 8px;padding-top: 12px;background-position: 2px 1px;background-repeat: no-repeat;}
span.breadcrumbs a, span.no-link, .pathway, span.showHere {padding: 5px;margin: 0;float: left;display: block;line-height: 100%;}
.breadcrumbs .separator-item {float: left;display: inline-block;margin-top: 8px;background-position: 0 -329px;}

/* Controls */
#rt-controls {padding: 5px 10px;}
#rt-accessibility .rt-desc, .datefeature-block, #rt-controls .rt-popupmodule-button .buttontext {font-size: 11px;}
.rt-date-feature span {line-height: 20px;}
#rt-controls .datefeature-block, #rt-controls .fontsizer-block, #rt-controls .popupmodule-block {margin: 0 3px;background-position: 0 -120px;border-radius: 5px;float: right;}
#rt-controls .datefeature-block, #rt-controls .popupmodule-block {padding: 0 10px;}
#rt-controls .fontsizer-block {padding: 0 0 0 10px;}
#rt-accessibility .small, #rt-accessibility .large {display: block;float: left;}
#rt-accessibility .button {display: block;width: 30px;height: 20px;background-repeat: no-repeat;margin: 0;}
#rt-accessibility .large .button {border-radius: 0 5px 5px 0;}
#rt-accessibility .small .button {background-position: 7px -19px;}
#rt-accessibility .large .button {background-position: 9px 3px;}
#rt-accessibility a {opacity: 0.8;}
#rt-accessibility .small:hover, #rt-accessibility .large:hover {opacity: 1;}
#rt-accessibility .rt-desc {float: left;padding-right: 12px;line-height: 20px;}
#rt-accessibility #rt-buttons {float: left;height: 20px;}

/* Popup/Login Module Feature */
#rt-popup .module-content, #rt-popuplogin .module-content {margin: 0;text-shadow: none;}
#rt-popup .rt-block, #rt-popuplogin .rt-block {margin: 0;padding: 0;}
#rt-popup .title, #rt-popuplogin .title {padding: 0;margin-bottom: 15px;margin-top: 0;}
#rt-popuplogin p {float: left;margin-bottom: 10px;}
#rt-popuplogin p:first-child {margin-right: 10px;}
#rt-popuplogin .readon {float: right;}
#rt-popuplogin ul li {float: none;display: inline-block;margin-right: 10px;}
#rt-controls .rt-popupmodule-button .buttontext {font-weight: normal;line-height: 20px;}

/* ToTop Feature */
#rt-copyright .totop-block {text-align: center;padding: 10px 15px 0;}
#gantry-totop {margin: 0 auto 15px;background-position: 0 4px;background-repeat: no-repeat;width: 18px;height: 36px;display: block;border-radius: 5px;transition: background 0.2s linear;}
.totop-block .totop-desc {margin: 0 auto;background-position: 0 0;background-repeat: no-repeat;width: 36px;height: 40px;display: block;border-radius: 3px;transition: background 0.2s linear;}
.totop-block .totop-desc:hover {background-position: 0 -56px;}

/* Standard Horizontal Menu */
.horizmenu ul.menu {margin: 0;padding: 0;list-style: none;}
.horizmenu ul.menu li {list-style: none;display: inline-block;margin-right: 25px;}
.horizmenu ul.menu li a, .horizmenu ul.menu li .item, .horizmenu ul.menu li .separator {padding: 0;display: inline-block;font-size: 1.1em;}
.horizmenu ul.menu li a span, .horizmenu ul.menu li .item span, .horizmenu ul.menu li .separator span {padding: 0;display: inline-block;}

/* Custom Content */
img.feature-img {width: 212px;height: 150px;padding: 5px;}
.feature-img-surround {width: 222px;height: 178px;}
.image-block-surround {width: 160px;height: 150px;float: left;margin-right: 15px;}
img.image-block {width: 150px;height: 122px;padding: 5px;position: relative;}
.content-block {overflow: hidden;}
.number-image {display: inline-block;float: left;margin-right: 15px;margin-bottom: 15px;padding: 5px;position: relative;}
.number-image-text {display: block;text-transform: uppercase;font-weight: bold;font-size: 20px;padding-top: 10px;margin: 0 0 -8px -5px;}
.heading1 {font-size: 160%;display: block;margin-bottom: 15px;}

/* Social Icons */
.rt-social-buttons {right: 0;position: fixed;top: 108px;z-index: 5;box-shadow: 0 0 4px rgba(0,0,0,0.5);border-radius: 6px 0 0 6px;}
.rt-social-buttons span {height: 43px;width: 43px;display: block;background-repeat: no-repeat;}
.rt-social-buttons #rt-facebook-btn span {background-position: 0 0;}
.rt-social-buttons #rt-facebook-btn:hover span {background-position: 0 -201px;}
.rt-social-buttons #rt-twitter-btn span {background-position: 0 -43px;}
.rt-social-buttons #rt-twitter-btn:hover span {background-position: 0 -244px;}
.rt-social-buttons #rt-buzz-btn span {background-position: 0 -87px;}
.rt-social-buttons #rt-buzz-btn span:hover {background-position: 0 -288px;}
.rt-social-buttons #rt-rss-btn span {background-position: 0 -131px;}
.rt-social-buttons #rt-rss-btn:hover span {background-position: 0 -332px;}

/* iPhone */
body #gantry-viewswitcher {z-index: 100;right:inherit;position:relative;top:inherit;margin: 1em auto;}
