/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Typography */
#rt-accessibility:hover {zoom: 1;}
.ext-rokcandy-block h3 span, .ext-rokpad-block h3 span, .ext-rokgzipper-block h3 span, .ext-rokbox-block h3 span {display: block !important;}
.menutop li.root.active + li.root > .item, .menutop li.active + li > .item {background-image: none;}

/* load transition */
#rt-transition.rt-hidden {opacity: 0;}
#rt-transition.rt-visible {opacity: 1;-ms-transition: opacity 0.5s ease-out;transition: opacity 0.5s ease-out;}