/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
 
/* Structure */
body {text-rendering: optimizeSpeed;}
.rt-section-surround {float: left;}


/* Typography */
.readon span {padding: 5px 15px}
.rokradios, .rokchecks {line-height: 140%;}
#more-articles span {line-height: 24px;}
.inputstyling-enabled-1 .rt-pollrow input {left: 0 !important;visibility: hidden;}
p.dropcap2:first-letter, p.dropcap4:first-letter, p.dropcap6:first-letter {padding: 10px 10px;}
#search_searchword {width: 144px;}
#jform_contact_emailmsg {width: 350px;}

/* Transitions */
a, .readon .button {-moz-transition: color 0.2s linear;}
.roktabs-wrapper .roktabs-links ul li span, .fusion-submenu-wrapper li > .item span, .feature-number-sub, .roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev, .roktabs-wrapper .roktabs-links ul li, #gantry-totop, .component-content #more-articles {-moz-transition: background 0.2s linear;}
.component-content .rt-article-icons .icon {-moz-transition: opacity 0.3s ease-out;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {-moz-transition: color 0.2s linear;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {-moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;}
.rokgallery-wrapper .rg-gm-slice:before {-moz-transition: opacity 0.2s ease-in;}

/* load transition */
#rt-transition.rt-hidden {opacity: 0;}
#rt-transition.rt-visible {opacity: 1;-moz-transition: opacity 0.4s ease-in;transition: opacity 0.4s ease-in;}

/* Demo Presets */
body .menutop .type-module ol li .fusion-module {overflow: visible;}
.menu-preset a span {-moz-transition: all 0.3s ease-in-out;-moz-animation-iteration-count: 1;position:relative;z-index:3000;-moz-transform: scale(1); cursor:pointer;}
.menu-preset a:hover span {-moz-transition: all 0.3s ease-in-out;-moz-animation-iteration-count: 1;position:relative;z-index:3000;-moz-transform: scale(1.1); cursor:pointer;}

/* Additional Fixes */
.register-buttons .readon {float: left;}
.register-buttons a.readon {margin: 0 0 0 9px;}
.profile-edit a.readon span {float: left;}