/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Structure */
#rt-debug, #rt-feature, #rt-utility, #rt-copyright, #rt-header, #rt-showcase, #rt-maintop, #rt-mainbottom, #rt-bottom, ul.menutop, #rt-navigation, #rt-logo, #rt-bottom, #rt-footer, #form-login, .rt-article-inner, #developed-by, #gantry-totop, .controls, #rt-footer, #rt-top .rt-container, .controls, .controls .up, .controls .down, .rt-module-inner, .module-title, .module-inner, .module-content, .rt-pollbuttons .readon input, #rt-main, #rt-top-surround, #rt-content-top, #rt-content-bottom, h3, .rt-container-bg, .rt-menubar, #rt-container-bg, #rt-container-bg2, #rt-top .rt-container, #rt-top, #rt-top2, .rt-articleinfo, .rt-articleinfo-text, .rt-articleinfo-text2, .rt-date-posted, .rt-date-modified, .rt-author, .rt-comments-count, #rt-main-container, .rt-article-bg, .rt-block, #rt-footer-surround, #rt-header-surround, #rt-body-surround, .rt-top-surround2 {zoom: 1;}
h3 a {float: left;}
.rt-ie-zindex-body {position: relative;z-index: 2;}
.rt-ie-zindex {position: relative;z-index: 1;}
#rt-page-surround {position: relative;}
#rt-bg-image {left: 49% !important;}
.clear {display: inline !important;}
#rt-logo {z-index: 2;}
#rt-header {z-index: 1;}
.roksocialbuttons, .roksocialbuttons a, .roksocialbuttons .custom_images {display: inline;}
#rt-transition {zoom: 1;z-index: 0;position: static;}
.moorainbow {zoom: 1;z-index: 4;}
.moorainbow .moor-hexInput {float: left;}
.roksocialbuttons {display: inline !important;}
.rt-article .readon {margin-right: 15px;}
.contact input, .contact .readon .button, .contact dd, .contact dt, .contact dl {zoom: 1;display: block;clear: both;}
.contact dd {float: left;}
.rt-error-box h1.error-title {line-height: 4.5em;}

/* Navigation */
#rt-navigation, #rt-navigation3, #rt-navigation3 .rt-container, .logo-block {z-index: 2;position: static !important;}
#rt-navigation3 {margin-bottom: -4px;}
.rt-splitmenu {margin-bottom: 4px !important;}
.rt-splitmenu .menutop li .item span {border: 0 none !important;padding-right: 25px !important;}
.rt-menubar ul.menutop li.active .item span, .rt-menubar ul.menutop li:hover .item span, .rt-menubar ul.menutop li.f-mainparent-itemfocus .item span {background: none;}
.module-content ul.menu a, .module-content ul.menu .separator, .module-content ul.menu .item {text-indent: 0 !important;display: inline-block;zoom: 1;}
.menutop ul li:hover, .menutop li.f-menuparent-itemfocus, .menutop .fusion-grouped ol li:hover, .menutop .fusion-grouped ol li.f-menuparent-itemfocus, .module-content ul.menu li, .menu-block, .fusion-grouped ol li .item, .menutop ul li, .fusion-grouped ol, .menutop .item, .menutop .item span, .menutop li, .fusion-submenu-wrapper .columns2 .item:hover, .menutop ul li > .daddy span, body .menutop li > .item, .module-content ul.menu, .rt-menubar ul.menutop li.active, .menutop li.f-main-parent.root .item span span, .menutop li.root > .item span span, .rt-menubar ul.menutop li > .item > span, .rt-menubar ul.menutop li > .item, .menutop li.root {zoom: 1;}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon {zoom: 1;width: 8px !important;}
.menutop .fusion-submenu-wrapper {zoom: 1;margin-top: -1px !important;}
.fusion-js-subs {zoom: 1;margin-top: -2px;}
.fusion-submenu-wrapper {margin-top: -2px;}
.menutop #form-login .input .inputbox {width: 100%;}
.rt-menubar ul.menutop li > .item > span {zoom: 1;position: relative;margin-right: 0 !important;background-image: none !important;}
.menutop ul li > .item:hover span {position: relative;zoom: 1;}
#rt-navigation .rt-block {margin-bottom: -1px !important;}
.menutop li.root > .item span span, #rt-navigation .rt-menubar ul.menutop li, .rt-menubar ul.menutop li > .item {border: none;display: block;}
.menutop li.root > .item > span > span {position: relative;zoom: 1;background-image: none !important;padding-bottom: 13px !important;}
.rt-menubar ul.menutop li.active .rt-arrow-pointer, .rt-menubar ul.menutop li:hover .rt-arrow-pointer, .rt-menubar ul.menutop li.f-mainparent-itemfocus .rt-arrow-pointer {display: none !important;height: 0px !important;float: left;position: relative !important;border-width: 0px !important;margin: 0 !important;padding: 0 !important;overflow: hidden !important;font-size: 0 !important;line-height: 0 !important;content: none !important;}
.rt-menubar ul.menutop li > .item > span {padding: 0 !important;border: none;}
.rt-menubar ul.menutop li.active .item span, .rt-menubar ul.menutop li:hover .item span, .rt-menubar ul.menutop li.f-mainparent-itemfocus .item span {background-position: right -62px}

/* Typography */
.readon, .readon span {display: inline !important;zoom: 1;border: none !important;}
.readon .button {float: left !important;border: none !important;zoom:1;}
.readon span {float: left;}
.rt-pollbuttons .readon {margin-right: 5px;}
.bullet-c, .bullet-c li {list-style-type: decimal !important;}
.dropcap {vertical-align: top;}
.phrase .inputbox {vertical-align: middle;}
fieldset legend {color: #666;line-height: normal;}
.rt-breadcrumb-surround {display: inline;zoom: 1;position: relative;}
.rt-breadcrumb-surround .no-link, .rt-breadcrumb-surround .pathway{zoom: 1;position: relative;}
#email {margin-bottom: -9px !important;}
.ext-rokcandy-block h3 span, .ext-rokpad-block h3 span, .ext-rokgzipper-block h3 span, .ext-rokbox-block h3 span {display: block !important;}
.dropcap2 {float: left;zoom: 0;}
.dropcap2 a, span.heading1 {zoom: 1;}
.dropcap2, span.heading1 {margin-top: 5px !important;}
.typography-style-light p.dropcap2:first-letter {background: #555555 !important;}

/* Joomla Stuff */
.component-content .rt-article-icons {display: inline-block;zoom: 1;width: auto;}
.component-content .rt-article-icons ul li a, .component-content .rt-article-icons ul li {display: inline-block !important;zoom:1;float:left !important;}
.component-content .rt-wordpress-table {margin-top: 40px;display: block;background: none;}
.component-content .rt-articleinfo {zoom: 1;z-index: 10;position: relative;}
.component-content ol {margin-left: 10px;}
.component-content .user legend {margin-left: -9px;}
.component-content .rt-blog .module-content {display: inline;zoom: 1;position: relative;}
#system-message dd ul,  {zoom: 1;}
.module-content p, .contentbox1, .contentbox2, .contentbox3, .contentbox4 {zoom: 1;}
#rt-accessibility #rt-buttons {margin-top:2px;}
#rt-header #form-login-remember, .horizontal #form-login-remember {padding-top: 2px;padding-bottom: 2px;}
.component-content .rt-article-icons .edit img {filter: alpha(opacity=0); zoom: 1;}
.component-content .rt-author, .component-content .rt-date-modified {float: left;}
#rt-feature-surround, #rt-feature3, #rt-feature2, .rt-article .rt-articleinfo-footer, #rt-showcase-surround2, #rt-footer-surround, #rt-navigation .rt-fusionmenu, #rt-navigation .rt-splitmenu {zoom: 1;position: relative;}
.horizmenu ul.menu li {display: inline}
.component-content .rt-date-posted {float: left;}
.component-content .rt-articleinfo-text2 {padding: 5px;display: block;position: relative;}
.pane-slider.content.pane-hide {display: none;}
.pane-slider.content.pane-down {display: block;zoom:1;}

/* Module Variations */
.box2 .rt-block, .box4 .rt-block, .box5 .rt-block, .box6 .rt-block, .box7 .rt-block {margin: 15px 0 0;}
.component-content .module-content {padding-top:26px;zoom:1;}
.box2 .rt-block {padding-bottom:40px !important;zoom: 1;}

/* Features */
#rt-accessibility a {zoom: 1;margin: 0 2px;}

/* RokAjaxSearch */
.rokajaxsearch {zoom: 1;position: relative;height: 28px;}
#roksearch_results .container-wrapper {position: relative;zoom: 1;}
#roksearch_results .container-scroller {position: relative;zoom: 1;}
#roksearch_results span.small span {display: inline-block;margin-top: 0;margin-bottom: 0;font-size: 10px;}
.search_result .display {clear: both;}
.rokajaxsearch {zoom: 1;position: relative;display: inline-block;padding-bottom: 10px;}
body .roksearch_header {zoom: 1;}
.roksearch_wrapper1, .roksearch_wrapper2, .roksearch_wrapper3, .roksearch_wrapper4 {zoom: 1;}
#roksearch_search_str {zoom: 1;}
.roksearch_results .png {zoom: 1;}
#rokajaxsearch .inputbox {zoom:1;line-height:25px;}

/* RokGallery */
.rg-grid .rg-grid-thumb {display: inline !important;}
.rg-sc-img-padding {zoom: 1;}
.rg-detail-file-main {width: 70%;}
body .rg-ss-caption .readon {line-height: inherit !important;}
.rokgallery-wrapper .rg-gm-slice:hover {border: none;}

/* RokTwittie */
.roktwittie li, .roktwittie .roktwittie-text, #roktwittie .roktwittie-m2 {zoom: 1;}
.roktwittie li, .roktwittie-text .roktwittie-date {display: inline;}
#roktwittie .roktwittie-avatar img {margin-top: 25px;}

/* Popup */
#rt-popuplogin p {margin-right: 3px !important;}

/* Sprocket Stuff */
.sprocket-tabs-panels > .sprocket-tabs-panel {zoom: 1;display: none;}
.sprocket-tabs-panels > .sprocket-tabs-panel.active {display: block;}
.bg-overlay-light .sprocket-headlines, .bg-overlay-light .sprocket-lists-title {background: url(../images/overlays/dark-10.png);}
.bg-overlay-dark .sprocket-headlines, .bg-overlay-dark .sprocket-lists-title {background: url(../images/overlays/dark-25.png);}
.sprocket-headlines-list {zoom: 1;}
.sprocket-headlines-item {display: none !important;zoom: 1;}
.sprocket-headlines-item.active {display: block !important;zoom: 1;position:absolute !important;top: 10px;zoom: 1;}
.sprocket-headlines-navigation {float: right;zoom: 1;}
.sprocket-headlines-navigation .prev {background-position: -2px 4px !important;zoom: 1;}
.sprocket-headlines-navigation .next {background-position: -1px -31px !important;zoom: 1;}
#rt-page-surround .sprocket-lists-arrows .arrow.next{background-position: 2px -32px !important;}
#rt-page-surround .sprocket-lists-arrows .arrow.prev {background-position: 2px 3px !important;}
.sprocket-lists-pagination li, .sprocket-features-pagination li {display: inline !important;margin-right:5px !important;}
.sprocket-lists-title {position; relative;zoom: 1;}
.sprocket-lists-title .indicator {position: absolute !important;right: 5px !important;top: 5px !important;zoom: 1;display: block;}
.layout-slideshow .sprocket-features-img-list li,.layout-slideshow .sprocket-features-img-list img, .layout-slideshow .sprocket-features-img-container {zoom:1;}
.sprocket-features .sprocket-features-pagination ul {width: auto;zoom: 1;display: block;position: relative;float: left;}
.sprocket-features .sprocket-features-pagination ul li {zoom: 1;display: block;float: left;margin-left: 2px;}
.sprocket-features .sprocket-feature-list > li {zoom: 1;position: relative;}
#rt-header .sprocket-features.layout-showcase {margin-bottom: -40px !important;}
#rt-header .sprocket-features-pagination {bottom: 25px !important;}

/* RTL */
body.rtl .menutop li.root .item span img {zoom: 1;float: none !important;}
body.rtl .fusion-grouped ol li .item {background-position: 97% 50% !important;padding-right: 15px !important;}
body.rtl .menutop li.root:hover > .fusion-submenu-wrapper {left: auto;right: 0;}
body.rtl .menutop .fusion-submenu-wrapper {zoom: 1;}
body.rtl .menutop li.root {zoom: 1;}
body.rtl .menutop li.root .item span {zoom: 1;}
body.rtl .menutop li.root .item {zoom: 1;}
body.rtl .menutop {direction: ltr;}
body.rtl #rt-navigation .menu {direction: ltr;}
body.rtl .menutop ul li, body.rtl ul.columns2 li {text-align: right;}
body.menu-type-splitmenu.rtl .menutop li, body.rtl #rt-navigation .menu li {zoom: 1;}
body.menu-type-splitmenu.rtl .menutop li .item span, body.rtl #rt-navigation .menu li .item span {zoom: 1;}
body.menu-type-splitmenu.rtl .menutop li .item, body.rtl #rt-navigation .menu li .item {zoom: 1;}
body.rtl .rt-fusion-readon span {float: left;}
body.rtl .module-content ul.menu .item.image  {direction: ltr;text-align:right;}
body.rtl .component-content .search_result .phrase {direction: ltr;text-align: right;}
body.rtl .component-content .search_result .phrase legend {float: right;}
body.rtl .module-content .rt-tab-image {float: right !important;zoom: 1;display: inline-block;}
body.rtl .rt-articleinfo {clear: both;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {zoom: 1;}
body.rtl .rokchecks {zoom: 1;position: relative;}
body.rtl .module-content .readon {zoom: 1;}
body.rtl .module-content #emailForm .readon {width: 60px;zoom: 1;}
body.rtl .module-content .readon span, body.rtl .module-content input.button {zoom:1;}
body.rtl .typo-icon  {zoom: 1;padding-bottom: 8px !important;}
body.rtl span.inset-right-title, body.rtl span.inset-left-title {zoom: 1;position: relative;}
body.rtl .component-content .icon {position: relative;float: left;}
body.rtl #rt-breadcrumbs {direction: ltr;text-align: right;}
body.rtl ul li a.category {zoom: 1;}
body.rtl .roktabs-wrapper .roktabs-links ul.roktabs-top li.active span {zoom: 1;}
body.rtl .title {position: relative;direction: ltr;text-align: right;}
body.rtl #com-form-login label {float: right;}

/* demo */
.rt-demo-grid-6 {zoom: 1;}