/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Article */
body.rtl .component-content ol {margin-left: 0;margin-right: 5px;}
body.rtl #more-articles {float: none;}
body.rtl #more-articles span {float: left;padding: 0 0 0 20px;background-position: 0 6px;}
body.rtl #more-articles.spinner {background-position: 100% 50%;background-repeat: no-repeat;}
body.rtl .component-content .rt-article-icons .edit {margin: 5px 15px 0 0 !important;}
body.rtl .component-content .rt-article-icons {float: left;}
body.rtl .component-content .rt-article-icons .icon {float: left;}
body.rtl .component-content .rt-author, body.rtl .component-content .rt-comments-count, body.rtl .component-content .rt-date-posted, body.rtl .component-content .rt-date-modified {margin-right: 0;margin-left: 10px;}
body.rtl .component-content .rt-articleinfo-text {float: right;}
body.rtl .component-content .rt-date-posted {left: inherit;right: -25px;}
body.rtl .component-content .img-intro-right {float: left;margin-right: 10px;margin-left: 0;}
body.rtl .component-content .img-intro-left {float: right;margin-left: 10px;margin-right: 0;}
body.rtl .component-content .img-fulltext-right {float: left;margin-right: 10px;margin-left: 0;}
body.rtl .component-content .img-fulltext-left {float: right;margin-left: 10px;margin-right: 0;}

/* Column Layout */
.component-content .rt-article.date-padding {padding-left: 0;padding-right: 40px;margin-right: 0;}
body.rtl .component-content .float-left {float: right;}
body.rtl .component-content .float-right {float: left;}
body.rtl .component-content .multicolumns .rt-article {clear: both;margin: 0 15px 25px 15px;}
body.rtl .component-content .multicolumns .first .rt-article {margin: 0 0 25px 15px;}

/* Typography */
body.rtl .component-content .rt-description img {margin-right: 0;margin-left: 15px;}
body.rtl .component-content .my-pagenav {float: right;margin-left: 0;margin-right: 10px;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {padding-left: 0;padding-right: 15px;background-position: 100% -444px;}
body.rtl #form-login ul li a:hover, body.rtl #com-form-login ul li a:hover, body.rtl ul.rt-more-articles li a:hover, body.rtl .rt-section-list ul li a:hover, body.rtl ul.mostread li a:hover, body.rtl ul.latestnews li a:hover, body.rtl .weblinks ul li a:hover, body.rtl #rt-popuplogin ul li a:hover {background-position: 100% -662px;}
body.rtl .component-block #form-login ul li a:hover, body.rtl #rt-content-bottom #form-login ul li a:hover, body.rtl #rt-content-top #form-login ul li a:hover, body.rtl .component-block #com-form-login ul li a:hover, body.rtl #rt-content-top #com-form-login ul li a:hover, body.rtl #rt-content-bottom #com-form-login ul li a:hover, body.rtl .component-block ul.rt-more-articles li a:hover, body.rtl #rt-content-bottom ul.rt-more-articles li a:hover, body.rtl #rt-content-top ul.rt-more-articles li a:hover, body.rtl .component-block .rt-section-list ul li a:hover, body.rtl #rt-content-bottom .rt-section-list ul li a:hover, body.rtl #rt-content-top .rt-section-list ul li a:hover, body.rtl .component-block ul.mostread li a:hover, body.rtl #rt-content-bottom ul.mostread li a:hover, body.rtl #rt-content-top ul.mostread li a:hover, body.rtl .component-block ul.latestnews li a:hover, body.rtl #rt-content-bottom ul.latestnews li a:hover, body.rtl #rt-content-top ul.latestnews li a:hover, body.rtl .component-block .weblinks ul li a:hover, body.rtl #rt-content-bottom .weblinks ul li a:hover, body.rtl #rt-content-top .weblinks ul li a:hover, body.rtl .component-block #rt-popuplogin ul li a:hover, body.rtl #rt-content-bottom #rt-popuplogin ul li a:hover, body.rtl #rt-content-top #rt-popuplogin ul li a:hover {background-position: 100% -224px;}
body.rtl .rt-pollbuttons {overflow: visible;}
body.rtl .rt-pollbuttons .readon {float: right !important;}
body.rtl .readonstyle-link .module-content .rt-poll .readon {float: right !important;margin-right: 0;margin-left: 20px;}
body.rtl .rt-pollrow {direction: ltr;text-align: right;}
body.rtl .rt-comment-block {float: left;}
body.rtl .component-content .search_result label {margin-right: 0;margin-left: 10px;}
body.rtl .component-content .search_result fieldset.word label {float: right;}
body.rtl .component-content .label-left {float: right;}
body.rtl .component-content .contact .image {float:left;}
body.rtl pre {direction: ltr;text-align: right;}
body.rtl ul.pagination {text-align: right;}
body.rtl ul.pagination li {text-align: right;}
body.rtl .component-content .search_result select#ordering.inputbox {margin-right: 0;margin-left: 10px;}
body.rtl #rt-main-surround ul, body.rtl #rt-main-surround ol {padding-left: 0;padding-right: 25px;}
body.rtl .search .button {margin-left: 0;margin-right: 10px;padding-left: 0;padding-right: 30px;}

/* Editing */
body.rtl .button2-left, body.rtl .button2-right, body.rtl .button2-left div, body.rtl .button2-right div {float: right;}
body.rtl #editor-xtd-buttons {float: right;}
body.rtl .edit-article fieldset table {float: right;}
body.rtl .component-content .save .readon {margin-left: 0;margin-right: 5px;}
body.rtl .component-content .save {margin-left: 25px;}

/* Advanced Search */
body.rtl .component-content #advanced-search #finder-filter-select-list label {float: right;}