/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Article */
.component-content .rt-article {margin-bottom: 15px;position: relative;}
.component-content .rt-article-bg {border-bottom: none;margin: 0;padding: 0;}
.component-content .rt-pagetitle {margin-top: 0;margin-bottom: 30px;font-weight: normal;letter-spacing: normal;font-size: 160%;}
.component-content  ol {margin-left: 5px;}
.component-content .rt-more-articles {margin-top: -12px;border-radius: 5px;}
.component-content #more-articles {border-radius: 5px;background-repeat: repeat-x;background-position: 0 0;float: right;right: 50%;position: relative;}
.component-content #more-articles:hover {background-position: 0 -97px;}
.component-content .multicolumns .rt-article {clear: both;margin: 0 15px 25px;}
.component-content .rt-articleinfo {clear: both;}
.component-content .article-title {display: inline-block;}
.component-content .img-intro-right {float: right;margin-left: 10px;margin-bottom: 10px;}
.component-content .img-intro-left {float: left;margin-right: 10px;margin-bottom: 10px;}
.component-content .img-fulltext-right {float: right;margin-left: 10px;margin-bottom: 10px;}
.component-content .img-fulltext-left {float: left;margin-right: 10px;margin-bottom: 10px;}

/* More Articles Feature */
.component-content .rt-more-articles {display: block;position: relative;height: 24px;clear: both;padding: 0 7px 7px;font-weight: normal;background-repeat: no-repeat;background-position: 50% 0;transition: background 0.2s linear;}
.component-content #more-articles span {line-height: 24px;font-size: 1em;float: right;right: -50%;position: relative;padding: 5px 8px;border-radius: 0 0 4px 4px;background-repeat: no-repeat;background-position: 0 -114px;}
.component-content #more-articles.spinner {background-image:url(../images/spinner.gif);background-position: 0 50%;background-repeat: no-repeat;}
.component-content #more-articles.disabled {cursor: default;}

/* Column Layout */
.component-content .float-left {float: left;}
.component-content .float-right {float: right;}
.component-content .width25 {width: 25%;}
.component-content .width33 {width: 33.33%;}
.component-content .width50 {width: 50%;}
.component-content .width100 {width: 100%;}
.component-content .multicolumns {width: 100%;}

/* Typography */
.component-content .results ol.list {margin-top: 0;}
.component-content .results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;display: inline;}
.component-content .results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.component-content .results ol.list li p {margin-top: 0;font-size: 90%;}
.component-content .results ol.list .description {margin-bottom: 15px;}
.component-content .results ol.list li span.small {font-size: 90%;}
.component-content .rt-article-links h3, .component-content .user legend, .component-content .contact legend {font-weight: normal;font-size: 170%;line-height: 120%;letter-spacing: normal;}
.component-content .user legend {margin-top: 15px;}
.component-content .user .label-left {padding: 4px 0;}
.component-content .user fieldset div {overflow: visible;clear: both;margin-bottom: 8px;}
.component-content .user td.paramlist_key {width: 180px;}
.component-content .search_result select#ordering.inputbox {margin-right: 10px;}
.component-content .inputbox.invalid {color: #c00;}
.component-content .rt-wordpress-table {border-radius: 4px;border-collapse: separate;*border-collapse: collapse;margin-bottom: 15px;border-bottom: none !important;}
.component-content .rt-wordpress-table th, .component-content .rt-wordpress-table td, .component-content .rt-wordpress-table .odd td, .component-content .rt-wordpress-table .even td {padding: 10px;line-height: 18px;text-align: left;}
.component-content .rt-wordpress-table th {font-weight: bold;vertical-align: middle;border: none;}
.component-content .rt-wordpress-table td {vertical-align: top;}
.component-content .rt-wordpress-table thead tr:first-child th:first-child, .component-content .rt-wordpress-table tbody tr:first-child td:first-child {border-radius: 4px 0 0 0;}
.component-content .rt-wordpress-table thead tr:first-child th:last-child, .component-content .rt-wordpress-table tbody tr:first-child td:last-child {border-radius: 0 4px 0 0;}
.component-content .rt-wordpress-table tbody tr:last-child td:first-child {border-radius: 0 0 0 4px;}
.component-content .rt-wordpress-table tbody tr:last-child td:last-child {border-radius: 0 0 4px 0;}
.component-content .rt-description img {margin-right: 15px;}
.component-content .my-pagenav {float: left;margin-left: 10px;}
.component-content .tab {display: inline-block;margin-right: 10px;text-align: center;}
.component-content .page-block {display: inline-block;margin-right: 4px;font-weight: bold;text-align: center;}
.component-content .page-active, .component-content .page-inactive {padding: 0 4px;}
.component-content .page-inactive:hover {cursor: pointer;}
.component-content .search_result label {margin-right: 10px;}
.component-content .search_result legend {font-size: 14px;padding-bottom: 5px;}
.tool-tip {z-index: 1000 !important;}
#form-login ul, #com-form-login ul, ul.rt-more-articles, .rt-section-list ul, ul.mostread, ul.latestnews, .weblinks ul, #rt-popuplogin ul, ul.newsfeed {padding: 0;}
#rt-popuplogin ul, .rt-contact-form {margin-top: 10px;}
#form-login ul li, #com-form-login ul li, ul.rt-more-articles li, .rt-section-list ul li, ul.mostread li, ul.latestnews li, .weblinks ul li, #rt-popuplogin ul li,ul.newsfeed li, .rt-contact-form li {list-style: none;}
ul.newsfeed li {padding-top: 10px;}
#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a,ul.newsfeed li a {padding: 4px 0 4px 15px;background-position: 2px -606px;background-repeat: no-repeat;display: inline-block;line-height: 100%;font-size: 100%;font-weight: normal;}
#form-login ul li a:hover, #com-form-login ul li a:hover, ul.rt-more-articles li a:hover, .rt-section-list ul li a:hover, ul.mostread li a:hover, ul.latestnews li a:hover, .weblinks ul li a:hover, #rt-popuplogin ul li a:hover,ul.newsfeed li a:hover {background-position: 2px -323px;}
.component-block #form-login ul li a:hover, .component-block #com-form-login ul li a:hover, .component-block ul.rt-more-articles li a:hover, .component-block .rt-section-list ul li a:hover, .component-block ul.mostread li a:hover, .component-block ul.latestnews li a:hover, .component-block .weblinks ul li a:hover, .component-block #rt-popuplogin ul li a:hover, .component-block ul.newsfeed li a:hover {background-position: 2px -115px;}
.bg-overlay-dark #rt-popuplogin ul li a {background-position: 2px -213px;}
.bg-overlay-dark #rt-popuplogin ul li a:hover {background-position: 2px -138px}
.component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2 {width: 160px !important;padding: 5px 4px;outline: none;}
#rt-popuplogin .inputbox {width: 164px;padding: 6px 4px;outline: none;font-size: 14px;}
#com-form-login .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#password2 {width: 260px;}
#com-form-login #remember.inputbox {width: auto;}
#com-form-login .inputbox {padding: 5px 10px;outline: none;}
#com-form-login ul {margin-top: 15px;}
#form-login ul {padding-left: 0;}
#com-form-login fieldset div.readon, #josForm fieldset div.readon {margin: 0;}
#com-form-login fieldset div.readon:active, #josForm fieldset div.readon:active {margin-top: 1px;margin-bottom: -1px;}
#form-login-remember {margin: 15px 0;}
#username-lbl,#password-lbl {display: block;width: 130px;float: left;font-weight: bold;font-size: 120%;padding-top: 6px;}
#rt-popuplogin ul li a:hover {color: black;}
body .component-content .contact h1 {margin-bottom: 25px;}
.component-body .rt-article-icons ul li a {background-image: url(../images/overlays/light/article-icons.png) !important;background-position: -1px -29px;}

/* Pagination */
.rt-pagination, .pagination {margin-top: 15px;}
.rt-pagination a, .pagination a {font-weight: normal;font-size: 1em;}
.rt-pagination .rt-results, .pagination .results {text-align: center;margin: 0;}
.rt-pagination .pagenav, .pagination .pagenav {padding: 0 4px;}
.component-content .rt-pagination, .component-content .pagination {margin: 10px 0;padding: 10px 0 10px 0px;}
.component-content .rt-pagination ul, .component-content .pagination ul {list-style-type: none;margin: 0;padding: 0;text-align: center;}
.component-content .rt-pagination li, .component-content .pagination li {display: inline;padding: 2px 5px;text-align: center;margin: 0 2px;border: none;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-pagination li.pagination-next, .component-content .rt-pagination li.pagination-end, .component-content .rt-pagination li.pagination-prev, .component-content .pagination li.pagination-start, .component-content .pagination li.pagination-next, .component-content .pagination li.pagination-end, .component-content .pagination li.pagination-prev {border: 0;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-pagination li.pagination-start span, .component-content .pagination li.pagination-start, .component-content .pagination li.pagination-start span {padding: 0;}
.component-content p.counter {font-weight: bold;}

/* Polls */
.fusion-submenu-wrapper .rt-pollrow {font-size: 100%;}
.rt-poll .readon {float: none;margin-right: 5px;}
.rt-poll .rt-pollbuttons {clear: both;padding-bottom: 5px;}
.rt-polltitle {font-size: 100%;letter-spacing: normal;}
.readonstyle-link .rt-poll .readon {float: left;margin-right: 20px;}
.pollstableborder td div {border: 0;height: 10px !important;min-width: 2px;}
.rt-poll .pollstableborder th, .rt-poll .pollstableborder td, .rt-poll .poll dd {border: 0;}
.rt-pollbuttons .readon:active {margin-top: 0;margin-bottom: 0;}

/* SmartLoad */
img.spinner {background: url(../images/spinner.gif) center center no-repeat;}
.weblinks td img {width: 16px;height: 16px;}

/* Editing */
.component-content .edit-article fieldset legend {font-size: 230%;}
.component-content .edit-article fieldset div {overflow: visible;margin-bottom: 8px;}
.component-content .edit-article fieldset #editor-xtd-buttons div {clear: none;}
#system-message dd.notice {border: 0;background: none;}
.component-content .save .readon {margin-left: 10px;}
div.calendar {z-index: 9999;}
.button2-left {background: url(../images/system/j_button2_left.png) no-repeat !important;color: #666;}
.button2-left .image {background: url(../images/system/j_button2_image.png) 100% 0 no-repeat !important;}
.button2-left .readmore {background: url(../images/system/j_button2_readmore.png) 100% 0 no-repeat !important;}
.button2-left .pagebreak {background: url(../images/system/j_button2_pagebreak.png) 100% 0 no-repeat !important;}
.button2-left .blank {background: url(../images/system/j_button2_blank.png) 100% 0 no-repeat !important;}
.button2-left .linkmacro {background: url(../images/system/j_button2_rokcandy.png) 100% 0 no-repeat !important;}



/* Editing */
.component-content .edit #editor-xtd-buttons a:link, .component-content .edit #editor-xtd-buttons a:visited, .component-content .edit #editor-xtd-buttons a:hover {color: #323232;}
.component-content .edit .inputbox, .component-content .edit textarea {border: 1px solid #ddd;}
.component-content .edit legend {font-size: 150%;}
.component-content .edit form#adminForm fieldset {padding: 20px 15px;margin: 10px 0 15px 0;}
.component-content .formelm {margin: 5px 0;}
.component-content .formelm label {width: 9em;display: inline-block;vertical-align: top;}
.component-content form#adminForm .formelm-area {padding: 5px 0;}
.component-content form#adminForm .formelm-area label {vertical-align: top;display: inline-block;width: 7em}
.component-content .formelm-buttons {text-align: right;margin-bottom: 10px}
.component-content .button2-left {float: left;margin-right: 5px;margin-top: 10px;}
.button2-left {background: url(../images/system/j_button2_left.png) no-repeat !important;color: #666;}
.button2-left .image {background: url(../images/system/j_button2_image.png) 100% 0 no-repeat !important;}
.button2-left .readmore {background: url(../images/system/j_button2_readmore.png) 100% 0 no-repeat !important;}
.button2-left .pagebreak {background: url(../images/system/j_button2_pagebreak.png) 100% 0 no-repeat !important;}
.button2-left .blank {background: url(../images/system/j_button2_blank.png) 100% 0 no-repeat !important;}
.button2-left .linkmacro {background: url(../images/system/j_button2_rokcandy.png) 100% 0 no-repeat !important;}

/* Editor */
#editor-xtd-buttons {padding: 5px 0;}
.button2-left {margin-top: 5px;margin-right: 5px;}
.button2-left, .button2-right, .button2-left div, .button2-right div {float: left;}
.component-content  .button2-left .linkmacro, .component-content  .button2-left .image {background: none;}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;cursor: pointer;margin-bottom: 5px;}
.button2-left span, .button2-right span {cursor: default;}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {padding: 0 6px;}
.button2-left a:hover, .button2-right a:hover {text-decoration: none;}
.button2-left a, .button2-left span {padding: 0 24px 0 6px;}
.button2-right a, .button2-right span {padding: 0 6px 0 24px;}
.button2-left .blank a {padding-right: 6px;}
.img_caption.left {float: left;margin-right: 1em;}
.img_caption.right {float: right;margin-left: 1em;}
.img_caption.left p {clear: left;text-align: center;}
.img_caption.right p {clear: right;text-align: center;}
.img_caption {text-align: center !important;}
.edit-article fieldset div input, .edit-article fieldset textarea {padding: 4px;}
.edit-article fieldset div .label-left {padding: 0;}
.edit-article fieldset div img.calendar {vertical-align: middle;margin-left: 5px;}

/* Core Components - Member Access */
.rt-wordpress .user label#password-lbl, .rt-wordpress .user label#username-lbl {display: block;float: left;font-size: 120%;font-weight: bold;width: 130px;}
.component-content .user ul {padding: 0;}
.component-content .user ul li {list-style: none;}
.component-content .user ul li a {padding: 4px 0 4px 15px;line-height: 100%;font-weight: normal;font-size: 100%;display: inline-block;background-repeat: no-repeat;background-position: 2px -606px;}
.component-content .user ul li a:hover {background-position: 2px -323px;}
.component-content #member-registration fieldset {border: none;}
.register-buttons .readon .button, .register-buttons .readon span {display: inline-block;}

/* Core Component - Contact Form */
.component-content form fieldset dt {width: 9em;}
.component-content .contact .button {margin: 0;}

/* System Messages */
#system-message dd ul, #system-message dd.error ul, #system-message dd.notice ul {border: 0;font-size: 1.2em;text-align: center;}

/* Compatibility */
#recaptcha_widget_div {position: absolute;top: -140px;}
#emailForm fieldset div.readon br {display: none;}

/* Extra's */
.tip-wrap {padding: 5px;border-radius: 2px;z-index: 1000;}

/* Headings */
h1, h2 {letter-spacing: -2px;line-height: 1em;}
.module-title h2, h3, h4, h5 {letter-spacing: -1px;line-height: 1em;}
.componentheading {font-weight: bold;display: block;margin-bottom: 15px;}
.contentheading {font-size: 140%;font-weight: bold;margin-bottom: 15px;display: block;}

/* Section Tables */
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 6px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}

/* Column Layout */
.component-content .cols-1, .component-content .cols-2, .component-content .cols-3 {display: block;float: none !important;margin: 0 !important;} 
.component-content .cols-2 .column-1, .component-content .cols-2 .column-2 {width: 50%;float: left;}
.component-content .cols-3 .column-1, .component-content .cols-3 .column-2, .component-content .cols-3 .column-3 {float: left;width: 33.3%;padding: 0;margin: 0;}
.component-content .items-row {overflow: hidden;margin-bottom: 10px !important;}
.component-content .cols-4 .column-1, .component-content .cols-4 .column-2, .component-content .cols-4 .column-3, .component-content .cols-4 .column-4 {width: 25%;padding: 0;margin: 0;float: left;}
.component-content .cols-2 .rt-article, .component-content .cols-3 .rt-article, .component-content .cols-4 .rt-article {margin: 0 10px 20px 10px;}
.component-content .cols-2 .column-1 .rt-article, .component-content .cols-3 .column-1 .rt-article, .component-content .cols-4 .column-1 .rt-article {margin-left: 0;}
.component-content .cols-2 .column-2 .rt-article, .component-content .cols-3 .column-3 .rt-article, .component-content .cols-4 .column-4 .rt-article {margin-right: 0;}

/* Category Layout */
.component-content .rt-blog .rt-description {margin: 10px 0 15px 0;padding-bottom: 20px;border-bottom: 1px #c8c8c8 dotted;}
.component-content .rt-article-bg {padding-bottom: 5px;}
.component-content .rt-article-links {margin: 10px 0px 10px 0px;}
.component-content .category-desc {padding: 0 5px;margin: 10px 0 25px;}
.component-content .cat-children .category-desc {margin: 10px 0 25px;}
.component-content ul.subcategories {margin: 20px 20px 20px 10px;}
.component-content .subcategories-link {font-weight: bold}
.component-content ul {list-style-position: outside;list-style-type: square;padding: 0 0 0 15px;margin: 10px 0;}
.component-content ol {padding: 0 0 0 20px;margin: 10px 0;list-style-position: outside;}
.component-content ul li, .component-content ol li {padding: 0;line-height: 1.7em;margin: 0;}
.component-content .category-list {padding: 0 5px;display: block;}
.component-content .categories-list {padding: 0 5px;}
.component-content .categories-list ul {margin: 0 0 0 20px;padding: 0;list-style: none;}
.component-content .categories-list ul li {padding: 5px;}
.component-content .categories-list ul ul {margin-left: 15px;}
.component-content .category-desc {line-height: 1.7em;margin: 10px 0;padding-left: 0;}
.component-content .small {font-size: 0.85em;margin: 0 0 20px;}
.component-content .image-left {float: left;margin: 0 15px 5px 0;}
.component-content .image-right {float: right;margin: 0 0 5px 15px;}
.component-content .archive {padding: 0 5px;}
.component-content .archive form {padding: 0 5px;}
.component-content ul#archive-items {margin: 20px 0;list-style-type: none;padding: 0;}
.component-content ul#archive-items li.row0, .component-content ul#archive-items li.row1 {padding: 10px 0;margin: 10px 0;}

/* Article Details */
.component-content .rt-article-icons {white-space: nowrap;}
.component-content .rt-article-icons ul li a {display: block;width: 16px;height: 16px;float: right;margin-left: 5px;background-repeat: no-repeat;opacity: 0.6;transition: opacity 0.3s ease-out;}
.component-content .rt-article-icons ul li a:hover {opacity: 1;}
.component-content .print-icon a {background-position: -1px -29px;background-repeat: no-repeat;}
.component-content .email-icon a {background-position: -1px -60px;background-repeat: no-repeat;}
.component-content .edit-icon a {background-position: 0 -90px;}
.component-content .rt-author, .component-content .rt-comments-count, .component-content .rt-date-posted, .component-content .rt-date-modified, .component-content .rt-date-published, .component-content .rt-hits {display: inline-block;line-height: 150%;font-size: 1em;margin-right: 20px;}
.component-content .rt-category {display: block;margin: 10px 0;}
.component-content .rt-articleinfo-text {float: left;position: relative;}
.component-content .rt-article-icons {width: 87px;padding: 3px 0;}
.component-content .rt-date-created, .component-content .rt-date-published {font-weight: normal;}
.component-content .rt-author, .component-content .rt-comments-count {font-style: normal;}
.component-content .rt-articleinfo .rt-article-icons.no-icons ul li a {background-image: none;background-color: transparent;width: auto;font-size: 1em;}
.component-content .rt-article-icons.no-icons {width: 123px;}
.component-content .rt-article-icons.no-icons ul li.edit-icon a {width: 16px;}
.component-content .title {width: auto;font-size: 260%;line-height: 1.1em;}
.component-content span.edit {margin-left: 10px;float: left;}
.component-content .rt-articleinfo {margin-bottom: 15px;}
.component-content .rt-description {margin: 10px 0px 10px 0px;overflow: hidden;}
.component-content .rt-description img.left {margin-right: 15px;float: left;}
.component-content .rt-description img.right {margin-left: 15px;float: right;}
.component-content .filter {margin: 10px 0;}
.component-content span.number {color: #969696;font-style: italic;}
.component-content .rt-article-icons {width: 65px;overflow: hidden;float: right;}
.component-content .rt-article-icons ul {margin: 0;padding: 0;list-style: none;}
.component-content .rt-article-icons ul li {margin: 0;padding: 0}
.component-content .rt-article-icons ul li img {display: none;}
.component-content .rt-article-cat {font-weight: bold;margin-top: 15px;margin-bottom: 0;}
.component-content .rt-parent-category, .component-content .rt-category {display: inline-block;}

/* User */
#form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox {border: 1px solid #ddd;font-size: 1.2em;padding: 5px 4px;margin: 0;}
#com-form-login fieldset div, #josForm fieldset div {margin-bottom: 10px;}
#form-login ul {margin-top: 10px;}
#form-login p {margin-bottom: 10px;}
#form-login .user-greeting {font-weight: bold;font-size: 120%;margin-bottom: 15px;}
.component-content .user label.label-left, .component-content .user span.label-left {display: block;width: 130px;float: left;font-weight: bold;font-size: 120%;}
.col12 .rt-grid-2 #form-login .inputbox {width: 99px;}
.col12 .rt-grid-3 #form-login .inputbox {width: 179px;}
.col12 .rt-grid-4 #form-login .inputbox {width: 259px;}
.col12 .rt-grid-5 #form-login .inputbox {width: 339px;}
.col12 .rt-grid-6 #form-login .inputbox {width: 419px;}
.col12 .rt-grid-7 #form-login .inputbox {width: 499px;}
.col12 .rt-grid-8 #form-login .inputbox {width: 579px;}
.col12 .rt-grid-9 #form-login .inputbox {width: 659px;}
.col12 .rt-grid-10 #form-login .inputbox {width: 739px;}
.col12 .rt-grid-12 #form-login .inputbox {width: 899px;}
.col16 .rt-grid-2 #form-login .inputbox {width: 59px;}
.col16 .rt-grid-3 #form-login .inputbox {width: 119px;}
.col16 .rt-grid-4 #form-login .inputbox {width: 179px;}
.col16 .rt-grid-5 #form-login .inputbox {width: 239px;}
.col16 .rt-grid-6 #form-login .inputbox {width: 299px;}
.col16 .rt-grid-7 #form-login .inputbox {width: 359px;}
.col16 .rt-grid-8 #form-login .inputbox {width: 419px;}
.col16 .rt-grid-9 #form-login .inputbox {width: 479px;}
.col16 .rt-grid-10 #form-login .inputbox {width: 539px;}
.col16 .rt-grid-11 #form-login .inputbox {width: 599px;}
.col16 .rt-grid-12 #form-login .inputbox {width: 659px;}
.col16 .rt-grid-13 #form-login .inputbox {width: 719px;}
.col16 .rt-grid-14 #form-login .inputbox {width: 779px;}
.col16 .rt-grid-15 #form-login .inputbox {width: 839px;}
#users-profile-core, #users-profile-custom {margin: 10px 0 15px 0;padding: 15px;}
#users-profile-core dt, #users-profile-custom dt {float: left;width: 10em;padding: 3px 0;}
#users-profile-core dd, #users-profile-custom dd {padding: 3px 0;}
#member-profile fieldset, .registration fieldset {margin: 10px 0 15px 0;padding: 15px;}
#users-profile-core legend, .profile-edit legend, .registration legend {font-weight: bold;}
.component-content #member-registration {padding: 0 5px;}
.component-content #member-registration fieldset {border: none;}
.component-content form fieldset dt {clear: left;float: left;width: 12em;}
.component-content form#contact-form legend {padding: 0 0 15px;}
.component-content form fieldset dd {float: left;padding: 3px 0;}

/* Tables */
.component-content table {border-collapse: collapse;}
.component-content table.weblinks, .component-content table.category {font-size: 1em;margin: 10px 10px 20px 0px;width: 99%;}
.component-content table.weblinks td {border-collapse: collapse;}
.component-content table.weblinks td, .component-content table.category td {padding: 7px;}
.component-content table.weblinks th, .component-content table.category th {padding: 7px;text-align: left;}
.component-content td.num {vertical-align: top;text-align: left;}
.component-content td.hits {vertical-align: top;text-align: center;}
.component-content td p {margin: 0;line-height: 1.3em;}
.component-content .filter {margin: 10px 0;}
.component-content .display-limit, .component-content .filter {text-align: right;margin-right: 7px;}
.component-content table.category th a img {padding: 2px 10px;}
.component-content .filter-search {float: left;}
.component-content .filter-search .inputbox {width: 6em;}
.component-content legend.element-invisible {position: absolute;margin-left: -3000px;margin-top: -3000px;height: 0;}
.component-content .cat-items {margin-top: 20px;}

/* Contact */
.component-content .contact {padding: 0 5px;}
.component-content .contact-category {padding: 0 10px;}
.component-content .contact-category  .component-content #adminForm fieldset.filters {border: 0;padding: 0;}
.component-content .contact-image {margin: 10px 0;overflow: hidden;}
.component-content address {font-style: normal;margin: 10px 0;}
.component-content address span {display: block;}
.component-content .contact-address {margin: 20px 0 10px 0;}
.component-content .contact-email div {padding: 2px 0;margin: 0 0 10px 0;}
.component-content .contact-email label {width: 17em;float: left;}
.component-content span.contact-image {margin-bottom: 10px;overflow: hidden;display: block;}
.component-content #contact-textmsg {padding: 2px 0 10px 0;}
.component-content #contact-email-copy {float: left;margin-right: 10px;}
.component-content .contact .button {float: none !important;clear: left;display: block;}
.component-content dl.tabs {float: left;margin: 50px 0 0 0;z-index: 50;clear: both;}
.component-content dl.tabs dt {float: left;padding: 4px 10px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;margin-right: 3px;background: #f0f0f0;color: #666;}
.component-content dl.tabs dt.open {background: #F9F9F9;border-bottom: 1px solid #F9F9F9;z-index: 100;color: #000;}
.component-content div.current {clear: both;border: 1px solid #ccc;padding: 10px 10px;max-width: 500px;}
.component-content div.current dd {padding: 0;margin: 0;}
.component-content dl#content-pane.tabs {margin: 1px 0 0 0;}

/* Weblinks */
.component-content .weblinks fieldset div {overflow: hidden;}
.component-content .weblinks label.label-left {display: block;width: 150px;float: left;}

/* Search */
.component-content .searchintro {font-weight: normal;margin: 20px 0 20px;}
.component-content #searchForm {padding: 0;}
.component-content .form-limit {margin: 20px 0 0;text-align: right;padding: 0 10px 0 20px;}
.component-content .highlight {font-weight: bold;}
.component-content .ordering-box {float: none;}
.component-content .phrases-box {float: none;margin-bottom: 10px;}
.component-content .ordering-box .inputbox {width: auto !important}
.component-content .only, .component-content .phrases {margin: 10px 0 0 0px;padding: 15px 0;line-height: 1.3em;}
.component-content label.ordering {display: block;margin: 10px 0 10px 0;}
.component-content .word {padding: 0;}
.component-content .word input {font-weight: bold;}
.component-content .word label {font-weight: bold;}
.component-content fieldset.only label, .component-content fieldset.phrases label {margin: 0 10px 0 0;}
.component-content .ordering-box label.ordering {margin: 0 10px 5px 0;float: left;}
.component-content form .search label {display: none;}
.component-content dl.search-results dt.result-title {padding: 15px 15px 0px 5px;font-weight: bold;}
.component-content dl.search-results dd {padding: 2px 15px 2px 5px;}
.component-content dl.search-results dd.result-text {padding: 10px 15px 10px 5px;line-height: 1.7em;}
.component-content dl.search-results dd.result-created {padding: 2px 15px 15px 5px;}
.component-content dl.search-results dd.result-category {padding: 10px 15px 5px 5px;}

/* Advanced Search */
.component-content .search-results {clear: both;}
.component-content #finder-search .word {margin-bottom: 10px;}
.component-content #advanced-search #finder-filter-select-list li {margin-bottom: 10px;}
.component-content #advanced-search #finder-filter-select-list label {width: 135px; display: inline; float: left;}

/* Other */
.component-content .categorylist input {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
.component-content th {padding: 5px;background: #ebebeb;border-bottom: 2px solid #ddd;font-weight : bold;}
.component-content tr.even td {padding: 5px;background: #f0f0f0;border-bottom: 1px solid #ddd;}
.component-content tr.odd td {padding: 5px;background: #fafafa;border-bottom: 1px solid #ddd;}
.rt-breadcrumb-surround {margin: 0;display: block;position:relative;overflow: hidden;height: 20px;padding: 15px 25px;}
#breadcrumbs-gantry {width: 11px;height: 11px;display: block;float: left;margin-top: 4px;margin-right: 8px;background: url(../images/home.png) 0 0 no-repeat;}
.component-content p.error {padding: 10px;}
.component-content .contentpaneopen_edit {float: left;}
.component-content table.contenttoc {padding: 10px;margin: 10px;float: right;}
.component-content table.contenttoc tr td {padding: 1px 0;}
.component-content .pagenavcounter {font-weight: bold;}
ul.latestnews, ul.mostread {padding-left: 10px;margin: 0;}
ul.latestnews li a, ul.mostread li a {padding: 2px 2px 2px 15px;display: block;text-decoration: none;}
#article-index {width: 25%;float: right;padding: 10px;margin: 10px 0px 20px 30px;}
#article-index h3 {margin: 0;font-size: 1em;}
#article-index ul {list-style-type: disc;}
.mod-languages ul li {display: inline;}
.stats-module dl {margin: 10px 0 10px 0;}
.stats-module dt {float: left;margin: 0 10px 0 0;font-weight: bold;}
.stats-module dt, .stats-module dd {padding: 2px 0 2px 0;}
.banneritem {margin: 10px 0;padding: 0;}
.banneritem a {font-weight: bold;}
p.syndicate {float: left;display: block;text-align: left;}
.phrases .inputbox {width: 10em;}
.phrases .inputbox option {padding: 2px;}

/* Newsflash */
.newsflash {margin: 0;}
.newsflash-horiz {overflow: hidden;list-style-type: none;margin: 0 5px;padding: 20px 10px;}
.newsflash-horiz li {float: left;width: 30%;margin: 0 1%;padding: 10px 5px;}
.newsflash-horiz li h4 {font-size: 1.4em;}
.newsflash-horiz li img {display: block;margin-bottom: 10px;}
.newsflash-vert {padding: 0;}

/* Newsfeeds */
.component-content .newsfeed {padding: 0 5px;}
.component-content ul.newsfeed {padding: 0;}
.component-content .newsfeed-item {padding: 5px 0 0 0;margin: 0;}
.component-content .newsfeed-item h5 a {font-size: 1.1em;font-weight: bold;}
.component-content .feed-item-description img {margin: 5px 10px 10px 0;}
.component-content dl.newsfeed-count dt, .component-content dl.newsfeed-count dd {display: inline;}
.component-content dl.weblink-count dt, .component-content dl.weblink-count dd {display: inline;}

/* Pagination */
.component-content .rt-pagination, .component-content .pagination {margin-top: 15px;padding: 10px 0 10px 0px;}
.rt-pagination a, .pagination a {font-weight: normal;font-size: 1em;}
.rt-pagination .rt-results, .pagination .results {text-align: center;margin: 0;}
.rt-pagination .pagenav, .pagination .pagenav {padding: 0 4px;}
.component-content .rt-pagination ul, .component-content .pagination ul {list-style-type: none;margin: 0;padding: 0;text-align: center;}
.component-content .rt-pagination li, .component-content .pagination li {display: inline;padding: 2px 5px;text-align: center;margin: 0 2px;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-pagination li.pagination-next, .component-content .rt-pagination li.pagination-end, .component-content .rt-pagination li.pagination-prev, .component-content .pagination li.pagination-start, .component-content .pagination li.pagination-next, .component-content .pagination li.pagination-end, .component-content .pagination li.pagination-prev {border: 0;}
.component-content .rt-pagination li.pagination-start, .component-content .rt-typagination li.pagination-start span, .component-content .pagination li.pagination-start, .component-content .pagination li.pagination-start span {padding: 0;}
.component-content p.counter {font-weight: bold;}

/* Pagenav */
.component-content .pagenav {list-style-type: none;padding: 0;overflow: hidden;}
.component-content .pagenav li {display: inline-block;padding: 0px;margin: 0;}
.component-content .pagenav li {line-height: 2em;}
.component-content .pagenav li a {display: inline;padding: 2px;text-decoration: none;}
.component-content .pagenav li.pagenav-prev {float: left;}
.component-content .pagenav li.pagenav-next {float: right;}

/* Tooltips */
.tool-tip {float: left;background: #ffc;border: 1px solid #D4D5AA;padding: 5px;max-width: 200px;color: #323232;}
.tool-title {padding: 0;margin: 0;font-size: 100%;font-weight: bold;margin-top: -15px;padding-top: 15px;padding-bottom: 5px;background: url(../../system/images/selector-arrow.png) no-repeat;}
.tool-text {font-size: 100%;margin: 0;}

/* Mailto */
#mailto-window {background: #f5f5f5;padding: 15px;border: solid 1px #ddd;position: relative;}
#mailto-window label {width: 10em;}
.mailto-close {position: absolute;right: 0;top: 5px;background: none;}
.mailto-close a {min-width: 25px;display: block;min-height: 25px;overflow: visible;}
.mailto-close a span {position: absolute;left: -3000px;top: -3000px;display: inline;}
#mailto-window .inputbox {padding: 3px;}
#mailto-window p {margin-top: 20px;}
#mailto-window button {margin: 0 5px 0 0;}

/* System Messages */
/* OpenID icon style */
input.system-openid, input.com-system-openid { background: url(http://openid.net/images/login-bg.gif) no-repeat;background-color: #fff;background-position: 0 50%;color: #000;padding-left: 18px;}

/* Unpublished */
.system-unpublished {background: #e8edf1;border-top: 4px solid #c4d3df;border-bottom: 4px solid #c4d3df;}

/* System Messages */
#system-message { margin-bottom: 10px; padding: 0;}
#rt-drawer #system-message {margin-bottom: 36px;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; }
#system-message dd ul { background: #BFD3E6; color: #0055BB; margin: 10px 0 10px 0; list-style: none; padding: 10px; border: 2px solid #84A7DB;}

/* System Standard Messages */
#system-message dt.message {display: none;}

/* System Error Messages */
#system-message dt.error {display: none;}
#system-message dd.error ul {color: #c00;background-color: #EBC8C9;border: 2px solid #DE7A7B;}

/* System Notice Messages */
#system-message dt.notice {display: none;}
#system-message dd.notice ul {color: #A08B4C;background: #F5ECC1;border: 2px solid #F0DC7E;}

/* Debug */
#system-debug {color: #ccc;background-color: #fff;padding: 10px;margin: 10px;}
#system-debug div {font-size: 11px;}