/**
 * @version   1.0 November 17, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Tabs Core */
.sprocket-tabs {position: relative;}
.sprocket-tabs:before, .sprocket-tabs:after {display: table;content: "";*zoom: 1;}
.sprocket-tabs:after {clear: both;}

/* Tabs Nav */
.sprocket-tabs-nav {margin: 0;padding: 0;list-style: none !important;position: relative;z-index: 2;margin-top: 5px;}
.sprocket-tabs-nav {*zoom: 1;}
.sprocket-tabs-nav:before, .sprocket-tabs-nav:after {display: table;content: "";}
.sprocket-tabs-nav:after {clear: both;}
.sprocket-tabs-nav li {float: left;margin-right: 5px;}
.sprocket-tabs-nav > li {position: relative;}
.sprocket-tabs-nav > li > .sprocket-tabs-inner {display: block;}
.sprocket-tabs-nav > .active > a {cursor: default;}
.sprocket-tabs-nav li .sprocket-tabs-inner {cursor: pointer;display: block;padding: 10px 15px;font-size: 1.1em;line-height: 1.2em;text-transform: uppercase;}
.sprocket-tabs-nav .sprocket-tabs-icon {float: left;margin-right: 5px;}
.sprocket-tabs-nav-container {position: relative;}

/* Tabs Nav - Layout Left / Right  */
.layout-left .sprocket-tabs-nav {float: left;margin: 20px;}
.layout-right .sprocket-tabs-nav {float: right;margin-left: 20px;margin-top: 20px;}
.layout-left .sprocket-tabs-nav > li, .layout-right .sprocket-tabs-nav > li {float: none;}
.layout-left .sprocket-tabs-nav > li > .sprocket-tabs-inner, .layout-right .sprocket-tabs-nav > li > .sprocket-tabs-inner {min-width: 60px;}

/* Tabs Content */
.sprocket-tabs-panels {padding: 15px;width: 100%;overflow: hidden;}
.sprocket-tabs-panels > .sprocket-tabs-panel {position: absolute;opacity: 0;height: 0;width: 0;margin-bottom: 5px;visibility: hidden;}
.sprocket-tabs-panels > .sprocket-tabs-panel.active {position: static;opacity: 1;height: auto;width: 100%;visibility: visible;}
.layout-top .sprocket-tabs-panels {border-radius: 0 5px 5px 5px;}
.layout-bottom .sprocket-tabs-panels {border-radius: 5px 5px 5px 0;}
.layout-top.animation-slideandfade .sprocket-tabs-panel, .layout-bottom.animation-slideandfade .sprocket-tabs-panel {margin-left: 200px;}
.layout-top.animation-slideandfade .sprocket-tabs-panel.active, .layout-bottom.animation-slideandfade .sprocket-tabs-panel.active {margin-left: 0;}
.layout-left.animation-slideandfade .sprocket-tabs-panel, .layout-right.animation-slideandfade .sprocket-tabs-panel {margin-top: -200px;}
.layout-left.animation-slideandfade .sprocket-tabs-panel.active, .layout-right.animation-slideandfade .sprocket-tabs-panel.active {margin-top: 0;}

/* Transitions */
.animation-slideandfade .sprocket-tabs-panel.active {-webkit-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-moz-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-o-transition: margin 0.3s ease-out, opacity 0.4s ease-in;transition: margin 0.3s ease-out, opacity 0.4s ease-in;}
.animation-fade .sprocket-tabs-panel.active {-webkit-transition: opacity 0.4s ease-in;-moz-transition: opacity 0.4s ease-in;-o-transition: opacity 0.4s ease-in;transition: opacity 0.4s ease-in;}
.sprocket-tabs-nav > li {-webkit-transition: background 0.2s ease-in;-moz-transition: background 0.2s ease-in, ;-o-transition: background 0.2s ease-in, border-color 0.2s ease-in;transition: background 0.2s ease-in, border-color 0.2s ease-in;}

/* Diametric Extras */
.sprocket-tabs.layout-top .module-border {bottom: -2px;}
.sprocket-tabs.layout-bottom .module-border {top: -1px;}
.sprocket-tabs.layout-left .module-border {display: none;}
.sprocket-tabs.layout-right .module-border {display: none;}
.sprocket-tabs-nav > li {font-family: "NovecentowideNormal",Helvetica,Arial,sans-serif;}
.layout-top .sprocket-tabs-nav > li {border-radius: 6px 6px 0 0;border-bottom: 0 none;}
.layout-bottom .sprocket-tabs-nav > li {border-radius: 0 0 6px 6px;border-top: 0 none;}
.layout-left .sprocket-tabs-nav > li {border-radius: 6px;margin-bottom: 5px;}
.layout-right .sprocket-tabs-nav > li {border-radius: 6px;margin-bottom: 5px;}
.layout-bottom .sprocket-tabs-nav {margin-top: -5px;}

/*#rt-body-surround .layout-top .sprocket-tabs-nav {margin-bottom: -1px;}*/
#rt-body-surround .layout-bottom .sprocket-tabs-nav {margin-top: -1px;}

/* RTL */
body.rtl .sprocket-tabs-nav li {float:right;}
body.rtl .layout-top .sprocket-tabs-panels {border-radius: 5px 5px 0 5px;}
