/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Reminder:  320 / 480 */
body .logo-block {overflow: hidden;}
#rt-container-bg,#rt-copyright,#rt-showcase, #rt-body-surround, #rt-header, #rt-feature, #rt-container-bg2, body .component-block, #rt-main, .rt-container {overflow: hidden;height: auto;}