/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Backround Patterns - LIGHT */
.bgstyle-wavy-lines-light {background-image: url(../images/main/light/backgrounds/wavy-lines.jpg);}
.bgstyle-diagonal-lines-light {background-image: url(../images/main/light/backgrounds/diagonal-lines.jpg);}
.bgstyle-cube-light {background-image: url(../images/main/light/backgrounds/cube.jpg);}
.bgstyle-diamond-light {background-image: url(../images/main/light/backgrounds/diamond.jpg);}
.bgstyle-carbon-light {background: #eee url(../images/main/light/backgrounds/carbon.png);}
.bgstyle-noise-light {background: #eee url(../images/main/light/backgrounds/noise.png);}
.bgstyle-paper-light {background: #eee url(../images/main/light/backgrounds/paper.png);}
.bgstyle-plaid-light {background: #eee url(../images/main/light/backgrounds/plaid.png);}
.bgstyle-rubber-light {background: #eee url(../images/main/light/backgrounds/rubber.png);}
.bgstyle-squares-light {background: #eee url(../images/main/light/backgrounds/squares.png);}
.bgstyle-textile-light {background: #eee url(../images/main/light/backgrounds/textile.png);}
.bgstyle-triangles-light {background: #eee url(../images/main/light/backgrounds/triangles.png);}
.bgstyle-elegant-light {background: #eee url(../images/main/light/backgrounds/elegant.png);}
.bgstyle-grunge-light {background: #eee url(../images/main/light/backgrounds/grunge.png);}
.bgstyle-dustnscratches-light {background: #eee url(../images/main/light/backgrounds/dustnscratches.png);}
.bgstyle-fibers-light {background: #eee url(../images/main/light/backgrounds/fibers.png);}

/* Backround Patterns - DARK */
.bgstyle-wavy-lines-dark {background-image: url(../images/main/dark/backgrounds/wavy-lines.jpg);}
.bgstyle-diagonal-lines-dark {background-image: url(../images/main/dark/backgrounds/diagonal-lines.jpg);}
.bgstyle-cube-dark {background-image: url(../images/main/dark/backgrounds/cube.jpg);}
.bgstyle-diamond-dark {background-image: url(../images/main/dark/backgrounds/diamond.jpg);}
.bgstyle-carbon-dark {background: #2c2c2c url(../images/main/dark/backgrounds/carbon.png);}
.bgstyle-noise-dark {background: #2c2c2c url(../images/main/dark/backgrounds/noise.png);}
.bgstyle-paper-dark {background: #2c2c2c url(../images/main/dark/backgrounds/paper.png);}
.bgstyle-plaid-dark {background: #2c2c2c url(../images/main/dark/backgrounds/plaid.png);}
.bgstyle-rubber-dark {background: #2c2c2c url(../images/main/dark/backgrounds/rubber.png);}
.bgstyle-squares-dark {background: #2c2c2c url(../images/main/dark/backgrounds/squares.png);}
.bgstyle-textile-dark {background: #2c2c2c url(../images/main/dark/backgrounds/textile.png);}
.bgstyle-triangles-dark {background: #2c2c2c url(../images/main/dark/backgrounds/triangles.png);}
.bgstyle-elegant-dark {background: #2c2c2c url(../images/main/dark/backgrounds/elegant.png);}
.bgstyle-grunge-dark {background: #2c2c2c url(../images/main/dark/backgrounds/grunge.png);}
.bgstyle-dustnscratches-dark {background: #2c2c2c url(../images/main/dark/backgrounds/dustnscratches.png);}
.bgstyle-fibers-dark {background: #2c2c2c url(../images/main/dark/backgrounds/fibers.png);}

/* Container - DARK */
.bgstyle-wavy-lines-dark #rt-container-bg, .bgstyle-diagonal-lines-dark #rt-container-bg, .bgstyle-cube-dark #rt-container-bg, .bgstyle-diamond-dark #rt-container-bg, .bgstyle-wavy-lines-dark #rt-container-bg, .bgstyle-diagonal-lines-dark #rt-container-bg, .bgstyle-cube-dark #rt-container-bg, .bgstyle-diamond-dark #rt-container-bg, .bgstyle-carbon-dark #rt-container-bg, .bgstyle-noise-dark #rt-container-bg, .bgstyle-paper-dark #rt-container-bg, .bgstyle-plaid-dark #rt-container-bg, .bgstyle-rubber-dark #rt-container-bg, .bgstyle-squares-dark #rt-container-bg, .bgstyle-textile-dark #rt-container-bg, .bgstyle-triangles-dark #rt-container-bg, .bgstyle-elegant-dark #rt-container-bg, .bgstyle-grunge-dark #rt-container-bg, .bgstyle-dustnscratches-dark #rt-container-bg, .bgstyle-fibers-dark #rt-container-bg {border-left: 1px solid #202020;border-right: 1px solid #202020;border-bottom: 1px solid #202020;}
.bgstyle-wavy-lines-dark #rt-container-bg2, .bgstyle-diagonal-lines-dark #rt-container-bg2, .bgstyle-cube-dark #rt-container-bg2, .bgstyle-diamond-dark #rt-container-bg2, .bgstyle-wavy-lines-dark #rt-container-bg2, .bgstyle-diagonal-lines-dark #rt-container-bg2, .bgstyle-cube-dark #rt-container-bg2, .bgstyle-diamond-dark #rt-container-bg2, .bgstyle-carbon-dark #rt-container-bg2, .bgstyle-noise-dark #rt-container-bg2, .bgstyle-paper-dark #rt-container-bg2, .bgstyle-plaid-dark #rt-container-bg2, .bgstyle-rubber-dark #rt-container-bg2, .bgstyle-squares-dark #rt-container-bg2, .bgstyle-textile-dark #rt-container-bg2, .bgstyle-triangles-dark #rt-container-bg2, .bgstyle-elegant-dark #rt-container-bg2, .bgstyle-grunge-dark #rt-container-bg2, .bgstyle-dustnscratches-dark #rt-container-bg2, .bgstyle-fibers-dark #rt-container-bg2 {border-left: 1px solid #4a4a4a;border-right: 1px solid #4a4a4a;border-bottom: 1px solid #4a4a4a;}

/* Bottom Modules - DARK */
.bgstyle-wavy-lines-dark #rt-bottom, .bgstyle-diagonal-lines-dark #rt-bottom, .bgstyle-cube-dark #rt-bottom, .bgstyle-diamond-dark #rt-bottom, .bgstyle-noise-dark #rt-bottom, .bgstyle-carbon-dark #rt-bottom, .bgstyle-paper-dark #rt-bottom, .bgstyle-plaid-dark #rt-bottom, .bgstyle-rubber-dark #rt-bottom, .bgstyle-squares-dark #rt-bottom, .bgstyle-textile-dark #rt-bottom, .bgstyle-triangles-dark #rt-bottom, .bgstyle-elegant-dark #rt-bottom, .bgstyle-grunge-dark #rt-bottom, .bgstyle-dustnscratches-dark #rt-bottom, .bgstyle-fibers-dark #rt-bottom, .bgstyle-wavy-lines-dark #rt-footer, .bgstyle-diagonal-lines-dark #rt-footer, .bgstyle-cube-dark #rt-footer, .bgstyle-diamond-dark #rt-footer, .bgstyle-noise-dark #rt-footer, .bgstyle-carbon-dark #rt-footer, .bgstyle-paper-dark #rt-footer, .bgstyle-plaid-dark #rt-footer, .bgstyle-rubber-dark #rt-footer, .bgstyle-squares-dark #rt-footer, .bgstyle-textile-dark #rt-footer, .bgstyle-triangles-dark #rt-footer, .bgstyle-elegant-dark #rt-footer, .bgstyle-grunge-dark #rt-footer, .bgstyle-dustnscratches-dark #rt-footer, .bgstyle-fibers-dark #rt-footer, .bgstyle-wavy-lines-dark #rt-footer-surround .title, .bgstyle-diagonal-lines-dark #rt-footer-surround .title, .bgstyle-cube-dark #rt-footer-surround .title, .bgstyle-diamond-dark #rt-footer-surround .title, .bgstyle-noise-dark #rt-footer-surround .title, .bgstyle-carbon-dark #rt-footer-surround .title, .bgstyle-paper-dark #rt-footer-surround .title, .bgstyle-plaid-dark #rt-footer-surround .title, .bgstyle-rubber-dark #rt-footer-surround .title, .bgstyle-squares-dark #rt-footer-surround .title, .bgstyle-textile-dark #rt-footer-surround .title, .bgstyle-triangles-dark #rt-footer-surround .title, .bgstyle-elegant-dark #rt-footer-surround .title, .bgstyle-grunge-dark #rt-footer-surround .title, .bgstyle-dustnscratches-dark #rt-footer-surround .title, .bgstyle-fibers-dark #rt-footer-surround .title {color: #C7C7C7;}
.bgstyle-wavy-lines-dark #rt-bottom a:hover, .bgstyle-diagonal-lines-dark #rt-bottom a:hover, .bgstyle-cube-dark #rt-bottom a:hover, .bgstyle-diamond-dark #rt-bottom a:hover, .bgstyle-noise-dark #rt-bottom a:hover, .bgstyle-carbon-dark #rt-bottom a:hover, .bgstyle-paper-dark #rt-bottom a:hover, .bgstyle-plaid-dark #rt-bottom a:hover, .bgstyle-rubber-dark #rt-bottom a:hover, .bgstyle-squares-dark #rt-bottom a:hover, .bgstyle-textile-dark #rt-bottom a:hover, .bgstyle-triangles-dark #rt-bottom a:hover, .bgstyle-elegant-dark #rt-bottom a:hover, .bgstyle-grunge-dark #rt-bottom a:hover, .bgstyle-dustnscratches-dark #rt-bottom a:hover, .bgstyle-fibers-dark #rt-bottom a:hover, .bgstyle-wavy-lines-dark #rt-footer a:hover, .bgstyle-diagonal-lines-dark #rt-footer a:hover, .bgstyle-cube-dark #rt-footer a:hover, .bgstyle-diamond-dark #rt-footer a:hover, .bgstyle-noise-dark #rt-footer a:hover, .bgstyle-carbon-dark #rt-footer a:hover, .bgstyle-paper-dark #rt-footer a:hover, .bgstyle-plaid-dark #rt-footer a:hover, .bgstyle-rubber-dark #rt-footer a:hover, .bgstyle-squares-dark #rt-footer a:hover, .bgstyle-textile-dark #rt-footer a:hover, .bgstyle-triangles-dark #rt-footer a:hover, .bgstyle-elegant-dark #rt-footer a:hover, .bgstyle-grunge-dark #rt-footer a:hover, .bgstyle-dustnscratches-dark #rt-footer a:hover, .bgstyle-fibers-dark #rt-footer a:hover {color: #C7C7C7;}

/* Container - LIGHT */
.bgstyle-wavy-lines-light #rt-container-bg, .bgstyle-diagonal-lines-light #rt-container-bg, .bgstyle-cube-light #rt-container-bg, .bgstyle-diamond-light #rt-container-bg, .bgstyle-wavy-lines-light #rt-container-bg, .bgstyle-diagonal-lines-light #rt-container-bg, .bgstyle-cube-light #rt-container-bg, .bgstyle-diamond-light #rt-container-bg, .bgstyle-carbon-light #rt-container-bg, .bgstyle-noise-light #rt-container-bg, .bgstyle-paper-light #rt-container-bg, .bgstyle-plaid-light #rt-container-bg, .bgstyle-rubber-light #rt-container-bg, .bgstyle-squares-light #rt-container-bg, .bgstyle-textile-light #rt-container-bg, .bgstyle-triangles-light #rt-container-bg, .bgstyle-elegant-light #rt-container-bg, .bgstyle-grunge-light #rt-container-bg, .bgstyle-dustnscratches-light #rt-container-bg, .bgstyle-fibers-light #rt-container-bg {border-left: 1px solid #c8c8c8;border-right: 1px solid #c8c8c8;border-bottom: 1px solid #c8c8c8;}
.bgstyle-wavy-lines-light #rt-container-bg2, .bgstyle-diagonal-lines-light #rt-container-bg2, .bgstyle-cube-light #rt-container-bg2, .bgstyle-diamond-light #rt-container-bg2, .bgstyle-wavy-lines-light #rt-container-bg2, .bgstyle-diagonal-lines-light #rt-container-bg2, .bgstyle-cube-light #rt-container-bg2, .bgstyle-diamond-light #rt-container-bg2, .bgstyle-carbon-light #rt-container-bg2, .bgstyle-noise-light #rt-container-bg2, .bgstyle-paper-light #rt-container-bg2, .bgstyle-plaid-light #rt-container-bg2, .bgstyle-rubber-light #rt-container-bg2, .bgstyle-squares-light #rt-container-bg2, .bgstyle-textile-light #rt-container-bg2, .bgstyle-triangles-light #rt-container-bg2, .bgstyle-elegant-light #rt-container-bg2, .bgstyle-grunge-light #rt-container-bg2, .bgstyle-dustnscratches-light #rt-container-bg2, .bgstyle-fibers-light #rt-container-bg2 {border-left: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 1px solid #fff;}

/* Bottom Modules - LIGHT */
.bgstyle-wavy-lines-light #rt-bottom, .bgstyle-diagonal-lines-light #rt-bottom, .bgstyle-cube-light #rt-bottom, .bgstyle-diamond-light #rt-bottom, .bgstyle-noise-light #rt-bottom, .bgstyle-carbon-light #rt-bottom, .bgstyle-paper-light #rt-bottom, .bgstyle-plaid-light #rt-bottom, .bgstyle-rubber-light #rt-bottom, .bgstyle-squares-light #rt-bottom, .bgstyle-textile-light #rt-bottom, .bgstyle-triangles-light #rt-bottom, .bgstyle-elegant-light #rt-bottom, .bgstyle-grunge-light #rt-bottom, .bgstyle-dustnscratches-light #rt-bottom, .bgstyle-fibers-light #rt-bottom, .bgstyle-wavy-lines-light #rt-footer, .bgstyle-diagonal-lines-light #rt-footer, .bgstyle-cube-light #rt-footer, .bgstyle-diamond-light #rt-footer, .bgstyle-noise-light #rt-footer, .bgstyle-carbon-light #rt-footer, .bgstyle-paper-light #rt-footer, .bgstyle-plaid-light #rt-footer, .bgstyle-rubber-light #rt-footer, .bgstyle-squares-light #rt-footer, .bgstyle-textile-light #rt-footer, .bgstyle-triangles-light #rt-footer, .bgstyle-elegant-light #rt-footer, .bgstyle-grunge-light #rt-footer, .bgstyle-dustnscratches-light #rt-footer, .bgstyle-fibers-light #rt-footer, .bgstyle-wavy-lines-light #rt-footer-surround .title, .bgstyle-diagonal-lines-light #rt-footer-surround .title, .bgstyle-cube-light #rt-footer-surround .title, .bgstyle-diamond-light #rt-footer-surround .title, .bgstyle-noise-light #rt-footer-surround .title, .bgstyle-carbon-light #rt-footer-surround .title, .bgstyle-paper-light #rt-footer-surround .title, .bgstyle-plaid-light #rt-footer-surround .title, .bgstyle-rubber-light #rt-footer-surround .title, .bgstyle-squares-light #rt-footer-surround .title, .bgstyle-textile-light #rt-footer-surround .title, .bgstyle-triangles-light #rt-footer-surround .title, .bgstyle-elegant-light #rt-footer-surround .title, .bgstyle-grunge-light #rt-footer-surround .title, .bgstyle-dustnscratches-light #rt-footer-surround .title, .bgstyle-fibers-light #rt-footer-surround .title {color: #444;}
.bgstyle-wavy-lines-light #rt-bottom a:hover, .bgstyle-diagonal-lines-light #rt-bottom a:hover, .bgstyle-cube-light #rt-bottom a:hover, .bgstyle-diamond-light #rt-bottom a:hover, .bgstyle-noise-light #rt-bottom a:hover, .bgstyle-carbon-light #rt-bottom a:hover, .bgstyle-paper-light #rt-bottom a:hover, .bgstyle-plaid-light #rt-bottom a:hover, .bgstyle-rubber-light #rt-bottom a:hover, .bgstyle-squares-light #rt-bottom a:hover, .bgstyle-textile-light #rt-bottom a:hover, .bgstyle-triangles-light #rt-bottom a:hover, .bgstyle-elegant-light #rt-bottom a:hover, .bgstyle-grunge-light #rt-bottom a:hover, .bgstyle-dustnscratches-light #rt-bottom a:hover, .bgstyle-fibers-light #rt-bottom a:hover, .bgstyle-wavy-lines-light #rt-footer a:hover, .bgstyle-diagonal-lines-light #rt-footer a:hover, .bgstyle-cube-light #rt-footer a:hover, .bgstyle-diamond-light #rt-footer a:hover, .bgstyle-noise-light #rt-footer a:hover, .bgstyle-carbon-light #rt-footer a:hover, .bgstyle-paper-light #rt-footer a:hover, .bgstyle-plaid-light #rt-footer a:hover, .bgstyle-rubber-light #rt-footer a:hover, .bgstyle-squares-light #rt-footer a:hover, .bgstyle-textile-light #rt-footer a:hover, .bgstyle-triangles-light #rt-footer a:hover, .bgstyle-elegant-light #rt-footer a:hover, .bgstyle-grunge-light #rt-footer a:hover, .bgstyle-dustnscratches-light #rt-footer a:hover, .bgstyle-fibers-light #rt-footer a:hover {color: #444}