/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
 
/* Frontpage */
.rt-image {padding: 3px;}
.presets-live-preview .rt-image {padding: 3px !important;}
.main-body-light .rt-image {border: 1px solid #F3F3F3;background: #FAFAFA;box-shadow: 0 1px 3px rgba(202, 202, 202, 0.9);}
.main-body-light .fp-side {border-bottom: 1px solid #EBEBEB;}
.component-content .module-title .title {font-size: 1.4em;line-height: 1.5em;}
.sep12-home #rt-showcase .rokgallery-wrapper {margin-left: -10px !important;}
.sep12-home .rt-image {padding: 8px;}
.sep12-home .rt-image, .sep12-home .rokgallery-wrapper .rg-gm-slice img {padding: 8px;}
.sep12-home .component-content .rt-article {margin-bottom: 0;}
.sep12-home .rt-grid-8 .roktabs .rt-demo-grid-3 {width: 120px;}
.sep12-home .rt-grid-8 .roktabs .rt-demo-grid-5 {width: 405px;}

/* Menu Styles */
.menu-preset {width: 90px;float: left;margin: 0 8px 15px;text-align: center;line-height: 22px;}
.menutop li .menu-preset > a > span {display:block;width:26px;height:23px;background:url(../../../images/stories/demo/general/preset-style-icons.png);padding:0;margin:0;cursor:pointer;}
.menutop li .menu-preset > a {line-height: 23px;}
.preset2 > a > span {background-position: 0 -23px !important;}
.preset3 > a > span {background-position: 0 -46px !important;}
.preset4 > a > span {background-position: 0 -69px !important;}
.preset5 > a > span {background-position: -26px 0 !important;}
.preset6 > a > span {background-position: -26px -23px !important;}
.preset7 > a > span {background-position: -26px -46px !important;}
.preset8 > a > span {background-position: -26px -69px !important;}
.preset9 > a > span {background-position: -52px -0 !important;}
.preset10 > a > span {background-position: -52px -23px !important;}
.preset11 > a > span {background-position: -52px -46px !important;}
.preset12 > a > span {background-position: -52px -69px !important;}

/* Custom Grid */
.rt-demo-grid-2, .rt-demo-grid-3, .rt-demo-grid-4, .rt-demo-grid-5, .rt-demo-grid-6, .rt-demo-grid-7, .rt-demo-grid-8, .rt-demo-grid-9 {float: left;margin-left: 10px;margin-right: 10px;}
.rt-grid-4 .rt-block .rt-demo-grid-2 {width: 90px;}
.rt-grid-8 .rt-demo-grid-2 {width: 90px;}
.rt-grid-9 .rt-demo-grid-2 {width: 120px;}
.rt-grid-6 .rt-block .rt-demo-grid-3 {width: 190px;}
.rt-grid-8 .rt-demo-grid-3 {width: 175px;}
.rt-grid-9 .rt-demo-grid-3 {width: 200px;}
.rt-grid-8 .rt-demo-grid-4 {width: 270px;}
.rt-grid-9 .rt-demo-grid-4 {width: 313px;}
.rt-grid-8 .rt-demo-grid-5 {width: 400px;}
.rt-grid-8 .rt-demo-grid-6 {width: 440px;}
.rt-grid-12 .rt-demo-grid-3 {width: 205px;}
.rt-grid-12 .rt-demo-grid-4 {width: 290px;}
.rt-grid-12 .rt-demo-grid-6 {width: 430px;}
.rt-grid-12 .rt-demo-grid-8 {width: 590px;}

/* Tutorials */
.ext-list {line-height: 30px;margin-bottom: 5px;}
.rt-install1-j15, .rt-install1-j17, .rt-install2-j15, .rt-install2-j17 {position: absolute;}
.rt-install1-j15 {bottom: 6px;left: 130px;font-size: 50%;}
.rt-install1-j17 {bottom: 6px;left: 423px;font-size: 50%;}
.rt-install2-j15 {top: 217px;left: 43px;font-size: 70%;color: #0B55C4;}
.rt-install2-j17 {bottom: 8px;left: 345px;font-size: 70%;color: #025A8D;}
.rt-install2-j17a {background: #c00;color: #fff;padding: 2px 4px;}

/* Standard Inline Structural Adjustments */
body .floatleft {float: left;margin-right: 15px;margin-left: 0;}
body .floatright {float: right;margin-left: 15px;margin-right: 0;}
body .normalfont, body .normalfont li {font-size: 100% !important;}
body .nobold, body .nobold li {font-weight: normal !important;}
body .nomarginall, body .nomarginall .rt-block, body ul.nomarginall, body li.nomarginall {margin-left: 0 !important;margin-right: 0 !important;margin-top: 0 !important;margin-bottom: 0 !important;}
body .nopaddingall, body .nopaddingall .rt-block, body ul.nopaddingall, body li.nopaddingall {padding-left: 0 !important;padding-right: 0 !important;padding-top: 0 !important;padding-bottom: 0 !important;}
body .nomargintop, body .nomargintop .rt-block, body ul.nomargintop, body li.nomargintop {margin-top: 0 !important;}
body .nomarginbottom, body .nomarginbottom .rt-block, body ul.nomarginbottom, body li.nomarginbottom {margin-bottom: 0 !important;}
body .nomarginleft, body .nomarginleft .rt-block, body ul.nomarginleft, body li.nomarginleft {margin-left: 0;}
body .nomarginright, body .nomarginright .rt-block, body ul.nomarginright, body li.nomarginright {margin-right: 0;}
body .nopaddingtop, body .nopaddingtop .rt-block, body ul.nopaddingtop, body li.nopaddingtop {padding-top: 0 !important;}
body .nopaddingbottom, body .nopaddingbottom .rt-block, body ul.nopaddingbottom, body li.nopaddingbottom {padding-bottom: 0 !important;}
body .nopaddingleft, body .nopaddingleft .rt-block, body ul.nopaddingleft, body li.nopaddingleft {padding-left: 0;}
body .nopaddingright, body .nopaddingright .rt-block, body ul.nopaddingright, body li.nopaddingright {padding-right: 0;}
.floatnone {float: none !important;}
.clearnone {clear: none !important;}
.floatleftlast {float: left;margin-right: 0;}
.floatrightlast {float: right;margin-left: 0;}
.noimage {display: none;visibility: hidden;}
body .smallmarginbottom {margin-bottom: 5px !important;}
body .smallmargintop {margin-top: 5px !important;}
body .medmarginbottom {margin-bottom: 10px !important;}
body .medmargintop {margin-top: 10px !important;}
body .largemarginbottom {margin-bottom: 15px !important;}
body .largemargintop {margin-top: 15px !important;}
body .smallmarginleft {margin-left: 5px !important;}
body .smallmarginright {margin-right: 5px !important;}
body .medmarginleft {margin-left: 10px !important;}
body .medmarginright {margin-right: 10px !important;}
body .largemarginleft {margin-left: 15px !important;}
body .largemarginright {margin-right: 15px !important;}
body .smallpaddingbottom {padding-bottom: 5px !important;}
body .smallpaddingtop {padding-top: 5px !important;}
body .medpaddingbottom {padding-bottom: 10px !important;}
body .medpaddingtop {padding-top: 10px !important;}
body .largepaddingbottom {padding-bottom: 15px !important;}
body .largepaddingtop {padding-top: 15px !important;}
body .smallpaddingleft {padding-left: 5px !important;}
body .smallpaddingright {padding-right: 5px !important;}
body .medpaddingleft {padding-left: 10px !important;}
body .medpaddingright {padding-right: 10px !important;}
body .largepaddingleft {padding-left: 15px !important;}
body .largepaddingright {padding-right: 15px !important;}
body .rt-relative {position: relative;}

/* RokBox */

.rokbox-example div.center {text-align:center;}
.rokbox-example .link-class {margin: 0 10px;}

/* RTL Stuff */
body.rtl .floatleft {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .floatright {float: left;margin-left: 0;margin-right: 15px;}
body.rtl .nomarginleft, body.rtl .nomarginleft .rt-block, body.rtl ul.nomarginleft, body.rtl li.nomarginleft {margin-right: 0;}
body.rtl .nomarginright, body.rtl .nomarginright .rt-block, body.rtl ul.nomarginright, body.rtl li.nomarginright {margin-left: 0;}
body.rtl .nopaddingleft, body.rtl .nopaddingleft .rt-block, body.rtl ul.nopaddingleft, body.rtl li.nopaddingleft {padding-right: 0;}
body.rtl .nopaddingright, body.rtl .nopaddingright .rt-block, body.rtl ul.nopaddingright, body.rtl li.nopaddingright {padding-left: 0;}
body.rtl .floatleftlast {float: right;margin-left: 0;}
body.rtl .floatrightlast {float: left;margin-right: 0;}
body.rtl .smallmarginleft {margin-right: 5px;}
body.rtl .smallmarginright {margin-left: 5px;}
body.rtl .medmarginleft {margin-right: 10px;}
body.rtl .medmarginright {margin-left: 10px;}
body.rtl .largemarginleft {margin-right: 15px;}
body.rtl .largemarginright {margin-left: 15px;}
body.rtl .smallpaddingleft {padding-right: 5px;}
body.rtl .smallpaddingright {padding-left: 5px;}
body.rtl .medpaddingleft {padding-right: 10px;}
body.rtl .medpaddingright {padding-left: 10px;}
body.rtl .largepaddingleft {padding-right: 15px;}
body.rtl .largepaddingright {padding-left: 15px;}
body.rtl .rt-demo-grid-2, body.rtl .rt-demo-grid-3, body.rtl .rt-demo-grid-4, body.rtl .rt-demo-grid-5, body.rtl .rt-demo-grid-6, body.rtl .rt-demo-grid-7 {float: right;}
body.jan12-home .roktabs-container-wrapper .wrapper .floatleft {margin-right: 0px;margin-left:9px;}