/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

.rt-menubar, .logo-block {float: left;}
#rt-navigation .rt-fusionmenu, #rt-navigation .rt-splitmenu {margin: 0 -2px 0;}
#rt-main-container {padding: 15px 200px;}
#rt-body-surround {padding: 15px;}
.component-content .title span {font-size: 6em;}
.component-content .title {margin: 50px 0 15px;text-align: center;}
h2 {font-weight: normal;font-size: 2.8em;}
.rt-error-box {width: 500px;margin: 0 auto;}

@media all and (min-height: 600px) {
	#rt-copyright {position: absolute;left: 0;right: 0;bottom: 0;}
}