/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Fonts */
.font-family-clarion .rg-ss-controls .prev, .font-family-clarion .rg-ss-controls .next {font-family: RobotoRegular,Helvetica,Arial,sans-serif;}
.font-family-clarion .rok-content-rotator h2, .font-family-clarion .roktabs ul li, .font-family-clarion .rg-view-header, .font-family-clarion .rg-detail-header, .font-family-clarion .rg-detail-item-title, .font-family-clarion .rg-grid-view .item-title, .font-family-clarion .rg-list-view .item-title,.font-family-clarion .rokminievents-title,.font-family-clarion .rokminievents-title-nolink, .font-family-clarion .timeline-dates.date-inline .date, .font-family-clarion .rokminievents-desc, .font-family-clarion .featuretable .name, .font-family-clarion  .featuretable .item1, body #roksearch_results h3 {font-family: RobotoRegular,Helvetica,Arial,sans-serif;}

/* RokAjaxSearch */
#rokajaxsearch .inputbox {height: 26px;line-height: 26px;padding: 5px;font-size: 12px;border-radius: 2px;}
.rt-grid-3 #rokajaxsearch .inputbox {width: 185px;}
.rt-grid-4 #rokajaxsearch .inputbox {width: 265px;}
.rt-grid-5 #rokajaxsearch .inputbox, .rt-grid-6 #rokajaxsearch .inputbox, .rt-grid-7 #rokajaxsearch .inputbox, .rt-grid-8 #rokajaxsearch .inputbox, .rt-grid-9 #rokajaxsearch .inputbox, .rt-grid-10 #rokajaxsearch .inputbox, .rt-grid-11 #rokajaxsearch .inputbox, .rt-grid-12 #rokajaxsearch .inputbox {width: 225px;}
#rokajaxsearch {margin: -5px;}
body #roksearch_results span.small {display: inline;position: relative;text-align: inherit;bottom: 0;right: 0;font-size: 11px;font-style: italic;}
body #roksearch_results a.clr {font-size: 100%;line-height: 1.6em;height: auto;}
body .search_options {float: left;margin: 5px 10px 0 10px;}
body .search_options label {margin-right: 15px !important;padding-bottom: 2px;text-transform: lowercase;}
body #roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;text-align: left;visibility: hidden;border-radius: 2px;margin-top: 5px;}
body #roksearch_results h3 {margin-top: 0;margin-bottom: 2px;line-height: 110%;font-size: 110%;padding-bottom: 0;}
body #roksearch_results .container-wrapper {overflow: hidden;}
body #roksearch_results .page {float: left;}
body #roksearch_results .roksearch_header, body #roksearch_results .roksearch_row_btm {padding: 5px 10px;line-height: 130%;text-transform: none;font-weight: normal;font-size: 12px;border: 0;}
body #roksearch_results .roksearch_row_btm {border-bottom: none;}
body #roksearch_results .roksearch_even, body #roksearch_results .roksearch_odd {padding: 10px;border-bottom: none;}
body #roksearch_results .roksearch_even span, body #roksearch_results .roksearch_odd span {margin-top: 15px;line-height: 140%;}
body #roksearch_results .roksearch_even span.highlight, body #roksearch_results .roksearch_odd span.highlight {margin-top: 0;}
body #roksearch_results .roksearch_row_btm {overflow: hidden;}
body #roksearch_results .roksearch_row_btm span {line-height: 140%;}
body #roksearch_results .viewall span {line-height: 130%;text-transform: none;}
body #roksearch_results .viewall {float: left;margin: 0 5px;}
body #roksearch_results .estimated_res, body #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
body #roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
body #roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
body #roksearch_results .google-search a#roksearch_link {margin-top: 5px;}
body #roksearch_results .readon {margin-top: 15px;}
body #roksearch_results .readon span, body #roksearch_results .readon .button {font-size: 13px;line-height: 22px;}
body #roksearch_results .google-thumb-image {margin: 0 auto;}
body .searchintro {overflow: hidden;}
body #roksearch_results .container-arrows {margin-top: 2px;}
.roksearch_wrapper1 {padding: 3px;}
.roksearch_wrapper2 {border: 1px solid;}
.roksearch_wrapper2, .roksearch_wrapper3, .roksearch_wrapper4 {border-radius: 2px;}
.roksearch_wrapper1 {border-radius: 2px;}
#roksearch_results a#roksearch_link {float: right;padding-right: 0px;margin-top: 7px;display: block;height: 16px;width: 16px;}
#roksearch_results .container-arrows {height: 12px;width: 30px;float: left;margin-right: 5px;position: relative;}
#roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {width: 12px;height: 12px;position: absolute;top: 0;}
#roksearch_results .arrow-left {left: 0;cursor: pointer;background-position: 0 2px;}
#roksearch_results .arrow-left-disabled {left: 0;background-position: 0 -33px;}
#roksearch_results .arrow-right {left: 18px;cursor: pointer;background-position: 0 -15px;}
#roksearch_results .arrow-right-disabled {left: 18px;background-position: 0 -33px;}
.roksearch_result_wrapper1 {-moz-transition: background-color 0.3s linear;-o-transition: background-color 0.3s linear;-webkit-transition: background-color 0.3s linear;transition: background-color 0.3s linear;}

/* RokTabs */
.roktabs-wrapper {padding: 0;position: relative;}
.roktabs {position: relative;}
.roktabs-wrapper p {clear: both;}
.tablocation-top .roktabs-wrapper .roktabs-container-inner {position: relative;overflow: hidden;margin: -1px 0 0;border-radius: 0 2px 2px 2px;z-index: 1;}
.tablocation-bottom .roktabs-wrapper .roktabs-container-inner {position: relative;overflow: hidden;margin: 0 0 -1px;border-radius: 2px 2px 2px 0;z-index: 1;}
.roktabs-wrapper .rt-module-inner {position: relative;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow: hidden;width: 50000px;}
.roktabs-tab1, .roktabs-tab2, .roktabs-tab3, .roktabs-tab4, .roktabs-tab5, .roktabs-tab6, .roktabs-tab7, .roktabs-tab8, .roktabs-tab9, .roktabs-tab10, .roktabs-tab11, .roktabs-tab12, .roktabs-tab13, .roktabs-tab14, .roktabs-tab15, .roktabs-tab16, .roktabs-tab17, .roktabs-tab18, .roktabs-tab19, .roktabs-tab20 {float: left;}
.roktabs-container-wrapper .wrapper {padding: 15px;width: auto;float: none;}
.roktabs-wrapper .roktabs-links {margin: 0;overflow: hidden;position: relative;}
.tablocation-top .roktabs-wrapper .roktabs-links ul {padding-top: 5px;}
.tablocation-bottom .roktabs-wrapper .roktabs-links ul {padding-bottom: 5px;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 20px;}
.roktabs-wrapper .roktabs-links ul {text-align: left;list-style-type: none;overflow: hidden;margin: 0;padding: 0;}
.tablocation-bottom .roktabs-links ul {background-repeat: repeat-x;background-position: 0 0;}
.tablocation-top .roktabs-links ul {background-repeat: repeat-x;background-position: 0 100%;}
.roktabs-wrapper .roktabs-links ul li {float: left;margin: 0;text-decoration: none;position: relative;height: 37px;z-index: 0;border-left-width: 0;border-left-style: solid;}
.roktabs-wrapper .roktabs-links ul li span {display: block;margin: 0;padding: 0 24px;font-size: 1.1em;line-height: 37px;font-weight: normal;text-transform: uppercase;letter-spacing: -0.1em;transition: background 0.2s linear;}
.roktabs-wrapper .roktabs-links ul li.active {z-index: 2;}
.roktabs-wrapper .roktabs-links ul li.active span {line-height: 37px;}
.tablocation-top .roktabs-wrapper .roktabs-links ul li.active span {padding-bottom: 2px;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {text-align: center;cursor: pointer;position: absolute;top: 17px;height: 16px;width: 16px;margin: 0;background-repeat: no-repeat;border-radius: 2px;transition: background 0.2s linear;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.roktabs-wrapper .arrow-next {background-position: 6px -573px;right: -8px;transition: background 0.2s linear;}
.roktabs-wrapper .arrow-prev {background-position: 5px -670px;left: 0;transition: background 0.2s linear;}
.roktabs-wrapper .tab-icon {margin-right: 8px;vertical-align: middle;}
.tablocation-top .roktabs-wrapper .active-arrows {background-position: 50% 100%;}
.tablocation-bottom .roktabs-wrapper .active-arrows {background-position: 50% 0;}
.active-arrows .arrow-prev, .active-arrows .arrow-next {background-color: transparent;}
.tablocation-top .taper-shadow-m {margin: 0 110px}

/* RokFeatureTable */
.featuretable {margin-bottom: 15px;border-radius: 1px;}
.featuretable-border {margin: -2px;border-radius: 1px;}
.featuretable-col {float: left;}
.featuretable-col.ft-col-last {border-bottom-right-radius: 6px;}
.featuretable-col.ft-col-last .featuretable-col-border {border-right: 0;}
.col1 .featuretable-col {width: 100%;}
.col2 .featuretable-col {width: 50%;}
.col3 .featuretable-col {width: 33.33%;}
.featuretable-col, .col4 .featuretable-col {width: 25%;}
.col5 .featuretable-col {width: 20%;}
.col6 .featuretable-col {width: 16.66%;}
.featuretable-head {padding: 5px 0 10px;text-align: center;margin: -1px 0px 0 -1px;}
.featuretable-col.ft-col-first .featuretable-head {border-top-left-radius: 1px;}
.featuretable-col.ft-col-first.highlight {border-top-left-radius: 1px;border-bottom-left-radius: 1px;}
.featuretable-col.ft-col-last.highlight {border-top-right-radius: 1px;border-bottom-right-radius: 1px;}
.featuretable-col.ft-col-last .featuretable-head {border-top-right-radius: 1px;}
.featuretable-cell {padding: 10px;text-align: center;}
.featuretable-cell.bottom {border-bottom: 0;height: 45px;}
.featuretable-cell.bottom .readon span {font-weight: bold;}
.featuretable-col.highlight {z-index: 2;position: relative;}
.featuretable .featuretable-col.highlight .featuretable-col-border {-webkit-transition: box-shadow 0.6s ease-out;transition: box-shadow 0.6s ease-out;-moz-transition: box-shadow 0.6s ease-out;}
.featuretable .head-text {position: relative;margin: 0 auto;font-weight: bold;padding-top: 10px;}
.featuretable .name {font-size: 20px;padding: 10px 0;padding-bottom: 4px;text-align: center;margin-bottom: 0px;margin-right: 1px;margin-left: 1px;text-transform: uppercase;}
.featuretable-col.ft-col-last .name {text-indent: 0;}
.featuretable .price {text-align:center;}
.featuretable .item1 {font-size: 30px;line-height: 40px;display: block;}
.featuretable .item2 {font-size: 14px;display:block;}
.featuretable-cell.bottom .itemtext {display: block;font-size: 10px;font-style: italic;}
.col5 .featuretable-cell.bottom .itemtext {font-size: 9px;}
.featuretable ul {margin-bottom:0 !important;}
.featuretable ul li {margin-bottom:0 !important;text-align:left;display:inline-block;}

/* RokTwittie */
body #roktwittie .clr {clear: both;}
body #roktwittie .info {margin-top: 5px;margin-left: 58px;}
body #roktwittie .name {margin: 0 0 4px;padding: 0;display: block;padding-top: 3px;}
body #roktwittie .nick {display: inline;margin: 3px 0 0;padding: 2px 0;}
body #roktwittie ul {padding: 0;list-style: none;}
body #roktwittie a {font-weight: normal;font-size: 100%;line-height: 100%;}
body #roktwittie .title {margin-bottom: 0;}
body #roktwittie .loading {text-align: center;height: 16px;}
body #roktwittie .loading span {display: none;}
body #roktwittie .status {margin-bottom: 20px;}
body #roktwittie .header {padding: 4px 8px;overflow: hidden;background: none;}
body #roktwittie .header-wrapper {margin-bottom: 15px;}
body #roktwittie .status .header .avatar {float: left;}
body #roktwittie .status .header .showavatar {margin-bottom: 5px;background: none;}
body #roktwittie .status .header .name {font-size: 20px;font-weight: normal;line-height: 100%;font-family: Colaborate,Helvetica,Arial,sans-serif;}
body #roktwittie .status .header .nick {font-size: 13px;font-family: Colaborate,Helvetica,Arial,sans-serif;}
body #roktwittie .status ul li {clear: both;padding: 0;list-style: none;overflow: hidden;line-height: 150%;}
body #roktwittie .status ul li a {line-height: 150%;}
body #roktwittie .status ul li .title {float: left;width: 55px;text-align: right;}
body #roktwittie .status ul li .content {margin-left: 66px;font-weight: normal;margin-bottom: 0;}
body #roktwittie .user .stats {margin-bottom: 10px;}
body #roktwittie .user .feed a {display: block;float: left;height: 16px;padding-right: 20px;}
body #roktwittie .user .subscribe {margin-top: 5px;}
body #roktwittie .tweets-wrapper {margin-bottom: 20px;}
body #roktwittie .tweets ul, body #roktwittie .query ul {list-style-type: none;margin: 0;padding: 0;}
body #roktwittie .roktwittie-avatar {margin: 5px;float: left;padding: 6px;}
body #roktwittie a.roktwittie-avatar img {vertical-align: middle;}
body #roktwittie div.roktwittie-infos {font-size: 90%;margin: 0.3em 0;}
body #roktwittie div.roktwittie-infos .roktwittie-date {float: right;font-size: 80%;padding-top: 5px;padding-left: 28px;padding-bottom: 5px;}
body #roktwittie div.roktwittie-infos span .roktwittie-source {font-style: italic;font-weight: bold;}
body #roktwittie .roktwittie-surround {padding-left: 0;margin-top: -13px;margin-right: 2px;margin-bottom: 0;margin-left: 75px !important;}
body #roktwittie .roktwittie-m1:hover {opacity: 1.0;}
body #roktwittie .roktwittie-m3, body #roktwittie .roktwittie-b3 {margin: 0 12px;}
body #roktwittie .roktwittie-b3 {height: 12px;}
body #roktwittie div.roktwittie-text {padding: 0;overflow: hidden;font-size: 13px;font-family: Colaborate,Helvetica,Arial,sans-serif;}
body #roktwittie div.roktwittie-text > span {line-height:120%;}
body #roktwittie li {overflow: auto;padding: 0 0 0;margin: 0;}
body #roktwittie .content ul, body #roktwittie .friends_list {margin: 0 0 10px 0;padding: 0;}
body #roktwittie ul li {list-style: none !important;padding: 0px;padding-top: 8px;padding-bottom: 2px;}
body #roktwittie .status ul li .content.feed {min-height: 20px;}
body #roktwittie .roktwittie-t1, body #roktwittie .roktwittie-t2, body #roktwittie .roktwittie-t3, body #roktwittie .roktwittie-m1, body #roktwittie .roktwittie-m2, body #roktwittie .roktwittie-m3, body #roktwittie .roktwittie-b1, body #roktwittie .roktwittie-b2, body #roktwittie .roktwittie-b3 {background:none;}
body #roktwittie .roktwittie-t1 {position: relative; width: 11px; height: 12px;top:19px;left:-16px;}
body #roktwittie .roktwittie-avatar img {width: 46px; height: 46px;}
#roktwittie ul li.first {border-top: 0px none !important;}
#roktwittie span.vcard {display: inline-block;padding: 3px;}
body #roktwittie .even, body #roktwittie .odd {background: none;}

/* RokMiniEvents */
.rt-grid-12 .grid1 .rokminievents-item {width: 910px;}
.rt-grid-12 .grid2 .rokminievents-item {width: 430px;}
.rt-grid-12 .grid3 .rokminievents-item {width: 270px;}
.rt-grid-12 .grid4 .rokminievents-item {width: 190px;}
.rt-grid-12 .grid6 .rokminievents-item {width: 110px;}
.rt-grid-10 .grid1 .rokminievents-item {width: 750px;}
.rt-grid-10 .grid2 .rokminievents-item {width: 350px;}
.rt-grid-10 .grid3 .rokminievents-item {width: 217px;}
.rt-grid-10 .grid4 .rokminievents-item {width: 150px;}
.rt-grid-10 .grid6 .rokminievents-item {width: 83px;}
.rt-grid-8 .grid1 .rokminievents-item {width: 430px;}
.rt-grid-8 .grid2 .rokminievents-item {width: 270px;}
.rt-grid-8 .grid3 .rokminievents-item {width: 165px;}
.rt-grid-8 .grid4 .rokminievents-item {width: 110px;}
.rt-grid-8 .grid6 .rokminievents-item {width: 57px;}
.rt-grid-6 .grid1 .rokminievents-item {width: 430px;}
.rt-grid-6 .grid2 .rokminievents-item {width: 185px;}
.rt-grid-6 .grid3 .rokminievents-item {width: 110px;}
.rt-grid-6 .grid4 .rokminievents-item {width: 68px;}
.rt-grid-6 .grid6 .rokminievents-item {width: 30px;}
.rokminievents {list-style: none;padding: 0;width: 30000px;margin: 1px;}
.rokminievents-container {overflow: hidden;margin: 0 -10px;padding-bottom: 1px;}
.rokminievents-item {float: left;overflow: hidden;margin: 0 15px;padding: 10px;border-radius: 10px;}
.rokminievents-badge {width: 36px;height: 51px;float: left;margin-right: 15px;text-align: center;padding: 10px;border-radius: 2px;background-position: 50% -14%;}
.rokminievents-badge.showyear {height: 65px;background-position: 50% -250%;}
.rokminievents-badge .day {display: block;font-size: 30px;line-height: 32px;}
.showyear .day {line-height: 34px;}
.rokminievents-badge .month {display: block;font-size: 15px;line-height: 18px;text-transform: uppercase;}
.showyear .month {line-height: 14px;}
.rokminievents-badge .year {display: block;font-size: 12px;line-height: 18px;text-transform: uppercase;}
.rokminievents-wrapper {margin: 0px 0px 11px 5px;}
.rokminievents-title, .rokminievents-title-nolink {display: block;font-size: 110%;line-height: 120%;margin: 0 0 5px 0;word-wrap: break-word;font-weight: normal;}
.rokminievents-title {cursor: pointer;}
.rokminievents-date {display: block;font-size: 110%;cursor: pointer;line-height: 110%;font-weight: bold;margin-bottom: 5px;}
.rokminievents-time {display: block;font-size: 100%;line-height: 100%;margin-bottom: 5px;}
.rokminievents p {margin-bottom: 0;}
.rokminievents-controls {clear: both;}
.rokminievents-wrapper .arrows {float: right;}
.rokminievents-wrapper .left-arrow, .rokminievents-wrapper .right-arrow {width: 11px;height: 10px;display: inline-block;cursor: pointer;background-repeat: no-repeat;border-radius: 2px;margin: 0 2px;margin-top: 1px;-moz-transition: background-color 0.3s linear;-webkit-transition: background-color 0.3s linear;transition: background-color 0.3s linear;}
.rokminievents-wrapper .left-arrow.disabled:hover, .rokminievents-wrapper .right-arrow.disabled:hover {cursor: default;}
.rokminievents-wrapper .left-arrow {background-position: 7px 5px;}
.rokminievents-wrapper .left-arrow:hover {background-position: 7px 5px;}
.rokminievents-wrapper .left-arrow.disabled {opacity: 0.2;}
.rokminievents-wrapper .right-arrow {background-position: -13px 5px;}
.rokminievents-wrapper .right-arrow:hover {background-position: -13px 5px;}
.rokminievents-wrapper .right-arrow.disabled {opacity: 0.2;}
.rokminievents-wrapper .timeline {margin-top: 10px;}
.rokminievents-wrapper .arrows-on .timeline {margin-right: 70px;}
.rokminievents-wrapper .timeline .progress-wrapper {height: 24px;padding: 0 29px;opacity: 0.8;transition: opacity 0.3s linear;}
.rokminievents-wrapper .timeline .progress-wrapper:hover {opacity: 1.0;}
.rokminievents-wrapper .timeline .progress {height: 16px;position: relative;}
.rokminievents-wrapper .timeline .progress .knob {position: absolute;left: 0;top: 7px;width: 10px;height: 10px;cursor: pointer;transition: left 0.3s linear;}
.rokminievents-wrapper .timeline .progress .knob{border-radius: 5px;}
.rokminievents-wrapper .timeline .progress-wrapper {border-radius: 2px;}
.rokminievents-wrapper .rokminievent-page {width: 12px;height: 12px;position: absolute;visibility: hidden;cursor: pointer;top: 5px;border-radius: 12px;}
.timeline-dates {margin-top: 6px;position: relative;}
.date-inline {height: 18px;}
.date-column {height: 32px;}
.timeline-dates .date {text-align: center;font-size: 10px;line-height: 18px;position: absolute;border-radius: 2px;padding: 0 4px;cursor: pointer;}
.timeline-dates.date-inline .date {width: 80px;}
.timeline-dates.date-column .date {width: 45px;}
.timeline-dates.date-column .date span {display: block;}
.rokminievents-badge .day {width: 58px;margin-left: -11px;border-radius: 5px 5px 0px 0px;margin-top: -11px;padding-top: 6px;padding-bottom: 0px;margin-bottom: 5px;}
.rokminievents-wrapper .right-arrow,.rokminievents-wrapper .left-arrow {height: 24px;width: 24px;border-radius: 2px;}

/* RokNewsPager */
body .roknewspager {margin: 0;position: relative;}
body .roknewspager-li {list-style: none;overflow: auto;margin: 0 0 2px;border-radius: 2px;}
body .roknewspager-li2 {padding-bottom: 2px;}
body .roknewspager-h3 {padding: 5px;padding-right: 20px;font-size: 12px;font-weight: bold;margin: 0 !important;position: relative;line-height: 120%;background-position: 0 100%;background-repeat: repeat-x;border-radius: 2px;text-transform: uppercase;background-position: 0 0;}
body .roknewspager .roknewspager-title {font-weight: normal;}
body .roknewspager-li.active .roknewspager-content {opacity: 1.0;border-radius: 0 0 3px 3px;}
body .roknewspager .roknewspager-title {display: inline-block;font-size: 12px;line-height: 24px;font-weight: normal;cursor: pointer;}
body .roknewspager a.roknewspager-title {-moz-transition: none;-webkit-transition: none;transition: none;-o-transition: none;}
body .roknewspager-wrapper {position:relative;overflow:hidden;margin-bottom: 8px;margin: -15px -15px 0;}
body .roknewspager-content {padding: 15px;}
body .roknewspager-content .readon {margin-top: 10px;}
body .roknewspager-toggle, body .roknewspager-toggle-active {width: 13px;height: 13px;right: 10px;top: 6px;position: absolute;cursor: pointer;background-repeat: no-repeat;z-index: 2;}
body .roknewspager .roknewspager-overlay {width: 11px;height: 11px;right: 10px;top: 9px;position: absolute;cursor: pointer;background-repeat: no-repeat;}
body .roknewspager-toggle:hover {background-position: 0 0;}
body .roknewspager-toggle-active, body .roknewspager-toggle {transition: opacity 0.3s linear;}
body .roknewspager-pages {margin: 0 -15px;text-align: right;padding: 0;position: absolute;right: 15px;}
body .roknewspager-prev, body .roknewspager-prev-disabled, body .roknewspager-next, body .roknewspager-next-disabled {width: 16px;height: 16px;top: 3px;position: absolute;cursor: pointer;background-repeat: no-repeat;border-radius: 2px;}
.roknewspager-prev, .roknewspager-next, .roknewspager-prev-disabled, .roknewspager-next-disabled {-moz-transition: background-color 0.3s linear;-webkit-transition: background-color 0.3s linear;transition: background-color 0.3s linear;}
body .roknewspager-next, body .roknewspager-next-disabled {right: 5px;background-position: -4px 4px;}
body .roknewspager-prev, body .roknewspager-prev-disabled {left: 5px;background-position: 6px 4px;}
body .roknewspager-next:hover, body .roknewspager-prev:hover {opacity: 1;}
body .roknewspager-next-disabled, body .roknewspager-prev-disabled {opacity: 0.7;cursor: default;}
body .roknewspager-wrapper ul.roknewspager {padding: 0;}
body .roknewspager-wrapper ul li {padding: 15px;margin: 0;list-style: none;}
body .roknewspager-wrapper ul li .roknewspager-div {padding: 0;}
body .roknewspager-spinner {width: 16px;height: 16px;background: transparent url(../images/spinner.gif) no-repeat scroll 0 50%;display: none;position: absolute;top: 5px;left: -16px;}
body ul.roknewspager-numbers {margin: 0;padding: 0 24px;overflow: hidden;height: 23px;text-align: right;background: none;}
body ul.roknewspager-numbers li {list-style: none;display: inline-block;cursor: pointer;width: 8px;height: 12px;border-radius: 13px;padding: 0 2px;line-height: 20px;transition: opacity 0.3s linear;}
body .roknewspager-numbers li.active {cursor: default;background-position: 0 -136px;opacity: 1;}
body .roknewspager-li .roknewspager-h3 {padding: 1px 30px 1px 8px;}
body .roknewspager-li.active .roknewspager-h3 {box-shadow: 1px 1px 2px rgba(0,0,0,0.3);}
body .roknewspager-overlay {z-index: 2;}
body .article-rating {float: left;margin: 10px 0;white-space:nowrap;}
body .article-rating .rating-bar {float:left;height:14px;width:104px;background:url(../images/ratingbar.png);text-align:left;}
body .article-rating .rating-bar div {height:14px;background:url(../images/ratingbar.png) 0 -15px;overflow:hidden;}
body .roknewspager-toggle, body .roknewspager-toggle:hover {background-position: 0 -13px;background-color: transparent !important;}
body .roknewspager-toggle-active, body .roknewspager-toggle-active:hover {background-position: 0 -1px;background-color: transparent !important;}
body .roknewspager .readon span, body .roknewspager .readon .button {background-position: 0 -624px;}

/* RokGallery */
.rg-view-header {margin: 0 -5px 15px;padding: 0 15px;}
.rg-view-pagination .prev, .rg-view-pagination .next {font-style: italic;background-repeat: no-repeat;}
.rg-view-pagination .prev {padding-left: 20px;background-position: 0 -399px;}
.rg-view-pagination .prev:hover {background-position: 0 -599px;}
.rg-view-pagination .next {padding-right: 20px;background-position: 100% 1px;}
.rg-view-pagination .next:hover {background-position: 100% -199px;}
.rg-view-pagination-list li a {display: block;width: 9px;height: 9px;background-position: 0 0;background-repeat: no-repeat;}
.rg-view-pagination-list li.active a {background-position: 0 -200px;}
.rg-view-pagination-list li a span {display: none;}
.rg-detail-file-main, .rg-detail-file-info, .rg-detail-slice-info {background-position: 93% 100% !important;}
.rg-detail-info-table-container {margin: 0px -25px 0 -25px;padding: 25px 25px 0 25px;}
.rg-detail-img-bg {padding: 5px 5px 12px !important;border-radius: 0px;}
.rg-grid-view .rg-grid-thumb, .rg-list-view .rg-list-thumb {border-radius: 0px;}
.rg-detail-item-title {text-shadow: none !important;font-size: 29px;}
.rg-grid-view .tag, .rg-list-view .tag, .rg-detail-slicetag .tag, .rg-detail-filetag .tag {border: 0;border-radius: 4px;text-shadow: none;padding-bottom: 5px;}
.rg-view-selector-list .active {border-bottom: none !important;}
.rg-sort .desc, .rg-view-selector .desc {font-style: normal;}
.rg-grid-thumb-img {border-radius: 0px !important;}
.rg-grid-view .item-title, .rg-detail-item-caption {font-size: 100%;}
.rg-grid-view .item-caption {font-style: normal;}
.rg-detail-img {border-radius: 0px;}
.rg-list-view .item-title {font-size: 130%;}
.rg-grid-view .tag, .rg-list-view .tag, .rg-detail-slicetag .tag, .rg-detail-filetag .tag {border: 0;border-radius: 4px;text-shadow: none;}
.rg-view-selector-list .active {border-bottom: none !important;}
ul.rg-view-selector-list li {padding: 6px 6px 7px;}
ul.rg-view-selector-list {margin: -3px 0; padding: 0;}
ul.rg-sort-list li {margin: 0 2px; padding: 0 5px;}
ul.rg-sort-list, #main ul.rg-sort-list {margin: 0;padding: 0;}
.component-content .rg-gm-slice-list {margin: 0;padding: 0;list-style: none;}

/* RokGallery - Grid */
body .rokgallery-wrapper .rg-gm-slice-item {border-radius: 0;margin: 0;}
.rokgallery-wrapper .rg-gm-slice {border-radius: 2px;margin: 0;padding: 0;border: 0;background: none;box-shadow: none;position: relative;}
.rokgallery-wrapper .rg-gm-slice:hover {margin: -1px;}
.rokgallery-wrapper .rg-gm-slice-list {list-style: none;}
.rokgallery-wrapper .rg-gm-slice img, .rt-image {padding: 4px;margin-bottom: 15px;border-radius: 2px;}
body .rokgallery-wrapper .rg-gm-slice img {margin-bottom: 0;}
.rokgallery-wrapper .rg-gm-info {margin-top: 10px;}
.rokgallery-wrapper .rg-gm-title {font-weight: bold;text-transform: uppercase;font-size: 100%;line-height: 100%;}
.rokgallery-wrapper .rg-gm-caption {margin-top: 3px;}
.rokgallery-wrapper .rg-gm-slice:before {content: "";position: absolute;height: 32px;width: 35px;right: 2px;top: 2px;opacity: 0;transition: opacity 0.2s ease-in;}
.rokgallery-wrapper .rg-gm-slice:hover:before {opacity: 1;}

/* RokGallery - Feature */
body .rg-ss-controls .next, body .rg-ss-controls .prev {opacity: 0.7;width: 65px;height: 65px;margin: -34px -15px 0;background-position: 0 0;}
body .rg-ss-controls .next:hover, body .rg-ss-controls .prev:hover {background-position: 0 0;opacity: 1;}
body .rg-ss-controls .next .arrow, body .rg-ss-controls .prev .arrow {width: 65px;height: 65px;display: block;background-repeat: no-repeat;}
body .rg-ss-controls .prev .arrow {background-position: 46% -46px;}
body .rg-ss-controls .next .arrow {background-position: 56% 19px;}
body .rg-ss-controls .prev {border-radius: 0 3px 3px 0;}
body .rg-ss-controls .next {border-radius: 3px 0 0 3px;}
body .rg-ss-title {text-transform: uppercase;font-weight: bold;line-height: 90%;margin-bottom: 10px;}
body .rg-ss-caption {padding: 10px;text-indent: 0;font-size: 120%;line-height: 120%;}
body .rg-ss-caption .readon {line-height: inherit;}
body .rg-ss-info {margin-left: 50px;width: 40%;top: 10%;}
body #rt-feature .rg-ss-slice-container {margin: -30px -25px -29px;}
body .rg-ss-loader {height: 3px;opacity: 0.6;}