/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* RokAjaxSearch */
body.rtl .rokajaxsearch {direction: ltr;text-align: right;}
body.rtl .roksearch_option {float: right !important;}
body.rtl .search_options {float: right;}
body.rtl .search_options label {margin-right: 0 !important;margin-left: 15px !important;}
body.rtl #rokajaxsearch #roksearch_search_str.loading {background-position: 0 50% !important;}
body.rtl #roksearch_results {direction: ltr;text-align: right;}
body.rtl #roksearch_results .viewall {float: right;}
body.rtl #roksearch_results .estimated_res, body.rtl #roksearch_results .pagination_res {float: right;}
body.rtl #roksearch_results a#roksearch_link {float: left;padding-right: 0;margin-left: 5px;}
body.rtl #roksearch_results .container-arrows {float: right;margin-right: 0;margin-left: 5px;}
body.rtl #roksearch_results span.small {direction: rtl;}

/* RokTabs */
body.rtl .roktabs-wrapper {direction: ltr;text-align: right;}
body.rtl .roktabs-wrapper .roktabs-links ul li {float: right;}
body.rtl .roktabs-wrapper .tab-icon {margin-right: 0;margin-left: 8px;float: right;margin-top: 0;}
body.rtl .roktabs-wrapper .roktabs-links ul {text-align: right;}
body.rtl .roktabs .roktabs-top li.first, body.rtl .roktabs .roktabs-bottom li.first {border-left: none;border-radius: 0;}
body.rtl .roktabs .roktabs-top li.last, body.rtl .roktabs .roktabs-bottom li.last {border-left-width: 1px;border-radius: 0;}
body.rtl .tablocation-top .roktabs-wrapper .roktabs-container-inner {margin: -1px 0 0 -2px;}
body.rtl .tablocation-bottom .roktabs-wrapper .roktabs-container-inner {margin: 0 0 -1px -2px;}

/* Feature Table */
body.rtl .featuretable-col {float: right;}
body.rtl .featuretable-col.ft-col-last {border-bottom-left-radius: 1px;}
body.rtl .featuretable-col.ft-col-last .featuretable-col-border {border-right: inherit;border-left: 0;}
body.rtl .featuretable-col.ft-col-first .featuretable-head {border-top-right-radius: 1px;}
body.rtl .featuretable-col.ft-col-first.highlight {border-top-right-radius: 1px;border-bottom-right-radius: 1px;}
body.rtl .featuretable-col.ft-col-last.highlight {border-top-left-radius: 1px;border-bottom-left-radius: 1px;}
body.rtl .featuretable-col.ft-col-last .featuretable-head {border-top-left-radius: 1px;}

/* RokNewsPager */
body.rtl .roknewspager-li .roknewspager-content {background-position: 90% 0;}
body.rtl .roknewspager-toggle {right: inherit;left: 10px;}
body.rtl .roknewspager-pages {right: inherit;left: 15px;}
body.rtl .roknewspager-spinner {left: inherit;right: -30px;}
body.rtl .article-rating {float: right;}
body.rtl .article-rating .rating-bar {float: right;text-align: right;}
body.rtl .roknewspager-li .roknewspager-h3 {padding:  1px 15px;}

/* RokMiniEvents */
body.rtl .rokminievents-item {float: right;margin: 0 10px;}
body.rtl .rokminievents-badge {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .rokminievents-wrapper .arrows {float: left;margin-left: -16px;}
body.rtl .rokminievents-wrapper .left-arrow, body.rtl .rokminievents-wrapper .right-arrow {float: left;}
body.rtl .rokminievents-wrapper .arrows-on .timeline {margin-right: 0;margin-left: 45px;}
body.rtl .rokminievents-badge .day {margin-right: -9px;}

/* RokStories */
body.rtl .rokstories-layout4 .feature-numbers {left: inherit;text-align: left;right: -15px;}
body.rtl .rokstories-layout4 .desc-container {right: -612px;}

/* RokTwittie */
body.rtl #roktwittie .info {margin-left: 0;margin-right: 58px;}
body.rtl #roktwittie .status .header .avatar {float: right;}
body.rtl #roktwittie .status ul li .title {float: right;text-align: left;}
body.rtl #roktwittie .status ul li .content {margin-left: 0;margin-right: 66px;}
body.rtl #roktwittie .user .feed a {float: right;padding-right: 0;padding-left: 20px;}
body.rtl #roktwittie .roktwittie-avatar {margin-right: 0;margin-left: .5em;float: right;padding-right: 8px;}
body.rtl #roktwittie div.roktwittie-infos .roktwittie-date {float: left;}
body.rtl #roktwittie .roktwittie-surround {padding-left: 0;padding-right: 5px;margin-left: 0 !important;}
body.rtl #roktwittie .roktwittie-t1 {left: inherit;right: -16px;background-position: 0 -19px !important;}
body.rtl #roktwittie div.roktwittie-text {margin-right: 16px;}