/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Global */
.menutop {z-index:1;}
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}
.menutop li .fusion-submenu-wrapper {float: none;left: -999em;position: absolute;z-index: 500;}
.menutop li:hover li ul, .menutop li.sfHover li ul {top: -999em;}
.menutop li:hover ul, .menutop li.sfHover ul {top: 0;}

/* Root Items */
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;z-index: 1;}
.menutop li.root {float: left;margin: 0;padding: 0;transition: background-color 0.2s linear;}
.menutop li.root > .item {white-space: nowrap;display: block;font-size: 1.1em;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0;outline: none;font-weight: normal;height: 75px;line-height: 82px;}
.menutop li.root > span.item {cursor: default;}
.menutop li.root .subtext {line-height: 64px;}
.menutop li.root > .item span {display: block;outline: none;width: auto;padding: 0 14px;}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon {width: 8px;height: 7px;position: absolute;right: 7px;top: 37px;padding: 0;background-position: 0 -198px;background-repeat: no-repeat;}
.menutop > li.active.root .daddy.item .daddyicon, .menutop li.root.f-mainparent-itemfocus .daddy.item .daddyicon, .menutop li.f-mainparent-itemfocus .daddy.item .daddyicon {top: 33px;}
.menutop li.f-main-parent.root .item span {padding-right: 22px;}
.menutop li.root > .item em {font-size: 10px;display: block;font-style: normal;line-height: 100%;text-align: left;text-transform: none;letter-spacing: normal;margin-top: -22px;}
.menutop li.root > .item img {margin: 32px 10px 19px 0px;}
.menutop li.root > .f-submenu-pad {padding: 0;}
.menutop li.active.root > .item span, .menutop li.root:hover > .item span, .menutop li.f-mainparent-itemfocus > .item span {background-position: 50% 100%;background-repeat: no-repeat;}
.menutop > li.active.root .item.subtext, .menutop li.root.f-mainparent-itemfocus .item.subtext, .menutop li.f-mainparent-itemfocus .item.subtext, .rt-menubar .menutop > li:hover .item.subtext, .rt-menubar .menutop > li.active .item.subtext {line-height: 57px;}
.menutop > li.active.root .item.subtext em, .menutop li.root.f-mainparent-itemfocus .item.subtext em, .menutop li.f-mainparent-itemfocus .item.subtext em, .rt-menubar .menutop > li:hover .item.subtext em, .rt-menubar .menutop > li.active .item.subtext em {margin-top: -18px;}
.menutop > li.active.root .item img, .menutop li.root.f-mainparent-itemfocus .item img, .menutop li.f-mainparent-itemfocus .item img, .rt-menubar .menutop > li:hover .item img, .rt-menubar .menutop > li.active .item img {margin: 29px 10px 19px 0px;}

/* Dropdown Surrounds */
.menutop .f-submenu-pad {padding: 0 6px;}
.menutop ul {padding: 0;margin: 0;float: left;}
.menutop .drop-bot {height: 1px;overflow: hidden;clear: both;}
.menutop .fusion-submenu-wrapper {height: auto !important;padding: 10px 0 0;border-radius: 3px;}
.menutop .fusion-submenu-wrapper.level2 {border-radius: 0 0 3px 3px;border-top: none;}

/* Dropdown Items */
.menutop ul li {display: block;background-position: 6px 17px;background-repeat: no-repeat;}
.menutop ul li > .item {padding: 3px 5px;height: auto;display: block;font-size: 1em;line-height: 100%;font-weight: normal;letter-spacing: normal;}
.menutop ul li > .item:hover span, .menutop ul li.active > .item span, .menutop ul li.f-menuparent-itemfocus > .item span {margin: 0;}
.menutop li > .bullet {padding-left: 10px;}
.menutop li .item img {float: left;margin: 0px 6px 0px 0;vertical-align: top;}
.menutop li > .item span {padding: 7px;display: block;width: auto;transition: background 0.2s linear;}
.menutop ul li .nolink span {display: block;}
.menutop li a.item {cursor: pointer;}
.menutop li span.item {cursor: default;outline: none;}
.menutop ul li .subtext em {line-height: 14px;}
.menutop ul li > .fusion-modules.item:hover {background: none;border-top: none;margin: 0;box-shadow: none;}
.menutop ul .readon span {width: auto;}
.menutop ul li > .daddy span {background-position: 95% 10px;background-repeat: no-repeat;}

/* No JS */
.menutop li.root:hover > .fusion-submenu-wrapper {top: 65px;left: 0;}
.menutop ul li:hover > .fusion-submenu-wrapper {left: 180px;top: -8px;}

/* Fusion JS */
.fusion-js-container {display: block;height: 0;left: 0;overflow: visible;position: absolute;top: 0;z-index: 600000!important;background: transparent !important;}
.fusion-js-subs {display: none;margin: 0;overflow: hidden;padding: 0;position: absolute;}

/* Grouped & Modules */
.fusion-grouped {padding-bottom: 10px;padding-left: 15px;}
.fusion-grouped ol {padding: 0;}
.menutop .fusion-grouped ol li .item {padding: 4px 15px;}
.fusion-grouped ol li span {font-size: 11px;padding-left: 10px;}
.menutop .fusion-grouped ol li {margin-left: 0;padding: 0;background-image: none;}
.menutop .type-module ol {padding: 0;background-image: none;}
.menutop .type-module ol li {padding: 0;}
.menutop .type-module ol li .fusion-modules {background: none;}
.menutop .type-module ol li .fusion-module {padding: 0;background: none;overflow: hidden;}
.menutop .fusion-module, .menutop .fusion-modules, .menutop .fusion-grouped {display: block;}
.menutop .fusion-module em {display: inline;font-size: inherit;font-style: italic;}
.menutop .fusion-module a {font-size: inherit;line-height: 130%;}
.menutop .fusion-module p {line-height: 160%;}
.menutop li.root:hover span, .menutop ul li.grouped-parent > .daddy span {background-image: none;}
.fusion-module.module-padding {padding: 10px;}