/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Reminder:  320 / 480 */
body {word-wrap: break-word;}
body .rt-container {background: transparent;}
body h1 {border-bottom: 0;}
a {-webkit-transition: color 0 ease-out;}
body.rt-normal #form-login .inputbox, body.rt-flipped #form-login .inputbox {width: 100px !important;}
body.rt-normal #rt-header #form-login-remember, body.rt-flipped #rt-header #form-login-remember {position:relative;margin-top:10px;top:0;}
body .rt-navigation-bar {background: transparent;}
body .logo-block {margin:0 auto 20px;padding: 0 10px 10px;}
body #rt-header {padding: 0 !important;}
body.rt-normal #rt-bg-image, body.rt-flipped #rt-bg-image {-webkit-background-size: 360px auto;}
body.rt-right #rt-bg-image, body.rt-left #rt-bg-image {-webkit-background-size: 480px auto;}
body .cols4 .rg-gm-slice-list li {width: 50%;}
body #rt-feature {margin: 0;border-radius: 0;}
body #rt-utility .rt-block {margin: 5px 0;padding: 0;}
body #rt-showcase-surround2 {padding-bottom:0;}
body .component-block {border-radius: 0;}
body .feature-offset #rt-main {padding-top: 0;}
body #rt-showcase .rt-container .rt-block {margin: inherit !important;background: inherit !important;text-shadow: inherit !important;-webkit-border-radius: 0;boder-radius: 0;box-shadow: 0;-webkit-box-shadow: 0;}
body .rt-block {padding: 0 10px;}
body .component-content .rt-article.date-padding {padding-left: 50px;}
body .component-content .rt-date-posted {left: -10px;}
body #rt-page-surround {margin: 0;padding: 0 5px 25px 5px;}
body .component-block {box-shadow: none !important;-webkit-box-shadow: none !important;}
body #rt-top2 {min-height: 15px;}
body #rt-footer .rt-block {padding: 10px;}
body #developed-by a, body #powered-by a {margin: 0 auto;height: 26px;vertical-align: middle;}
body #rt-header #form-login ul {position:relative;top:0;margin-top:10px;}
#form-login fieldset p {margin:0;}
#rt-logo {margin: 10px auto 0 !important;background: none !important;}
body #developed-by a {height: 16px;}
#rocket {float: none;}

/* RokTabs */
body .roktabs-wrapper {margin:-20px;}
body .roktabs-wrapper .roktabs-container-wrapper {width:auto;}
body .roktabs-wrapper .roktabs-links {overflow: hidden !important;width: auto !important;height: auto !important;position: relative;z-index: 1;}
body .roktabs-wrapper .roktabs-links ul {height: 100% !important;overflow: inherit !important;}
body .roktabs-wrapper .roktabs-links ul li {height: auto !important;}
body .roktabs-wrapper .roktabs-links ul li span {line-height: auto !important;}

/* Joomla */
body .weblinks .rt-wordpress-table img {width: 16px;height: 16px;}
.component-content .edit img {display: none;}

/* Demo */
body .floatleft, body .jan12-home .roktabs-container-wrapper .wrapper .floatleft {margin-right: 0 !important;}
body .demo-tabs > .clear, body .demo-tabs > br {display:none;}
body .medmargintop {margin-top: 0 !important;}
body .rt-center {margin-top: 10px !important;margin-right: 5px !important;margin-left: 5px !important;}
body.rt-normal .demo-tabs img, body.rt-flipped .demo-tabs img {width: 130px !important;height: 100.97087378640776px !important;}
body.rt-left .demo-tabs img, body.rt-right .demo-tabs img {width: 210px !important;height: 163.10679611650485px !important;}
.main-body-light .rt-image, .main-body-dark .rt-image {margin: 0 5px !important;}
img[src$="fp-mainbody-1.jpg"] {width: 260px !important;margin-bottom: 15px !important;}
body .title5.floatleft {float: none !important;}