/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Body */
body, #rt-header, #rt-copyright {color: #6E6E6E;}
#rt-container-bg {box-shadow:0 0 2px rgba(0, 0, 0, 0.2);background-color: #F6F6F6;}

/* Main Body */
#rt-main #rt-content-bottom {border-top: 1px solid #C8C8C8;}
#rt-main #rt-content-top {border-bottom: 1px solid #C8C8C8;}
.mb7-sa5 {background: url(../images/main/light/columns/mb7-sa5.png) 50% 0 repeat-y;}
.sa5-mb7 {background: url(../images/main/light/columns/sa5-mb7.png) 50% 0 repeat-y;}
.mb8-sa4 {background: url(../images/main/light/columns/mb8-sa4.png) 50% 0 repeat-y;}
.sa4-mb8 {background: url(../images/main/light/columns/sa4-mb8.png) 50% 0 repeat-y;}
.mb9-sa3 {background: url(../images/main/light/columns/mb9-sa3.png) 50% 0 repeat-y;}
.sa3-mb9 {background: url(../images/main/light/columns/sa3-mb9.png) 50% 0 repeat-y;}
.mb6-sa6, .sa6-mb6 {background: url(../images/main/light/columns/mb6-sa6.png) 50% 0 repeat-y;}
.mb4-sa4-sb4, .sa4-mb4-sb4, .sa4-sb4-mb4 {background: url(../images/main/light/columns/mb4-sa4-sb4.png) 50% 0 repeat-y;}
.mb6-sa3-sb3 {background: url(../images/main/light/columns/mb6-sa3-sb3.png) 50% 0 repeat-y;}
.mb8-sa2-sb2 {background: url(../images/main/light/columns/mb8-sa2-sb2.png) 50% 0 repeat-y;}
.sa3-mb6-sb3 {background: url(../images/main/light/columns/sa3-mb6-sb3.png) 50% 0 repeat-y;}
.sa2-mb8-sb2 {background: url(../images/main/light/columns/sa2-mb8-sb2.png) 50% 0 repeat-y;}
.sa3-sb3-mb6 {background: url(../images/main/light/columns/sa3-sb3-mb6.png) 50% 0 repeat-y;}
.sa2-sb2-mb8 {background: url(../images/main/light/columns/sa2-sb2-mb8.png) 50% 0 repeat-y;}
.mb3-sa3-sb3-sc3, .sa3-mb3-sb3-sc3, .sa3-sb3-mb3-sc3, .sa3-sb3-sc3-mb3 {background: url(../images/main/light/columns/mb3-sa3-sb3-sc3.png) 50% 0 repeat-y;}
.mb4-sa2-sb3-sc3 {background: url(../images/main/light/columns/mb4-sa2-sb3-sc3.png) 50% 0 repeat-y;}
.mb4-sa3-sb2-sc3 {background: url(../images/main/light/columns/mb4-sa3-sb2-sc3.png) 50% 0 repeat-y;}
.mb4-sa3-sb3-sc2 {background: url(../images/main/light/columns/mb4-sa3-sb3-sc2.png) 50% 0 repeat-y;}
.mb6-sa2-sb2-sc2 {background: url(../images/main/light/columns/mb6-sa2-sb2-sc2.png) 50% 0 repeat-y;}
.sa3-mb4-sb2-sc3 {background: url(../images/main/light/columns/sa3-mb4-sb2-sc3.png) 50% 0 repeat-y;}
.sa2-mb4-sb3-sc3 {background: url(../images/main/light/columns/sa2-mb4-sb3-sc3.png) 50% 0 repeat-y;}
.sa3-mb4-sb3-sc2 {background: url(../images/main/light/columns/sa3-mb4-sb3-sc2.png) 50% 0 repeat-y;}
.sa2-mb6-sb2-sc2 {background: url(../images/main/light/columns/sa2-mb6-sb2-sc2.png) 50% 0 repeat-y;}
.sa3-sb2-mb4-sc3 {background: url(../images/main/light/columns/sa3-sb2-mb4-sc3.png) 50% 0 repeat-y;}
.sa2-sb3-mb4-sc3 {background: url(../images/main/light/columns/sa2-sb3-mb4-sc3.png) 50% 0 repeat-y;}
.sa3-sb3-mb4-sc2 {background: url(../images/main/light/columns/sa3-sb3-mb4-sc2.png) 50% 0 repeat-y;}
.sa2-sb2-mb6-sc2 {background: url(../images/main/light/columns/sa2-sb2-mb6-sc2.png) 50% 0 repeat-y;}
.sa3-sb3-sc2-mb4 {background: url(../images/main/light/columns/sa3-sb3-sc2-mb4.png) 50% 0 repeat-y;}
.sa3-sb2-sc3-mb4 {background: url(../images/main/light/columns/sa3-sb2-sc3-mb4.png) 50% 0 repeat-y;}
.sa2-sb3-sc3-mb4 {background: url(../images/main/light/columns/sa2-sb3-sc3-mb4.png) 50% 0 repeat-y;}
.sa2-sb2-sc2-mb6 {background: url(../images/main/light/columns/sa2-sb2-sc2-mb6.png) 50% 0 repeat-y;}

/* Article */
.component-content .rt-articleinfo-text {background-color: #EBEBEB;border: 1px solid #C8C8C8;box-shadow: 0 1px 2px rgba(0,0,0,0.1);text-shadow: 1px 1px 1px #FFF;}
.component-content .rt-articleinfo-text2 {border: 1px solid #FFF;}
.component-content .rt-article-icons .print-icon a , .component-content .rt-article-icons .email-icon a, .component-content .rt-article-icons .edit-icon a  {background-image: url(../images/main/light/article-icons.png);}
.component-content .rt-article-icons ul li a {background-color: #333;}

/* Logo */
#rt-logo #logo-inner {background-image: url(../images/logo/light/logo.png);}
#rt-logo {background: none;}

/* Buttons and Inputs */
.readon {background-image: url(../images/main/light/readon.png);}
.readon span, .readon .button {background-image: url(../images/main/light/readon-plus.png);color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);}
.rokradios, .rokchecks, .rokradios-active, .rokchecks-active {background-image: url(../images/main/light/rokinputs.png);}
.inputbox, textarea, .rt-wordpress .contact input.required, .rt-wordpress .contact textarea.required, .rt-wordpress .user .inputbox {-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.inputbox:focus, textarea:focus, .rt-wordpress .contact input.required:focus, .rt-wordpress .contact textarea.required:focus, .rt-wordpress .user .inputbox:focus {border-color: rgba(82, 168, 236, 0.8); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, .rt-wordpress .contact input.required, .rt-wordpress .contact textarea.required, .rt-wordpress .user .inputbox, .rt-wordpress #jc #respond textarea, .rt-wordpress #jc #respond input.inputbox, .rt-wordpress .rt-contactform #rt-contact-form textarea#rt-contact-message, .rt-wordpress .rt-contactform #rt-contact-form input#rt-contact-name, .rt-wordpress .rt-contactform #rt-contact-form input#rt-contact-email {border: 1px solid #ccc;}
.rt-wordpress .contact .inputbox:focus, #com-form-login .inputbox:focus, #josForm .inputbox:focus, .search_result .inputbox:focus {border-color: #a1a1a1;transition: border-color 0.25s ease-in-out;}

/* Module Variations */
.title {color: #444;}
.title1 .arrow-box {background-image: url(../images/main/light/arrows.png);}
.title2 .arrow-box {background-color: #333;background-image: url(../images/main/light/arrows.png);}
.title5 .module-title {border-bottom: 1px solid #FFF;}
.title5 .title {border-bottom: 1px solid #C8C8C8;}
.title3 .arrow-box {background-color: #ccc;background-image: url(../images/main/light/arrows.png);}
.title4 .arrow-box {background-color: #fff;background-image: url(../images/main/light/arrows.png);box-shadow: 0 0 2px rgba(0,0,0,0.3);}
.box1, .box2 .rt-block {border: 1px solid #FFF;color: #333;text-shadow: 1px 1px 1px #fff;}
.box1 .rt-block {border: 1px solid #C8C8C8;background-color: #FFF;}
.box1 .rt-block a:hover {color: #000;}
.box2 .module-surround {border: 1px solid #C8C8C8;background: url(../images/main/light/navigation-bg.png) repeat-x scroll 0 -96px;}
.taper-shadow-m {background: url(../images/main/light/taper-shadow-m.png) 50% 0 repeat-x;}
.taper-shadow-l {background: url(../images/main/light/taper-shadow-l.png) 0 0 no-repeat;}
.taper-shadow-r {background: url(../images/main/light/taper-shadow-r.png) 100% 0 no-repeat;}
.box3 {color: #fff;}
.box3, .box5 .rt-block, .box6 .rt-block, .box7 .rt-block {border: 1px solid #FFF;}
.box3 a {opacity: 0.7;color: #FFF;}
.box3 a:hover {opacity: 1;}
.box3 .module-title .title span {color: #FFF;opacity: 0.7;}
.box4 .rt-block {background: #333 url(../images/overlays/top-overlay.png);color: #ACACAC;text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);}
.box4 .rt-block a:hover {color: #fff;}
.box4 .module-title .title {color: #ACACAC;}
.box5 .module-surround {background: #eaeaea url(../images/main/light/backgrounds/squares.png);border: 1px solid #C8C8C8;color: #333;}
.box6 .module-surround {background: #e2e2e2 url(../images/main/light/backgrounds/noise.png);border: 1px solid #C8C8C8;color: #333;}
.box7 .module-surround {background: #e2e2e2 url(../images/main/light/backgrounds/textile.png);border: 1px solid #C8C8C8;color: #333;}

/* Breadcrumbs */
.breadcrumbs img[src $="arrow.png"] {background-image: url(../images/main/light/arrows.png);}

/* Tags */

.rt-post .rt-tags {border: 1px dotted #C8C8C8;background: #F0F0F0;}
.rt-post .rt-tags .rt-block a, .widget_tag_cloud .tagcloud a {background-color:#ECECEC;border: 1px solid #D0D0D0;background-image: url(../images/main/light/roknewspager-border.png);color: #777777;}
.rt-post .rt-tags .rt-block a:hover, .widget_tag_cloud .tagcloud a:hover {background-image: url(../images/main/light/readon.png);color: white;text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);background-position: 0 0;border-color: transparent;}

/* Comments */

#jc {background: url(../images/main/light/backgrounds/squares.png);border: 5px solid #fff;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
#jc #comments .comments-list .comment {background: url(../images/main/light/double-border.png) bottom repeat-x;}

/* Typography */
#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a, ul.newsfeed li a, .component-content .user ul li a {background-image: url(../images/main/light/arrows.png);}

/* Top */
#rt-top2 {background: #333 url(../images/overlays/top-overlay.png);color: #ACACAC;text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);padding: 0 1px;}
#rt-top a:hover {color: #fff;}
#rt-top .module-title .title {color: #ACACAC;}

/* Header */
#rt-header {border-bottom: 1px solid #C8C8C8;background: #EDEDED;}
#rt-header .rt-container {border-bottom: 1px solid #FFF;}

/* Navigation */
.menutop a, .menu a {color: #555;}
#rt-navigation, #rt-subnavigation {border-bottom: 1px solid #C8C8C8;box-shadow: 0 1px 4px rgba(0,0,0,0.1);}
#rt-navigation .rt-container {border-bottom: 1px solid #FFF;background-color: #EDEDED;}
#rt-navigation .menutop {background: #EDEDED url(../images/main/light/navigation-bg.png) repeat-x;}
#rt-navigation {border-top: 1px solid #FFF;}
#rt-subnavigation .rt-container {border-bottom: 1px solid #FFF;}
.menutop > li.active, .menutop li.root:hover, .menutop li.f-mainparent-itemfocus, .menutop > li:hover {border-top: 4px solid #222;background: #EDEDED url(../images/main/light/navigation-bg.png) repeat-x scroll 0 100%;box-shadow: inset 0 3px 7px rgba(0,0,0,0.2);}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {background-color: #E1E1E1;border-top: 1px solid #C8C8C8;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset;}
.menutop > li.active a, .menutop li.root:hover a, .menutop li.f-mainparent-itemfocus a {border-bottom: 1px solid #FFF;}
.menutop li.root .item, .rt-menubar .menutop li .item {border-left-color: #C8C8C8;border-right-color: #C8C8C8;border-top: 1px solid #FFF;}
.fusion-submenu-wrapper {background-color: #EDEDED;box-shadow: 1px 2px 4px rgba(0,0,0,0.3);border-left: 1px solid #FFF;border-right: 1px solid #FFF;border-bottom: 1px solid #FFF;}
.menutop li.parent.f-mainparent-itemfocus .item {border-bottom: 2px solid #EDEDED;margin: 0 0 -2px;}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon, .menutop ul li > .daddy span, .module-content ul.menu li.parent li a span, .module-content ul.menu li.parent li .item span, .module-content ul.menu li.parent li .separator span {background-image: url(../images/main/light/arrows.png);}
.module-content ul.menu li.parent li a span, .module-content ul.menu li.parent li .item span, .module-content ul.menu li.parent li .separator span {color: #555555;}
#rt-main-container .module-content ul.menu > li:first-child {border-top: 1px solid #C8C8C8;}
#rt-main-container .module-content ul.menu > li {border-bottom: 1px solid #C8C8C8;}
#rt-main-container .module-content ul.menu > li:hover > a span, #rt-main-container .module-content ul.menu > li.active > a span, #rt-main-container .module-content ul.menu > li:hover > .separator span {color: #FFF;background-image: url(../images/main/light/sidebar-arrows.png);}
#rt-main-container .module-content ul.menu > li:hover > a, #rt-main-container .module-content ul.menu > li:hover > .separator, #rt-main-container .module-content ul.menu > li.active > a {box-shadow: 0 0 5px rgba(0,0,0,0.3) inset;}
.sidebar-right .module-content ul.menu {background-color: #EAEAEA;background-image: url(../images/main/light/sidemenu-right-shadow.png);}
.sidebar-left .module-content ul.menu {background-color: #EAEAEA;background-image: url(../images/main/light/sidemenu-left-shadow.png);}

/* Showcase */
#rt-showcase {border-bottom: 1px solid #FFF;}
#rt-showcase .rt-container {border-bottom: 1px solid #C8C8C8;}

/* Feature */
#rt-feature {border-bottom: 1px solid #FFF;}
#rt-feature .rt-container {border-bottom: 1px solid #C8C8C8;}

/* Main Top */
#rt-maintop {border-bottom: 1px solid #FFF;}
#rt-maintop2 {border-bottom: 1px solid #C8C8C8;}

/* Utility */
#rt-utility {border-bottom: 1px solid #FFF;}
#rt-utility2 {border-bottom: 1px solid #C8C8C8;}

/* Breadcrumbs */
#rt-breadcrumbs {border-bottom: 1px solid #C8C8C8;}
#rt-breadcrumbs2 {border-bottom: 1px solid #FFF;}

/* Main Bottom */
#rt-mainbottom {border-top: 1px solid #C8C8C8;}
#rt-mainbottom2 {border-top: 1px solid #FFF;}

/* Copyright */
#rt-copyright {background-color: #F6F6F6;border-top: 1px solid #C8C8C8;}

/* Extras */
#rt-accessibility .large .button, #rt-accessibility .small .button {background-image: url(../images/main/light/textsize-arrows.png);}
#gantry-totop {background-color: #333;background-image: url(../images/main/light/totop-arrow.png);}
.component-content .rt-more-articles {border: 1px solid #FFF;}
.component-content #more-articles {border: 1px solid #C8C8C8;background-color: #EDEDED;background-image: url(../images/main/light/navigation-bg.png);}
#rocket {background: url(../images/main/light/rocket.png) no-repeat;}
.tip-wrap {border: 1px solid #C8C8C8;background-color: #EDEDED;}
p.dropcap6:first-letter, p.dropcap7:first-letter, em.highlight {color: #fff;}