/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}

/* Root Items */
.menutop {list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;z-index: 1;}
.menutop li {float: left;margin: 0;padding: 0;}
.menutop li .item {white-space: nowrap;display: block;font-size: 1.1em;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0;outline: none;font-weight: normal;height: 75px;line-height: 82px;}
.menutop li .item span {display: block;outline: none;width: auto;padding: 0 14px;}
.menutop li .item em {font-size: 10px;display: block;font-style: normal;line-height: 100%;text-align: left;margin-top: -22px;text-transform: none;}
.menutop li .subtext {line-height: 64px;}
.menutop li.parent .item span {background-position: 92% -341px;background-repeat: no-repeat;}
.menutop li.active.parent .item span {background-position: 92% -529px;}
#rt-navigation .menutop li:hover span {background-color: transparent;}
.menutop > li.active .item.subtext, .menutop li.root.f-mainparent-itemfocus .item.subtext, .menutop li.f-mainparent-itemfocus .item.subtext, .rt-menubar .menutop > li:hover .item.subtext, .rt-menubar .menutop > li.active .item.subtext {line-height: 58px;}
.menutop > li.active .item.subtext em, .menutop li.root.f-mainparent-itemfocus .item.subtext em, .menutop li.f-mainparent-itemfocus .item.subtext em, .rt-menubar .menutop > li:hover .item.subtext em, .rt-menubar .menutop > li.active .item.subtext em {margin-top: -19px;}

/* Subnavigation */
#rt-subnavigation .rt-menubar {display: block;margin: 0;float: right;border-radius: 0;position: relative;background: none;border: 0;}
#rt-subnavigation .menu {list-style: none;margin: 0;padding: 2px 0;position: relative;line-height: 1.8em;overflow: hidden;right: 0;}
#rt-subnavigation .menu li {float: left;margin: 0;padding: 0;background-position: 0 50%;background-repeat: no-repeat;}
#rt-subnavigation .menu li .item {white-space: nowrap;display: block;font-size: 13px;z-index: 100;cursor: pointer;position: relative;padding: 7px 0 5px;margin: 0 4px;outline: none;font-weight: normal;text-transform: none;}
#rt-subnavigation .menu li .item span {display: block;outline: none;padding: 0 8px;width: auto;position: relative;}
#rt-subnavigation .menu li .item em {font-size: 10px;display: block;font-style: normal;text-transform: uppercase;line-height: 100%;text-align: center;margin-top: -2px;}
#rt-subnavigation .menu li .subtext {line-height: 16px;}
#rt-subnavigation .menu li.active .subtext {line-height: 16px;}
#rt-subnavigation .menu li.active .subtext em {margin-top: -2px;}
#rt-subnavigation .menu li.active > .subtext span {background-position: 50% 105%;}
#rt-subnavigation .menu li .item span {border-radius: 6px;}

/* RTL */
body.rtl .menutop li {float: right;}
body.rtl .menutop li .item em {text-align: right;}
body.rtl #rt-subnavigation .rt-menubar {float: left;}
body.rtl .menutop li.parent .item span {padding-left: 22px;padding-right: 14px;}
body.rtl .menutop li.active.parent .item span {background-position: 8% -529px;}
body.rtl .menutop li.parent .item span {background-position: 8% -341px;}