/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Article Details */
.component-content .rt-articleinfo-text2 {padding: 3px 5px;}

/* Modules */
.module-title .title br {display: none;}
.module-content ul.menu a, .module-content ul.menu .separator, .module-content ul.menu .item {display: inline-block;vertical-align: middle;text-indent: 0;}
.module-content ul.menu .image img {margin-left: -10px;margin-right: 6px;}
.module-content ul.menu .subtext em {padding-left: 0;}
.module-content ul.menu .image em {padding-left: 14px;}
.inputstyling-enabled-1 .rt-pollrow input {left: 0 !important;visibility: hidden;}

/* RokTwittie */
body #roktwittie li {overflow: hidden;}

/* Transitions */
a, .readon .button {-o-transition: color 0.2s linear;}
.roktabs-wrapper .roktabs-links ul li span, #rt-subnavigation .menu li .item span, .fusion-submenu-wrapper li > .item span, .feature-number-sub {-o-transition: background 0.2s linear;}

/* Transitions */
a, .readon .button {-o-transition: color 0.2s linear;}
.roktabs-wrapper .roktabs-links ul li span, #rt-subnavigation .menu li .item span, .fusion-submenu-wrapper li > .item span, .feature-number-sub, .roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev, .roktabs-wrapper .roktabs-links ul li, #gantry-totop, .component-content #more-articles {-o-transition: background 0.2s linear;}
.component-content .rt-article-icons .icon {-o-transition: opacity 0.3s ease-out;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {-o-transition: background 0.2s linear;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {-o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;}
.rokgallery-wrapper .rg-gm-slice:before {-o-transition: opacity 0.2s ease-in;}

/* RokGallery */
.rg-grid-view .rg-grid, .rg-list-view .rg-list, .rg-gm-slice, .module-content ul.menu li a:hover, .module-content ul.menu li .separator:hover, .module-content ul.menu li .item:hover {background: rgba(255,255,255,0);}

/* RTL */
body.rtl .rokradios, body.rtl .rokradios-active, body.rtl .rokchecks, body.rtl .rokchecks-active {display: inline-block;}
body.rtl .rt-pollrow .rokradios, body.rtl .rt-pollrow .rokradios-active, body.rtl .rt-pollrow .rokchecks, body.rtl .rt-pollrow .rokchecks-active {margin-right: 2px;}
body.rtl #form-login ul, body.rtl #com-form-login ul, body.rtl ul.rt-more-articles, body.rtl .rt-section-list ul {direction: ltr;text-align: right;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {display: block;}

/* Demo Presets */
body .menutop .type-module ol li .fusion-module {overflow: visible;}
.menu-preset a img {-o-transition: all 0.3s ease-in-out;-o-animation-iteration-count: 1;position:relative;z-index:3000;-o-transform: scale(1); cursor:pointer;}
.menu-preset a:hover img {-o-transition: all 0.3s ease-in-out;-o-animation-iteration-count: 1;position:relative;z-index:3000;-o-transform: scale(1.1); cursor:pointer;}

/* Additional Fixes */
.roktabs-wrapper .roktabs-links ul li span {-o-user-select: none;}