/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Core */
html {margin-bottom: 1px;height: 100%;}
body, .button {/* height: 100%; */margin-bottom: 1px;font-family: Helvetica,Arial,sans-serif;}
body.component-body {min-width: 320px;}
a {font-weight: bold;transition: color 0.2s ease-out;}
h1, h2, .module-title h2, h3, h4, h5, .component-content .title {/* line-height: inherit; */letter-spacing: inherit;margin: 0 0 25px;}
h5 {text-transform: uppercase;font-size: 100%;}
.rt-container, #rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {background: transparent;}
.rt-container, .rt-block {position: relative;}
.rt-block {margin: 15px 0;}
ul {list-style-image: none;}
ul.menu {padding-left: 0;}
#rt-content-top, #rt-content-bottom {clear: both;overflow: visible;}
#rt-debug {padding-top: 20px;position: relative;}

/* Fonts */
@font-face {font-family: 'RobotoRegular';src: url('../fonts/roboto-regular-webfont.eot');src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto-regular-webfont.woff') format('woff'),url('../fonts/roboto-regular-webfont.ttf') format('truetype'),url('../fonts/roboto-regular-webfont.svg#RobotoRegular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'RobotoBold';src: url('../fonts/roboto-bold-webfont.eot');src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto-bold-webfont.woff') format('woff'),url('../fonts/roboto-bold-webfont.ttf') format('truetype'),url('../fonts/roboto-bold-webfont.svg#RobotoBold') format('svg');font-weight: normal;font-style: normal;}
.font-family-clarion .module-title .title, .font-family-clarion #rt-showcase .title, .font-family-clarion .menutop li > .item, .font-family-clarion .readon span, .font-family-clarion .readon .button, .font-family-clarion .rt-articleinfo, .font-family-clarion .promo .feature, .font-family-clarion #roktwittie .status .header .name, .font-family-clarion .rt-date-feature span, .font-family-clarion #rt-login-button .buttontext, .font-family-clarion #rt-popup-button .buttontext, .font-family-clarion #rt-accessibility .rt-desc, .font-family-clarion #roktwittie .status .header .name,.font-family-clarion .roknewspager .roknewspager-title, .font-family-clarion #rt-showcase .roktabs-container-wrapper h3, .font-family-clarion #rt-showcase .roktabs-links ul li span, .font-family-clarion .ft-row-top .featuretable-cell-data, .font-family-clarion #rt-popuplogin .title {font-family: RobotoRegular,Helvetica,Arial,sans-serif;}
.readonstyle-link.font-family-clarion .readon {font-family: inherit;}

.font-family-tahoma {font-family: Tahoma,Helvetica,Arial,sans-serif;font-weight: normal;}
.font-family-helveticaneue {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: normal;}
body.font-size-is-xlarge {font-size: 15px;line-height: 1.6em;}
body.font-size-is-large {font-size: 14px;line-height: 1.6em;}
body.font-size-is-default {font-size: 13px;line-height: 1.6em;}
body.font-size-is-small {font-size: 12px;line-height: 1.6em;}
body.font-size-is-xsmall {font-size: 11px;line-height: 1.6em;}

/* Container */
#rt-container-bg, #rt-container-bg2 {border-radius: 0 0 7px 7px;}
#rt-container-bg {margin: 0 -2px 10px;}

/* Top */
#rt-top .rt-block {margin: 5px 0;padding: 5px 10px;}
#rt-top ul.menu {padding: 0 15px;}
#rt-top2 {margin: 0 -1px;}

/* Logo */
#rt-logo {display: block;width: inherit;height: inherit;margin: 0;position: relative;}
.centered #rt-logo {margin: 0 auto;}
.logo-block {margin: 7px 0;padding: 0;}
#logo-color {/* width: 43px;height: 43px;position: absolute;left: 14px;top: 8px; */display: none;}
#logo-inner {display: block;position: absolute;width: 190px;height: 60px;}

/* Navigation */
.rt-menubar {display: block;position: relative;margin: 0 0 -1px;float: right;}
.rt-splitmenu .rt-menubar {float: right;}
.menu-block {margin: -1px 0 0;padding: 0;}
#rt-subnavigation {background-position: 50% 100%;background-repeat: repeat-x;overflow: hidden;margin: -2px 0 0;}
.menutop > li.active.root .item, .menutop li.root.f-mainparent-itemfocus .item, .menutop li.f-mainparent-itemfocus .item, .rt-menubar .menutop > li:hover .item, .rt-menubar .menutop > li.active .item {line-height: 75px;height: 70px;}
.menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop ul li.active > .item, .menutop li.active.f-menuparent-itemfocus > .item {margin: -1px -2px 0 0;transition: background 0.3s ease-in-out, color 0.3s ease-in-out;}
.rt-menubar li, .module-content ul.menu li {text-transform: uppercase;}
#rt-navigation .rt-fusionmenu, #rt-navigation .rt-splitmenu {margin: 0 -10px 0;}
.menutop li.root .item, .rt-menubar .menutop li .item {border-left-style: solid;border-right-style: solid;border-left-width: 1px;border-right-width: 0;}

/* Main Body */
.rt-sidebar-surround {margin: 0 -10px;}
#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c {padding: 0 10px;min-height: 340px;}

/* Modules */
.module-title .title {font-size: 1.4em;line-height: 1.5em;font-weight: normal;margin: 0;padding: 0 0 4px;text-transform: uppercase;font-weight: 500;}
.module-title {margin-bottom: 15px;}

/* Module Variations - Title */
.title1 .title, .title2 .title, .title3 .title, .title4 .title {padding: 2px 7px 2px 25px;font-size: 1.2em;}
.title1 .arrow-box, .title2 .arrow-box, .title3 .arrow-box {width: 16px;height: 16px;margin-top: 6px;float: left;background-position: 6px -573px;background-repeat: no-repeat;border-radius: 2px;}
.title3 .arrow-box, .title4 .arrow-box {width: 16px;height: 16px;margin-top: 6px;float: left;background-position: 6px -382px;background-repeat: no-repeat;border-radius: 2px;}
.box1 {margin: 15px 0;border-radius: 2px;}
.box1 .rt-block, .box3 .rt-block {margin: 0;border-radius: 2px;}
#rt-top .box1 {margin: 5px 0;}
#rt-top .box1 .rt-block {margin: 0;}
.box2 .module-surround, .box5 .module-surround, .box6 .module-surround, .box7 .module-surround {padding: 10px;border-radius: 2px;}
.box2 .rt-block, .box5 .rt-block, .box6 .rt-block, .box7 .rt-block {padding: 0;border-radius: 2px;}
.taper-shadow-m {height: 12px;margin: -16px 110px 0;}
.taper-shadow-l {height: 12px;margin-left: -111px;}
.taper-shadow-r {height: 12px;margin-right: -109px;}
.box3 .title {border: none;}
.box3, .box4 .rt-block {border-radius: 2px;}
.box1 .roknewspager .active h3, .box2 .roknewspager .active h3, .box4 .roknewspager .active h3 {text-shadow: none;}

/* Module Standard Variations */
.rounded .rt-block {border-radius: 5px !important;}
.square .rt-block {border-radius: 0 !important;}
.basic .rt-block {background: none !important;}
.basic .block-shadow {box-shadow: none !important;}
.standardcase .module-title .title {text-transform: inherit;}
.lowercase .module-title .title {text-transform: lowercase;}
.uppercase .module-title .title {text-transform: uppercase;}
.flush .rt-block {padding: 0;}
.flushtop .rt-block {padding-top: 0;}
.flushbottom .rt-block {padding-bottom: 0;}
#rt-popup, #rt-popuplogin {display: none;}
.shadow2 .rt-block {box-shadow: inset 0 0 3px rgba(0,0,0,0.2);}
.shadow3 .rt-block {box-shadow: inset -1px 1px 3px rgba(0,0,0,0.2);}
.shadow4 .rt-block {box-shadow: inset 1px -1px 3px rgba(0,0,0,0.2);}
.shadow5 .rt-block {box-shadow: inset -1px -1px 3px rgba(0,0,0,0.2);}
.shadow6 .rt-block {box-shadow: 0 0 5px rgba(0,0,0,0.2);}
.shadow7 .rt-block {box-shadow: 1px 1px 3px rgba(0,0,0,0.2);}
.shadow8 .rt-block {box-shadow: -1px 1px 3px rgba(0,0,0,0.2);}
.shadow9 .rt-block {box-shadow: 1px -1px 3px rgba(0,0,0,0.2);}
.shadow10 .rt-block {box-shadow: -1px -1px 3px rgba(0,0,0,0.2);}

/* Article */
.component-content .title {font-size: 2.0em;line-height: 1.2em;font-weight: normal;}
.component-content .title a {font-weight: normal;}
.component-content .articleinfo-bold {font-weight: bold;}
.component-content .module-title {margin: 0 0 15px 0;}

/* Side Menus */
.module-content .rt-menubar {display: block;margin: 0;float: none;position: relative;height: auto;background: none;border: 0;}
.module-content ul.menu li {list-style: none;padding: 0;margin: 0;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {padding: 0;display: block;background-repeat: no-repeat;transition: color 0.2s linear;}
.module-content ul.menu > li a span, .module-content ul.menu > li > .item span, .module-content ul.menu > li > .separator span {padding: 10px 25px;display: block;font-weight: normal;background-repeat: no-repeat;}
.module-content ul.menu li .separator {line-height: 1.8em;}
.module-content ul.menu li:hover a span, .module-content ul.menu li:hover .item span, .module-content ul.menu li:hover .separator span, .module-content ul.menu li.active a span, .module-content ul.menu li.active .item span, .module-content ul.menu li.active .separator span {padding: 10px 27px;margin: 0 -2px;}
.sidebar-right .module-content ul.menu > li:hover > a span, .sidebar-right .module-content ul.menu > li:hover > .separator span, .sidebar-right .module-content ul.menu > li.active > a span, .sidebar-right .module-content ul.menu > li.active > .separator span, .sidebar-right .module-content ul.menu li.active > .item span {background-position: -7px -48px;}
.sidebar-left .module-content ul.menu > li:hover > a span, .sidebar-left .module-content ul.menu > li:hover .separator span, .sidebar-left .module-content ul.menu > li.active > a span, .sidebar-left .module-content ul.menu > li.active > .separator span, .sidebar-left .module-content ul.menu li.active > .item span {background-position: 102% 14px;}
.module-content ul.menu li.parent li a span, .module-content ul.menu li.parent li .item span, .module-content ul.menu li.parent li .separator span {font-size: 13px;padding: 5px 10px 5px 20px;}
.module-content ul.menu ul {padding: 5px 0 10px 15px;margin: 0;}
.module-content ul.menu .subtext em {line-height: 12px;padding-left: 0;}
.module-content ul.menu em {display: block;font-size: 80%;font-style: normal;font-weight: normal;}
.module-content ul.menu .image img {float: left;}
.module-content ul.menu .item.image {background: none;padding-left: 8px;}
.module-content ul.menu .daddyicon, .module-content ul.menu .arrow-indicator {display: none !important;}
.module-content ul.menu li.parent li a span, .module-content ul.menu li.parent li .item span, .module-content ul.menu li.parent li .separator span {background-position: 5px 15px;background-repeat: no-repeat;}
.module-content ul.menu li.parent li a:hover span, .module-content ul.menu li.parent li .item:hover span, .module-content ul.menu li.parent li .separator:hover span, .module-content ul.menu li.parent li.active > a > span, .module-content ul.menu li.parent li.active > .item > span, .module-content ul.menu li.parent li.active > .separator > span {background-position: 5px -371px;}
.sidebar-right .module-content ul.menu {margin: 0 -25px 0 -23px;background-repeat: repeat-y;}
.sidebar-left .module-content ul.menu {margin: 0 -26px 0 -23px;background-repeat: repeat-y;background-position: 99.4% 0;}
ul.menu > li > .separator {font-size: 1.2em;}

/* Buttons and Inputs */
.readon {display: inline-block;margin: 0;padding: 1px 9px 0 1px;overflow: visible;border-radius: 4px;border:0;background-position: 0 0;}
.readon span, .readon .button {display: block;margin: 0;padding: 2px 13px 3px 9px;cursor: pointer;overflow: visible;font-weight: normal;position: relative;white-space: normal;background-color: transparent;border: none;background-position: 100% 50%;background-repeat: no-repeat;border-radius: 4px;font-size: 13px;transition: background-position 0.3s linear;}
.readon:hover {background-position: 0 -185px;}
.readon span span {display: inline;background: none;margin-left: 0;padding: 0;float: none;}
.rokchecks, .rokradios {padding: 3px 0 3px 20px;line-height: 130%;cursor: pointer;}
.rokradios {background-position: -2px 2px;background-repeat: no-repeat;}
.rokradios-active {background-position: -2px -158px;background-repeat: no-repeat;}
.rokchecks {background-position: 0 -340px;background-repeat: no-repeat;}
.rokchecks-active {background-position: 0 -487px;background-repeat: no-repeat;}

/* Typography */
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #rokajaxsearch .inputbox, .component-content .contact .required {position: relative;z-index: 100;padding: 4px;border-radius: 3px;line-height: 18px;font-size: 13px;}
#rt-page-surround .rt-sidebar-surround .inputbox {border: none;}
.component-content .rt-article-icons a {display: block;text-align: center;}
ul.dots {padding: 0;margin: 0 0 15px 0;background: none;}
ul.dots li {list-style: none;padding: 0 0 0 15px;margin: 0 0 8px 0;background-position: 0 7px;background-repeat: no-repeat;}
ul.dots li a {font-size: 1.2em;line-height: 1.3em;}

/* Branding */
#developed-by {overflow: hidden;}
#rocket {display: block;width: 120px;height: 18px;vertical-align: middle;margin: 0;float: right;}

/* Copyright */
#rt-copyright {text-align: inherit;}
#rt-copyright .rt-container {padding: 15px 0 0;}
#rt-copyright .rt-block {margin: 0;padding: 10px 15px;}
.copytext {padding: 0;margin: 0;font-size: 1em;line-height: 15px;display: block;text-align: left;}

/* Breadcrumbs */
#rt-breadcrumbs .rt-block {margin: 0;padding: 10px 20px;}
#breadcrumbs h3, .leading_separator {display: none;}
.rt-breadcrumb-surround {position: relative;overflow: hidden;padding: 0;height: auto;}
span.breadcrumbs, #rt-breadcrumbs .breadcrumbs {display: inline-block;font-size: 120%;overflow: hidden;}
span.breadcrumbs img {float:left;margin-top: 6px;}
.breadcrumbs img[src $="arrow.png"] {float:left;height: 0;width: 6px;margin-top: 6px;padding-top: 12px;background-position: 2px 1px;background-repeat: no-repeat;}
span.breadcrumbs a, span.no-link, .pathway, span.showHere {padding: 5px;margin: 0;float: left;display: block;line-height: 100%;}
.breadcrumbs .separator-item {float: left;display: inline-block;margin-top: 2px;}

/* Date Feature */
.rt-date-feature span {font-size: 120%;line-height: 130%;padding: 2px 0;}

/* Fontsizer Feature */
#rt-accessibility .rt-desc {font-size: 120%;}

/* Popup/Login Module Feature */
.loginbutton-block, .popupbutton-block {margin: 0;}
#rt-login-button .buttontext, #rt-popup-button .buttontext {font-size: 130%;line-height: 130%;font-weight: normal;}
#rt-popup .module-content, #rt-popuplogin .module-content {margin: 0;}
#rt-popup .rt-block, #rt-popuplogin .rt-block {margin: 0;padding: 0;}
#rt-popup .title, #rt-popuplogin .title {padding: 0;margin-bottom: 15px;margin-top: 0;}
#rt-popuplogin p {float: left;margin-bottom: 10px;}
#rt-popuplogin p:first-child {margin-right: 10px;}
#rt-popuplogin .readon {float: right;}
#rt-popuplogin ul li {float: none;display: inline-block;margin-right: 10px;}

/* ToTop Feature */
#rt-copyright .totop-block {text-align: center;padding: 10px 15px 0;}
#gantry-totop {font-size: 110%;line-height: 110%;font-weight: normal;padding: 4px 0 4px 20px;margin: 0 auto;background-position: 50% 12px;background-repeat: no-repeat;width: 23px;height: 28px;display: block;border-radius: 3px 3px 0 0;transition: background 0.2s linear;}

/* Standard Horizontal Menu */
.horizmenu ul.menu {margin: 0;padding: 0;list-style: none;}
.horizmenu ul.menu li {list-style: none;display: inline-block;margin-right: 25px;}
.horizmenu ul.menu li a, .horizmenu ul.menu li .item, .horizmenu ul.menu li .separator {padding: 0;display: inline-block;font-size: 1.1em;}
.horizmenu ul.menu li a span, .horizmenu ul.menu li .item span, .horizmenu ul.menu li .separator span {padding: 0;display: inline-block;}

/* Custom Content */
img.feature-img {width: 212px;height: 150px;padding: 5px;}
.feature-img-surround {width: 222px;height: 178px;}
.image-block-surround {width: 160px;height: 150px;float: left;margin-right: 15px;}
img.image-block {width: 150px;height: 122px;padding: 5px;position: relative;}
.content-block {overflow: hidden;}
.number-image {display: inline-block;float: left;margin-right: 15px;margin-bottom: 15px;padding: 5px;position: relative;}
.number-image-text {display: block;text-transform: uppercase;font-weight: bold;font-size: 20px;padding-top: 10px;margin: 0 0 -8px -5px;}
.heading1 {font-size: 160%;display: block;margin-bottom: 15px;}

/* iPhone */
body #gantry-viewswitcher {z-index: 100;right:50%;position:relative;top:inherit;right:inherit;margin: 1em auto;}