/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Logo */
body.rtl #logo-color {left: 125px;}

/* Navigation */
body.rtl .rt-menubar {float: left;}
body.rtl .menutop li.root .item, body.rtl .rt-menubar .menutop li .item {border-left-width: 0;border-right-width: 1px;}
body.rtl .menutop ul li > .item:hover, body.rtl .menutop li.f-menuparent-itemfocus > .item, body.rtl .menutop ul li.active > .item, body.rtl .menutop li.active.f-menuparent-itemfocus > .item {margin: -1px 0 0 -2px;}

/* Module Variations - Icon */
body.rtl .icon-surround {padding-left: 0;padding-right: 22px;}
body.rtl .module-icon {left: inherit;right: 0;}
body.rtl .title1 .title, body.rtl .title2 .title, body.rtl .title3 .title, body.rtl .title4 .title {padding: 2px 25px 2px 7px}
body.rtl .title1 .arrow-box, body.rtl .title2 .arrow-box, body.rtl .title3 .arrow-box {float: right;background-position: 6px -670px;}
body.rtl .title.title3 .arrow-box, body.rtl .title4 .arrow-box {background-position: 6px -479px;float: right;}

/* Side Menus */
body.rtl .module-content ul.menu li li a span, body.rtl .module-content ul.menu li li .separator, body.rtl .module-content ul.menu li li .item span {padding: 5px 20px 5px 10px;}
body.rtl .module-content ul.menu .image img {float: right;}
body.rtl .module-content ul.menu .item.image {padding-left: inherit;padding-right: 8px;}
body.rtl .module-content ul.menu ul {padding: 10px 15px 15px 0;}
body.rtl .module-content ul.menu li a span, body.rtl .module-content ul.menu li .separator, body.rtl .module-content ul.menu li .item span {background-position: 98% -356px;}
body.rtl .module-content ul.menu li a:hover span, body.rtl .module-content ul.menu li .separator:hover, body.rtl .module-content ul.menu li .item:hover span, body.rtl .module-content ul.menu li.active > a span, body.rtl .module-content ul.menu li.active > .separator, body.rtl .module-content ul.menu li.active > .item span {background-position: 101% 14px;}
body.rtl .module-content ul.menu li.parent li a span, body.rtl .module-content ul.menu li.parent li .item span, body.rtl .module-content ul.menu li.parent li .separator span {background-position: 100% -82px;}
body.rtl .module-content ul.menu li.parent li.active > a > span, body.rtl .module-content ul.menu li.parent li.active > .item > span, body.rtl .module-content ul.menu li.parent li.active > .separator > span {background-position: 100% -468px;}
body.rtl .module-content ul.menu li.parent li a:hover span, body.rtl .module-content ul.menu li.parent li .item:hover span, body.rtl .module-content ul.menu li.parent li .separator:hover span {background-position: 100% -468px;}

/* Buttons and Inputs */
body.rtl .rokchecks, body.rtl .rokradios {padding: 3px 25px 3px 0;}
body.rtl .rokradios {background-position: 100% 1px;}
body.rtl .rokradios-active {background-position: 100% -159px;}
body.rtl .rokchecks {background-position: 100% -341px;}
body.rtl .rokchecks-active {background-position: 100% -488px;}

/* Branding */
body.rtl #rocket {float: left;}

/* Copyright */
body.rtl .copytext {text-align: right;}

/* Breadcrumbs */
body.rtl span.breadcrumbs a, body.rtl span.no-link {float: right;}
body.rtl span.breadcrumbs img, body.rtl #rt-breadcrumbs img[src $="arrow.png"] {float: right;}

/* Login Form - Horizontal */
body.rtl #rt-header #form-login .readon, body.rtl .horizontal #form-login .readon {left: 0;right: inherit;}
body.rtl #rt-header #form-login-username, body.rtl .horizontal #form-login-username {float: right;margin-left: 15px;margin-right: 0;}

/* Popup Module Feature */
body.rtl #rt-popuplogin p {float: right;}
body.rtl #rt-popuplogin p:first-child {margin-right: 0;margin-left: 10px;}
body.rtl #rt-popuplogin .readon {float: left;}
body.rtl #rt-popuplogin ul li {margin-right: 0;margin-left: 10px;}

/* Custom Content */
body.rtl .image-block-surround {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image-text {margin: 0 -5px -8px 0;}