/**
 * @version   1.1 November 13, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
 
/* General */

body.rtl .rt-article ol li {margin-right: 15px;}

/* Pagination */

.pagination {padding: 0 0 15px; margin-top: 5px;}
.rt-pagination {margin-bottom: 10px;}
.rt-page .rt-pagination a, div.rt-post .rt-pagination a {font-size: 130%; font-weight: bold;}
.rt-page #comments .rt-pagination a, div.rt-post #comments .rt-pagination a {font-size: 100%; font-weight: normal;}

/* Pagination - Full */

.rt-pagination .full-nav .page-numbers, .rt-pagination .full-nav .older_posts, .rt-pagination .full-nav .newer_posts {padding: 3px; font-size: 110%;}
.rt-pagination .full-nav .pages-nav {display: inline-block;}
.rt-pagination .full-nav .newer_posts, body.rtl .rt-pagination .full-nav .older_posts {margin-right: 10px;}
.rt-pagination .full-nav .older_posts, body.rtl .rt-pagination .full-nav .newer_posts {margin-left: 10px;}

/* Page & Single */

div.edit-entry {margin: 10px 0;}

/* Single */

.rt-post .rt-post-footer small {font-size: 90%; line-height: 130%;}
.rt-post .rt-post-footer {margin: 10px 0 15px 0;}

.rt-post .rt-tags {overflow: hidden; display: block; margin: 20px 0; padding: 8px; border-radius: 3px;}
.rt-post .rt-tags .rt-block {padding: 0; margin: 0;}
.rt-post .rt-tags span {font-weight: bold;}
.rt-post .rt-tags .rt-block a {-moz-transition: none;-o-transition: none;-webkit-transition: none;transition: none; display: inline-block;}
.rt-post .rt-tags .rt-block a, .rt-post .rt-tags .rt-block a:hover {border-radius: 2px;font-size: 11px !important;font-weight: normal;margin: 5px;padding: 0 4px;}

/* Tag Cloud Widget */

.widget_tag_cloud .tagcloud a {-moz-transition: none;-o-transition: none;-webkit-transition: none;transition: none; display: inline-block;}
.widget_tag_cloud .tagcloud a, .widget_tag_cloud .tagcloud a:hover {border-radius: 2px;font-size: 11px !important;font-weight: normal;margin: 5px;padding: 0 4px;}

/* Search */

.search-excerpt {background: #FBDE21; color: #000000;}

/* Recent Comments Widget */

.main-body-light .widget_gantry_recentcomments ul.comments li {background:url(../images/comments/light/speach-bubble.png) 100% 0 no-repeat;}
.main-body-dark .widget_gantry_recentcomments ul.comments li {background:url(../images/comments/dark/speach-bubble.png) 100% 0 no-repeat;}
.widget_gantry_recentcomments ul.comments li img {padding: 0; right: 0;}

/* Comments General */

.rt-wordpress #jc h3.title {margin: 0 0 15px; font-weight: normal; padding: 0; font-size: 175%;}
.font-family-clarion .rt-wordpress #jc h3.title {font-family: RobotoRegular,Helvetica,Arial,sans-serif;}
#jc {padding: 10px;}
#jc #comments {padding-bottom: 20px;}
#jc .comments-list .rbox #respond {margin-top: 20px;}

/* Comments Standard - General */

#comments.comments-standard .thread-odd .rbox_m {background-position: 50% 100%;background-repeat: repeat-x;}
.content-overlay-light #comments.comments-standard .thread-even .rbox_m {background: url(../images/overlays/global/dark-10.png);}
.content-overlay-dark #comments.comments-standard .thread-even .rbox_m {background: url(../images/overlays/global/light-10.png);}

#comments.comments-standard {margin: 0; padding: 0; width: 100%; text-align: left;}
#comments.comments-standard .clear {clear: both; height: 1px; overflow: hidden}

#comments.comments-standard .rbox {line-height: 140%;}
#comments.comments-standard .rbox .comment-box {margin: 0 0 0 65px; padding: 0;}

/* Comments Standard - Avatar */

#comments.comments-standard .comment-avatar {float: left; margin: 0 5px 0 0; padding: 0;}
#comments.comments-standard .comment-avatar img.avatar {background: #FFFFFF;border-bottom: 1px solid #D7D7D7;border-left: 1px solid #F2F2F2;border-right: 1px solid #F2F2F2;float: left;margin: 4px 4px 4px 0;padding: 4px;}

/* Comments Standard - Comments List */

#comments.comments-standard .rbox {margin: 0 0 15px;}
#comments.comments-standard .rbox .comments-list {margin-left: 0;}
#comments.comments-standard .rbox .comment-body {margin-top: 5px;}
#comments.comments-standard .rbox .comment-author, #comments.comments-standard .rbox .author-homepage {font-weight: bold;}
#comments.comments-standard .rbox .rbox_m {padding: 10px;}

/* Comments Standard - Date */

#comments.comments-standard .rbox .comment-date {font-size: 10px; margin: 0; padding: 0 0 0 12px; background: url(../images/comments/jc_date.gif) no-repeat center left}
#comments.comments-standard .rbox a[rel*=external] {background: url(../images/comments/jc_link.gif) no-repeat center right; padding: 0 10px 0 0; margin: 0 2px 0 0;}

/* Comments Standard - Blockquote and Code styling */

#comments.comments-standard .quote, #comments.comments-standard blockquote, #comments.comments-standard .code, #comments.comments-standard code, #comments.comments-standard pre {margin: 0; display: block; background-image: none;}
#comments.comments-standard blockquote, #comments.comments-standard .hidden, #comments.comments-standard code, #comments.comments-standard pre {text-align: left; padding: 8px; margin-bottom: 8px}
#comments.comments-standard blockquote, #comments.comments-standard .hidden {font-size: 110%;}
#comments.comments-standard code, #comments.comments-standard pre {overflow: hidden; white-space:normal; border: 1px solid; border-color: inherit; color: inherit;}
#comments.comments-standard .code {background: none; border: none; padding:0}
#comments.comments-standard .hidden {clear: both;display: block;margin: 5px 0}

/* Comments Standard - Respond */

#jc #respond p {margin-bottom: 10px;}

/* Comments Standard - Threading */

#comments.comments-standard .comments-list .depth-2 .rbox {margin-left: 5%;}
#comments.comments-standard .comments-list .depth-3 .rbox {margin-left: 10%;}
#comments.comments-standard .comments-list .depth-4 .rbox {margin-left: 15%;}
#comments.comments-standard .comments-list .depth-5 .rbox {margin-left: 20%;}
#comments.comments-standard .comments-list .depth-6 .rbox {margin-left: 25%;}
#comments.comments-standard .comments-list .depth-7 .rbox {margin-left: 30%;}
#comments.comments-standard .comments-list .depth-8 .rbox {margin-left: 35%;}
#comments.comments-standard .comments-list .depth-9 .rbox {margin-left: 40%;}

/* Comments Standard - RTL */

body.rtl #comments.comments-standard {text-align: right;}
body.rtl #comments.comments-standard .comment-box {text-align: right;}
body.rtl #comments.comments-standard .comment-avatar {float: right; margin: 0 0 0 10px;}
body.rtl #comments.comments-standard .rbox .comment-box {margin: 0 55px 0 0; padding: 0;}
body.rtl #comments.comments-standard code, body.rtl #comments.comments-standard pre {text-align: right;}

body.rtl #comments.comments-standard .comments-list .depth-2 .rbox {margin-right: 5%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-3 .rbox {margin-right: 10%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-4 .rbox {margin-right: 15%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-5 .rbox {margin-right: 20%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-6 .rbox {margin-right: 25%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-7 .rbox {margin-right: 30%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-8 .rbox {margin-right: 35%; margin-left: 0;}
body.rtl #comments.comments-standard .comments-list .depth-9 .rbox {margin-right: 40%; margin-left: 0;}

/* Write Comment */

#comments-form {margin: 15px 0 0;}
#comments-form textarea {font-family:Helvetica,Arial,sans-serif; font-size:13px; height:120px; margin:0; padding:5px; width:97%; line-height: 16px; border: none;}
#comments-form #author, #comments-form #email, #comments-form #url {padding: 7px 5px; width:97%; font-family:Helvetica,Arial,sans-serif; font-size:13px; border: none;}
#comments-form #comments-form-send button.readon {border: none; padding: 0; cursor: pointer;}
#comments-form #comments-form-send button.readon span {margin-top: -1px; margin-left: -6px;}

body.rtl #jc #respond {text-align: right;}

/* Contact Form Template */

#rt-contact-form {margin-bottom: 20px;}
#rt-contact-form #rt-contact-name, #rt-contact-form #rt-contact-email {padding: 7px 5px; width:37%; font-family:Helvetica,Arial,sans-serif; font-size:13px; border: none;}
#rt-contact-form #rt-contact-message {width: 50%; padding: 7px 5px; font-family:Helvetica,Arial,sans-serif; font-size:13px; line-height: 16px; border: none;}
#rt-contact-form .contact-label {display: block; margin-bottom: 10px;}
#rt-contact-form span.required {font-weight: bold; color: #D0583F;}
#rt-contact-form .rt-send-copy {margin-bottom: 10px; display: block;}